{% load static from staticfiles %}
<div class="header">
	<h1 class="flag">rocket</h1>
	<div class="container login-link-container"><a class="login-link" href="{% url 'auth_login' %}">login</a></div>
	<div id="header-map"></div>
	<div id="header-map-overlay"></div>
	<div class="header-menu-bar">
		<div class="header-menu">
			<div class="edge"></div>
			<div class="item1"><a href = "/">What</a></div>
			<div class="item2"><a href="/how">How</a></div>
			<div class="item3"><a href="/who">Who</a></div>
			<div class="item4"><a href="/pricing">Pricing</a></div>
			<div class="edge"></div>
		</div>
	</div>
	<div class="hook">
		<div class="container">
			<h3>A better way to sell on Craigslist.</h3>
			<p class="lead">Powerful tools that integrate with the world's largest classified site.</p>
		</div>
	</div>
	<div class="header-signup">
		<form class="form-inline">
			<div class="header-signup-field-wrap">
				<input class="input-block-level" autocomplete="off" type="text" name="email" placeholder="Email"/>
			</div>
			<div class="header-signup-button-wrap">
				<button type="submit" class="btn">post to classifieds</button>
			</div>				
			<div class="clearfix"></div>
		</form>
	</div>
</div>
	{% comment %}
			<div class = "logo">
			<a href="{% url 'home' %}"><img class="logo" src="{% static 'img/text-logo.png' %}" width="250" height="60" alt="Rocket Listing"></a>
			</div>
				<div class = "login"><a href="{% url "auth_login" %}">LOGIN</a></div>
				<div class = "navbar">	
					<ul class="nav nav-pills">
							<li>
							<a href="{% url 'home' %}">HOME</a>
							</li>
							<li>
								<a href="{% url 'features' %}">FEATURES</a>
							</li>
							<li>
								<a href="{% url 'pricing' %}">PRICING</a>
							</li>
					</ul>
					<a class="btn btn-danger" href="{% url "registration_register" %}" data-toggle="modal"> SIGN-UP</a>
				</div>
			{% endif %}
		<div class="clearfix"></div>
		</div>	
	</div>
</div>

{% endcomment %}
