{% load static from staticfiles %}
<div class="header">
	<div class="container">
		<div class="upper">
			<a href="{% url 'home' %}"><img class="logo" src="{% static 'img/logo-beta.png' %}" width="180" height="67" alt="Rocket Listing"></a>
			<ul class="site-menu">
				<li class="inverse-corners-outer">
					<div class="inverse-corners-left-inner"></div>
				</li>
				<li>
					<a href="#modal-photo-upload" data-toggle="modal">Post Something</a>
				</li>
				<li class="inverse-corners-outer">
					<div class="inverse-corners-right-inner"></div>
				</li>
				<li class="inverse-corners-outer">
					<div class="inverse-corners-left-inner"></div>
				</li>
				<li class="inverseCornersOuter">
					<div class="inverseCornersRightInner"></div>
				</li>
			</ul>

			<ul class="contact-menu">
				<li class="inverse-corners-outer">
					<div class="inverse-corners-left-inner"></div>
				</li>
				<li class="left">
					<a href="{% url "contact" %}">Contact Us</a>
				</li>
				<li>
					<a href="/help">Learn More</a>
				</li>
				<li class="social">
					<a href="https://www.facebook.com/RocketListings" class="social" target="_blank"><img src="{% static 'img/facebook-icon.png' %}" alt="facebook"></a>
				</li>
				{% comment %} <li style="list-style: none; display: inline">
					<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
				</li>{% endcomment %}
				<li class="social right">
					<a href="https://twitter.com/intent/follow?user_id=604017970"><img src="{% static 'img/twitter-icon.png' %}" alt="Folow Rocket Listings"></a>
				</li>
				<li class="inverse-corners-outer">
					<div class="inverse-corners-right-inner"></div>
				</li>
			</ul>
			<ul class="action-menu">
				<li class="inverse-corners-outer">
					<div class="inverse-corners-left-inner"></div>
				</li>
				{% if user.is_authenticated %}
				<li class="left">
					<a href="{% url "users.views.listings" user.username %}">Listings <i class="icon-th-list icon-white"></i></a>
				</li>
				<li class="user-link">
					<a href="{% url "users.views.info" user.username %}">Account <i class="icon-user icon-white"></i></a>
				</li>
				<li class="right"><a href="{% url "auth_logout" %}">Logout <i class="icon-off icon-white"></i></a></li>
				{% else %}
				<li class="sign-in left">
					<a href="{% url "auth_login" %}">Login</a>
				</li>
				<li class="sign-in right">
					<a href="{% url "registration_register" %}">Register  <i class="icon-user icon-white"></i></a>
				</li>
				{% endif %}
				<li class="inverse-corners-outer">
					<div class="inverse-corners-right-inner"></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="separator-1"><div class="separator-2"></div></div>
</div>
