{% extends 'base.html' %}

{% block css %}
{# <link type="text/css" rel="stylesheet" href="/static/css/listings.css"/> #}
<link type="text/css" rel="stylesheet" href="/static/css/users.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/jquery.tablesorter.pager.css"/>
{% endblock %}

{% block js %}
{# <script src="{{ STATIC_URL }}js/listings.js" type="text/javascript"></script> #}
<script src="{{ STATIC_URL }}js/users.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/ZeroClipboard.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
{% endblock %}