{% extends 'users/base.html' %}
{% block title %}Account Info{% endblock %}
{% load static from staticfiles %}

  
{% block content %}
  {% if user.get_profile.name %}
  <h3><a class="name-header" href="{% url 'users.views.profile' user.username %}">{{ user.get_profile.name }}</a></h3>
  {% else %}
  <h3><a class="name-header" href="{% url 'users.views.profile' user.username %}">{{user.username}}</a></h3>
  {% endif %}

  <div class="content-wrapper row">
    <div class="info-form-wrapper col-lg-5">
      <div class="error-wrapper"></div>
      {% if first_visit %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Info Panel</h4>
            This is your info panel. Create your profile, connect Twitter and Facebook, and choose your listing defaults.
        </div>
      {% endif %}
      <form class="settings-form" action="" method="POST">
        {% csrf_token %}
        <div class="save-all-container">
          <span class="h4 user-info-label">User Info</span>
          {# <input class="btn btn-primary save-all disabled" type="submit" value="Save all"> #}
        </div>
        <table class="table table-hover">
          <tbody>
            <tr class="uneditable">
              <td>Username</td>
              <td><code class="username">{{ user.username }}</code></td>
              <td></td>
            </tr>
            <tr class="listing-credits-stats uneditable">
              <td class="credits-available">Credits Available</td>
              <td id="credit-counter">{{ credits }}</td>
              <td></td>
            </tr>
            <tr class="uneditable">
              <td>Credits Used</td>
              <td>{{ credits_spent }}</td>
              <td></td>
            </tr>
            <tr class="editable">
              <td>Name</td>
              <td class="partial-input">
                <input class="form-control" tabindex="1" name="name" type="text" autocomplete="off" value="{{ user.get_profile.name }}" placeholder="John Doe">
              </td>
              <td><a class="edit active" href="#">Edit</a></td>
            </tr>
            <tr class="editable"> 
              <td>Email</td>
              <td class="partial-input">
                <input class="user-email form-control" tabindex="2" name="email" type="text" autocomplete="off" value="{{ user.email }}" placeholder="johndoe@gmail.com">
              </td>
              <td><a class="edit active" href="#">Edit</a></td>
            </tr>
            
            <tr class="uneditable">
              <td>Profile Picture</td>
              {% if user.get_profile.propic %}
              <td>
                <div class="propic-wrapper">
                  <img class="propic" src="{{user.get_profile.propic}}" height="100px" width="100px">
                  <span class="loading-overlay hide"><img src="{% static 'users/img/100px_loading.gif' %}"></span>
                </div>
                <input class="propic-url" type="hidden" name="propic" value="{{user.get_profile.propic}}">
              </td>
              {% else %}
              <td>
                <div class="propic-wrapper">
                  <img class="propic" src="http://placekitten.com/100/100" height="100px" width="100px">
                  <span class="loading-overlay hide"><img src="{% static 'users/img/100px_loading.gif' %}"></span>
                </div>
                <input class="propic-url" type="hidden" name="propic" value="">
              </td>
              {% endif %}
              <td><a class="change-propic active" href="#">Change Picture</a></td>
            </tr>

            <tr class="uneditable">
              <td>Password</td>
              <td>&#149;&#149;&#149;&#149;&#149;&#149;&#149;&#149;</td>
              <td><a class="change-password active" href="/users/password/change/">Change Password</a></td>
            </tr>
            <tr class="editable">
              <td>Phone</td>
              <td class="partial-input">
                <input class="form-control" tabindex="3" name="phone" type="text" autocomplete="off" value="{{ user.get_profile.phone }}" placeholder="(888) 888-8888">
              </td>
              <td><a class="edit active" href="#">Edit</a></td>
            </tr>
            <tr class="editable">
              <td>Location</td>
              <td class="partial-input">
                <input class="form-control" tabindex="4" id="id_location" autocomplete="off" name="location" type="text" value="{{ user.get_profile.location }}" placeholder="Burlington, VT">
              </td>
              <td><a class="edit active" href="#">Edit</a></td>
            </tr>
            <tr class="editable">
              <td>Bio</td>
              <td class="partial-input">
                <textarea class="form-control" tabindex="5" name="bio" autocomplete="off" rows="3" placeholder="Click to write your bio">{{ user.get_profile.bio }}</textarea>
              </td>
              <td><a class="edit active" href="#">Edit</a></td>
            </tr>
            <tr>
              <td class="subheader"><h4>Identity</h4></td>
            </tr>
            <tr>
              <td></td>
              <td class="info text-muted">
                Trust is a major problem on Craigslist, and connecting your account is an easy way to show that you're a real person. We'll only use your accounts to put links to your public-facing profiles in each of your Craigslist postings. We promise to never spam your friends.
              </td>
              <td></td>
            </tr>
            <tr class="uneditable">
              <td>Twitter</td>
              <td>
                <span class="at {% if not user.get_profile.twitter_handle %}hide{% endif %}">@</span><span class="twitter-handle">{{ user.get_profile.twitter_handle }}</span>
              </td>
              <td>
                <a class="verify-twitter {% if user.get_profile.twitter_handle %}hide{% endif %}" href="#">Connect</a>
                <a class="disconnect-twitter {% if not user.get_profile.twitter_handle %}hide{% endif %}" href="#">Disconnect</a>
              </td>
            </tr>
            <tr class="uneditable">
              <td>Facebook</td>
              <td>
                <span class="fb-name">{{ fb.name }}</span>
              </td>
              <td>
                <a class="connect-fb {% if fb.name %}hide{% endif %}" href="#">Connect</a>
                <a class="disconnect-fb {% if not fb.name %}hide{% endif %}" href="#">Disconnect</a>  
              </td>
            </tr>
            <tr>
              <td class="subheader"><h4>Listings</h4></td>
            </tr>
            <tr class="editable">
              <td>Seller Type</td>
              <td class="select">
                <select class="form-control" id="id_seller_type" name="seller_type" value="{{user.get_profile.seller_type}}">
                  {% for value, text in form.seller_type.field.choices %}
                    <option value="{{value}}" {% ifequal value form.seller_type.value %}selected="selected"{%endifequal%}>{{text}}</option>
                  {% endfor %}
                </select>
              </td>
              <td></td>
            </tr>
            <tr class="editable">
              <td>Default Category</td>
              <td class="select">
                <select class="form-control" id="id_default_category" name="default_category" value="{{user.get_profile.default_category.id}}">
                  {% for option in form.default_category.field.choices.queryset %}
                        <option value="{{forloop.counter}}" {% ifequal option user.get_profile.default_category %}selected="selected"{%endifequal%}>{{option}}</option>
                  {% endfor %}
                </select>
              </td>
              <td></td>
            </tr>
            
          </tbody>
        </table>
        <a class="delete-account-modaltrigger text-danger" role="button" data-toggle="modal" href="#delete-account-modal">Delete account</a>
        <input class="btn btn-primary save-all disabled" type="submit" value="Save">
      </form>
    </div>
    <div class="listing-credits-wrapper col-lg-3">
      <span class="h4">Ways to get free listing credits</span>
      <ul class="listing-credits-more">
        <li id="profile-completed" class="{% if profile_completed_once %}completed{% endif %}">
          <span>Completing your profile</span>
          <span>2</span>
        </li>
        <li id="twitter-linked" class="{% if twitter_connected_once %}completed{% endif %}">
          <span>Connecting to Twitter</span>
          <span>2</span>
        </li>
        <li id="facebook-linked" class="{% if facebook_connected_once %}completed{% endif %}">
          <span>Connecting to Facebook</span>
          <span>2</span>
        </li>
        <li>
          <span>Inviting friends</span>
          <span>(TBD)</span>
        </li>
      </ul>
    </div>
  </div>

  <div id="delete-account-modal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Delete account</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete your account?</p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <a class="delete-account-btn btn btn-danger" href="/users/delete">Delete account</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}