{% extends 'base.html' %}
{% load static from staticfiles %}
{% load compress %}

{% block css %}

{% compress css %}
<link rel="stylesheet" type="text/less" media="all" href="{% static 'users/vendorcss/slider.css' %}"/>
<link rel="stylesheet" type="text/less" media="all" href="{% static 'users/less/users.less' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'rocket/vendorcss/jquery.tablesorter.pager.css' %}"/>
{% endcompress %}
{% endblock %}

{% block js %}
<script>var STATIC_URL={{ STATIC_URL }};</script>
{# <script src="//connect.facebook.net/en_US/all.js"></script>  #}
<script src="{% static 'users/js/bootstrap-slider.js' %}" type="text/javascript" ></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuRtB1F8XVtV22jQ3dkGQPqWCKQz4suJ0&sensor=true"></script>
{% compress js %}
<script src="{% static 'rocket/js/ZeroClipboard.js' %}" type="text/javascript" ></script>
<script src="{% static 'rocket/js/jquery.tablesorter.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'users/js/filepicker.js' %}"></script>
<script src="{% static 'users/js/users.js' %}" type="text/javascript"></script>
<script src="{% static 'users/js/md5.js' %}" type="text/javascript"></script>
{% endcompress %}
{% endblock %}
