{% extends 'users/users_base.html' %}
{% block title %}Account Info{% endblock %}
{% load static from staticfiles %}

{% block content %}
	{% if user.get_profile.name %}
	<h3><a class="name-header" href="{% url 'users.views.profile' user.username %}">{{ user.get_profile.name }}</a></h3>
	{% else %}
	<h3><a class="name-header" href="{% url 'users.views.profile' user.username %}">{{user.username}}</a></h3>
	{% endif %}

	<div class="content-wrapper">
		<div class="errors alert alert-error hide"></div>

		<form class="form-horizontal" action="" method="POST">
			<h4 style="padding-left: 5px">User Info<input style="margin-top: -5px" class="btn btn-info save-all disabled" type="submit" value="Save all"></h4>
			<table class="table table-hover">
				<tbody>
					<tr class="uneditable">
						<td>Username:</td>
						<td><code class="username rocket-code">{{ user.username }}</code></td>
						<td></td>
					</tr>
					<tr class="editable">
						<td>Name:</td>
						<td class="partial-input">
							<input tabindex="1" name="name" type="text" autocomplete="off" value="{{ user.get_profile.name }}" placeholder="John Doe">
						</td>
						<td><a class="edit active" href="#">Edit</a></td>
					</tr>
					<tr class="editable"> 
						<td>Email:</td>
						<td class="partial-input">
							<input tabindex="2" name="email" type="text" autocomplete="off" value="{{ user.email }}" placeholder="johndoe@gmail.com">
						</td>
						<td><a class="edit active" href="#">Edit</a></td>
					</tr>
					<tr class="uneditable">
						<td>Twitter Handle:</td>
						<td>
							<span class="at muted">@</span><span class="twitter-handle">{{ user.get_profile.twitter_handle }}</span>
						</td>
						<td>
							<span></span>
							<a class="verify-twitter" href="#">Verify with Twitter</a>
						</td>
					</tr>
					<tr class="uneditable">
						<td>Profile Picture:</td>
						{% if user.get_profile.propic %}
						<td>
							<div class="propic-wrapper">
								<img class="propic" src="{{user.get_profile.propic}}" height="100px" width="100px">
								<span class="loading-overlay hide"><img src="{% static 'users/img/100px_loading.gif' %}"></span>
							</div>
							<input class="propic-url" type="hidden" name="propic" value="{{user.get_profile.propic}}">
						</td>
						{% else %}
						<td>
							<div class="propic-wrapper">
								<img class="propic" src="{% static 'users/img/no-photo.png' %}" height="100px" width="100px">
								<span class="loading-overlay hide"><img src="{% static 'users/img/100px_loading.gif' %}"></span>
							</div>
							<input class="propic-url" type="hidden" name="propic" value="">
						</td>
						{% endif %}
						<td><a class="change-propic active" href="#">Change Picture</a></td>
					</tr>
					<tr class="uneditable">
						<td>Password:</td>
						<td>&#149;&#149;&#149;&#149;&#149;&#149;&#149;&#149;</td>
						<td><a class="change-password active" href="/users/password/change/">Change password</a></td>
					</tr>
					<tr class="editable">
						<td>Phone:</td>
						<td class="partial-input">
							<input tabindex="3" name="phone" type="text" autocomplete="off" value="{{ user.get_profile.phone }}" placeholder="(888) 888-8888">
						</td>
						<td><a class="edit active" href="#">Edit</a></td>
					</tr>
					<tr class="editable">
						<td>Location:</td>
						<td class="partial-input">
							<input tabindex="4" id="id_location" autocomplete="off" name="location" type="text" value="{{ user.get_profile.location }}" placeholder="Burlington, VT">
						</td>
						<td><a class="edit active" href="#">Edit</a></td>
					</tr>
					<tr class="editable">
						<td>Bio:</td>
						<td class="partial-input">
							<textarea tabindex="5" name="bio" autocomplete="off" rows="3" placeholder="Click to write your bio">{{ user.get_profile.bio }}</textarea>
						</td>
						<td><a class="edit active" href="#">Edit</a></td>
					</tr>
					<tr>
						<td class="subheader"><h4>Listings</h4></td>
					</tr>
					<tr class="uneditable">
						<td>Rocket Email:</td>
						<td><code class="rocket-code">{{user.username}}@rocketlistings.mailgun.org</code></td>
						<td></td>
					</tr>
					<tr class="editable">
						<td>Default Listing Type:</td>
						<td class="select">
							<select tabindex="6" name="default_listing_type.name">
								<option class="" selected="true">{{ user.get_profile.default_listing_type.name }}</option>
							</select>
						</td>
						<td></td>
					</tr>
					<tr class="editable">
						<td>Default Category:</td>
						<td class="select">
							<select tabindex="7" name="default_category">
								<option class="" selected="true">{{ user.get_profile.default_category.name }}</option>
							</select>
						</td>
						<td></td>
					</tr>
					<tr>
						<td class="subheader"><h4>Privacy</h4></td>
					</tr>
					<tr class="editable">
						<td>Name:</td>
						<td class="select">
							<select tabindex="8" name="nameprivate">
								{% if user.get_profile.nameprivate %}
								<option value="False">Public</option>
								<option value="True" selected="true">Private</option>
								{% else %}
								<option value="False" selected="true">Public</option>
								<option value="True">Private</option>
								{% endif %}
							</select>
						</td>
						<td></td>
					</tr>
					<tr class="editable">
						<td>Location:</td>
						<td class="select">
							<select tabindex="9" name="locationprivate">
								{% if user.get_profile.locationprivate %}
								<option value="False">Public</option>
								<option value="True" selected="true">Private</option>
								{% else %}
								<option value="False" selected="true">Public</option>
								<option value="True">Private</option>
								{% endif %}
							</select>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<a class="delete-account-modaltrigger text-error" role="button" data-toggle="modal" href="#delete-account-modal">Delete account</a>
			<input class="btn btn-info save-all disabled" type="submit" value="Save all">
		</form>
	</div>

	<div id="delete-account-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="delete-account-modal" aria-hidden="true">
		<div class="modal-header">
			<h3>Delete account</h3>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to delete your account?</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<a class="delete-account-btn btn btn-danger" href="/users/delete">Delete account</a>
		</div>
	</div>

{% endblock %}
