{% extends 'base.html' %}
{% load static from staticfiles %}
{% load compress %}

{% block css %}
{% compress css %}
<link rel="stylesheet" type="text/less" media="all" href="{% static 'users/less/users.less' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'rocket/vendorcss/jquery.tablesorter.pager.css' %}"/>
{% endcompress %}
{% endblock %}

{% block js %}
<script src="//connect.facebook.net/en_US/all.js"></script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuRtB1F8XVtV22jQ3dkGQPqWCKQz4suJ0&sensor=true"></script>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
{% compress js %}
<script src="{% static 'rocket/js/ZeroClipboard.js' %}" type="text/javascript" ></script>
<script src="{% static 'rocket/js/jquery.tablesorter.min.js' %}" type="text/javascript"></script>
{# <script src="{% static 'js/jquery.simplemodal.js' %}" type="text/javascript"></script> #}
{# <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>#}
{# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuRtB1F8XVtV22jQ3dkGQPqWCKQz4suJ0&sensor=true"></script> #}
{# <script src="{% static 'users/js/jquery.autoellipsis-1.0.10.min.js' %}" type="text/javascript"></script> #}
<script type="text/javascript" src="{% static 'users/js/filepicker.js' %}"></script>
<script src="{% static 'users/js/users.js' %}" type="text/javascript"></script>
{# <script src="{% static 'js/ZeroClipboard.js' %}" type="text/javascript" ></script> #}
{% endcompress %}
{% endblock %}
