{% extends 'users/users_base.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="profile-content">
	<div class="row">
		<div class="span8 span-left">
		{% include "users/partials/profile_header.html" %}
			<div class="comments">	
				{% include "users/partials/profile_comments.html" %}
				{% include "users/partials/profile_comment_form.html" %}
			</div>
		</div>
		<div class="span3">
			{% include "users/partials/profile_stats.html" %}
			{% include "users/partials/profile_listings.html" %}
		</div>
	</div>
</div>
{% endblock %}