{% extends 'listings/base.html' %}
{% load thumbnail %}
{% load static from staticfiles %}
{% load compress %}

{% block js %}
{{ block.super }}
<script>
  filepicker.setKey('ATM8Oz2TyCtiJiHu6pP6Qz');

  $(document).ready(function(){
    $('.carousel').carousel({ interval: 10000 });
  });
</script>
{% endblock %}

{% block content %}
<div class="row"> 
  <div class="span2">
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="edit-btn btn btn-primary active edit_button">Edit</button>
      <button type="button" class="preview-btn btn btn-primary preview_button">Preview</button>
    </div>
    <button type="button" style="margin-left:10px;" class="btn btn-primary" onclick="validateForm()">Submit Changes</button>
  </div>
  <div class="span10">
   {% include 'listings/partials/edit.html' %}
   {# {% include 'listings/partials/preview.html' %} #}
 </div>
</div>
{% endblock %}