{% extends 'marginless.html' %}
{% load static from staticfiles %}
{% load compress %}

{% block title %}{{ block.super }} Dashboard{% endblock %}

{% block css %}
{% compress css %}
<style>
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
</style>
<link type="text/less" media="all" rel="stylesheet" href="{% static 'listings/less/listings.less' %}"/>
{% endcompress %}
{% endblock %}

{% block js %}
	{% compress js %}
	<script src="{% static 'rocket/js/mustache.js' %}"></script>
	<script src="{% static 'listings/js/list.min.js' %}"></script>
	<script src="{% static 'rocket/js/global.js' %}"></script>
	<script src="{% static 'listings/js/dashboard.js' %}" type="text/javascript"></script>
	{% endcompress %}
{% endblock %}

{% block content %}
<p class="last-listing hide">{{latest.0}}</p>
<p class="last-buyer hide">{{latest.1}}</p>
<p class="last-message hide">{{latest.2}}</p>

{% if first_visit %}
<div class="alert alert-info col-lg-6 col-offset-3 clearfix">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<h4>Listings Dashboard</h4>
	This is your Listings Dashboard.  Here you can easily review and manage all of your listings, buyers, and messages.
</div>
{% endif %}

<div id="dashboard-content">
<!-- For search to work -->
	<div class="dashboard-header col-lg-12 col-lg-fixed">
		<div class="dashboard-title">
			<div class="h4">Listings<br>Dashboard</div>
		</div>
		<div class="dashboard-search">
			<input type="search" class="form-control search" data-table="order-table" placeholder="Type to search"/>
		</div>
		<div class="dropdown dashboard-dropdown">
			<a class="btn btn-primary dropdown-btn" data-toggle="dropdown" href="#">Filter</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			    <li><a id="filter-none" tabindex="-1" href="#" data-toggle="dropdown">All</a></li>
			    <li><a id="filter-active" tabindex="-1" href="#" data-toggle="dropdown">Active</a></li>
			    <li><a id="filter-draft" tabindex="-1" href="#" data-toggle="dropdown">Draft</a></li>
			    <li><a id="filter-deleted" tabindex="-1" href="#" data-toggle="dropdown">Deleted</a></li>
		    </ul>
		</div>
		<div class="dashboard-delete">
			<a class="btn btn-primary disabled" data-listing-id="">Delete</a>
		</div>
		<div class="dashboard-refresh phone-hide">
			<a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-repeat"></span></a>
		</div>
		<div class="dashboard-create">
			<a class="btn btn-primary" href="{% url 'create' %}">Create a Listing</a>
		</div>

	</div>
	<div class="dashboard-panel {% if first_visit %}first-visit{% endif %}">
		<div class="sidebar phone-hide">
			{% include 'listings/partials/dashboard_sidebar.html' %}
		</div>
		<div class="listings-col phone-full-width" id="listings-col">
			{% include 'listings/partials/listings_panel.html' %}
		</div>
		<div class="buyer-message-wrapper phone-hide">
			<span class="inbox-header">Inbox</span>
			<span class="no-messages">You have no messages for this listing.</span>
			<div class="buyers-col">
				{% include 'listings/partials/buyers_panel.html' %}
			</div>
			<div class="messages-col">
				{% include 'listings/partials/messages_panel.html' %}
			</div>
		</div>
	</div>

	{% comment %}
	<div class="modal-box">
		<div class="keyboard-shortcuts-model">
			<div class="keyboard-pane">
				<code>j</code> / <code><span class="glyphicon glyphicon-arrow-down"></span></code><br>
				<code>k</code> / <code><span class="glyphicon glyphicon-arrow-up"></span></code> select previous listing or buyer<br>
				<code>b</code> / <code><span class="glyphicon glyphicon-arrow-right"></span></code> switch to buyers pane<br>
				<code>l</code> / <code><span class="glyphicon glyphicon-arrow-left"></span></code> switch to listings pane<br>
				<code>/</code> search listings<br>
				<code>m</code> send a message<br>
				<code>n</code> create a new listing<br>
				<code>r</code> refresh the dashboard<br>
			</div>
			<div class="keyboard-pane">
			</div>
		</div>
	</div>
	{% endcomment %}

</div>
{% endblock %}

