{% extends 'marginless.html' %}
{% load static from staticfiles %}
{% load compressed %}

{% block title %}{{ block.super }} Dashboard{% endblock %}

{% block css %}
<style>
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
</style>
{% compressed_css 'listings_base' %}
{% endblock %}

{% block js %}
  <script src="{% static 'rocket/js/mustache.js' %}"></script>
  <script src="{% static 'listings/js/list.min.js' %}"></script>
  <script src="{% static 'rocket/js/global.js' %}"></script>
  <script src="{% static 'listings/js/dashboard.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<p class="last-listing hide">{{latest.0}}</p>
<p class="last-buyer hide">{{latest.1}}</p>
<p class="last-message hide">{{latest.2}}</p>

{% if first_visit %}
<div class="alert alert-info col-lg-6 col-lg-offset-3 clearfix">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>The<br/> Dashboard</h4>
  This is your Listings Dashboard.  Here you can easily review and manage all of your listings, buyers, and messages.
</div>
{% endif %}

<div id="dashboard-content">
<!-- For search to work -->
  <div class="dashboard-header col-lg-12 col-lg-fixed">
    <div class="dashboard-header-inner">
      <div class="dashboard-item dashboard-title">
        <div class="h4">The<br>Dashboard</div>
      </div>
      {# <div class="dashboard-search"> #}
      <div class="input-group input-group-sm dashboard-search">
        <input type="search" class="form-control search" data-table="order-table" placeholder="Search"/>
        <span class="input-group-addon dashboard-search-btn"><span class="glyphicon glyphicon-search"></span></span>
      </div>
      {# </div> #}
      {# <div class="dashboard-search-button"> #}
        {# <a class="dashboard-search-btn btn btn-primary" href="#"><span class="glyphicon glyphicon-search"></span></a> #}
      {# </div> #}
      {# <div class="dashboard-create"> #}
        <a class="btn btn-primary btn-sm dashboard-create-btn" href="{% url 'create' %}">New Listing</a>
      {# </div> #}
      {# <div class="dashboard-refresh phone-hide"> #}
        <a class="btn btn-primary btn-sm dashboard-refresh-btn phone-hide" href="#"><span class="glyphicon glyphicon-repeat"></span></a>
      {# </div> #}
      {# <div class="dashboard-delete"> #}
        <a class="btn btn-primary btn-sm disabled dashboard-delete-btn" data-listing-id="" href="#"><span class="glyphicon glyphicon-trash"></span></a>
      {# </div> #}
      {# <div class="dashboard-delete-permanent hide"> #}
        <a class="btn btn-primary btn-sm dashboard-delete-permanent-btn disabled hide" data-listing-id="" href="#">Delete Forever</a>
      {# </div> #}
    </div>
  </div>
  <div class="dashboard-panel {% if first_visit %}first-visit{% endif %}">
    <div class="sidebar phone-hide">
      {% include 'listings/partials/dashboard_sidebar.html' %}
    </div>
    <div class="listings-col phone-full-width" id="listings-col">
      {% include 'listings/partials/listings_panel.html' %}
    </div>
    <div class="buyer-message-wrapper phone-hide">
  <span class="inbox-header"><strong>Inbox</strong><span class="label label-info">{% if unread_messages %}New{% endif %}</span></span>
      <span class="no-messages">You have no messages for this listing.</span>
      <div class="buyers-col">
        {% include 'listings/partials/buyers_panel.html' %}
      </div>
      <div class="messages-col">
        {% include 'listings/partials/messages_panel.html' %}
      </div>
    </div>
  </div>

  
<div id="keyboard-shortcuts-modal" class="modal">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Keyboard Shortcuts</h4>
    </div>
    <div class="modal-body">
    <table class="keys pane-1">
      <tr>
        <td><span class="arrow">&darr;</span>/<span class="char">j</span></td>
        <td>Select the next item</td>
      </tr>
      <tr>
        <td><span class="arrow">&uarr;</span>/<span class="char">k</span></td>
        <td>Select the previous item</td>
      </tr>
      <tr>
        <td><span class="arrow">&rarr;</span>/<span class="char">b</span></td>
        <td>Toggle buyers context</td>
      </tr>
      <tr>
        <td><span class="arrow">&larr;</span>/<span class="char">l</span></td>
        <td>Toggle listings context</td>
      </tr>
      <tr>
        <td><span>Enter</span></td>
        <td>Select the first listing from search</td>
      </tr>
      <tr>
        <td><span>Esc</span></td>
        <td>Unfocus the search or new message field</td>
      </tr>
    </table>
    <table class="keys pane-2">
      <tr>
        <td><span class="char">n</span></td>
        <td>Create new listing</td>
      </tr>
      <tr>
        <td><span class="char">/</span></td>
        <td>Search listings</td>
      </tr>
      <tr>
        <td><span class="char">m</span></td>
        <td>Focus new message field</td>
      </tr>
      <tr>
        <td><span class="char">r</span></td>
        <td>Refresh the dashboard</td>
      </tr>
      <tr>
        <td><span class="char">?</span></td>
        <td>Toggle this dialog</td>
      </tr>
    </table>
    </div>
  </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>
{% endblock %}
