{% extends 'marginless.html' %}
{% load static from staticfiles %}


{% block title %}{{ block.super }} Dashboard{% endblock %}

{% block css %}

<link type="text/less" media="all" rel="stylesheet" href="{% static 'listings/less/listings.less' %}"/>

{% endblock %}

{% block js %}
	
	<script src="{% static 'listings/js/list.min.js' %}"></script>
	{# <script src="{% static 'listings/js/light-table-filter.js' %}" type="text/javascript"></script> #}
	<script src="{% static 'listings/js/listings_dashboard.js' %}" type="text/javascript"></script>
	{# <script src="{% static 'listings/js/sorttable.js' %}" type="text/javascript"></script> #}
	
{% endblock %}

{% block content %}
{% if first_visit %}
<div class="alert alert-info col-lg-6 col-offset-3 clearfix">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<h4>The<br/> Dashboard</h4>
	This is your Listings Dashboard.  Here you can easily review and manage all of your listings, buyers, and messages.
</div>
{% endif %}
<div id="dashboard-content">
<!-- For search to work -->
	<div class="dashboard-header col-lg-12 col-lg-fixed">
		<div class="dashboard-title">
			<div class="h4">The<br>Dashboard</div>
		</div>
		<div class="dashboard-search">
			<input type="search" class="form-control search" data-table="order-table" placeholder="Type to search"/>
		</div>
		<div class="dropdown dashboard-dropdown">
			<a class="btn btn-primary dropdown-btn" data-toggle="dropdown" href="#">Filter</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			    <li><a id="filter-none" tabindex="-1" href="#" data-toggle="dropdown">All</a></li>
			    <li><a id="filter-active" tabindex="-1" href="#" data-toggle="dropdown">Active</a></li>
			    <li><a id="filter-draft" tabindex="-1" href="#" data-toggle="dropdown">Draft</a></li>
			    <li><a id="filter-deleted" tabindex="-1" href="#" data-toggle="dropdown">Deleted</a></li>
		    </ul>
		</div>
		<div class="dashboard-refresh">
			<a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-repeat"></span></a>
		</div>
		<div class="dashboard-create">
			<a class="btn btn-primary" href="{% url 'listings.views.create' %}">Create a Listing</a>
		</div>
	</div>
	<div class="dashboard-panel {% if first_visit %}first-visit{% endif %}">
		<div class="listings-col" id="listings-col">
			{% include 'listings/partials/listings_panel.html' %}
		</div>
		<div class="buyers-col">
			{% include 'listings/partials/buyers_panel.html' %}
		</div>
		<div class="messages-col">
			{% include 'listings/partials/messages_panel.html' %}
		</div>
	</div>
	{% endblock %}
</div>
