{% extends 'listings/base.html' %}
{% load thumbnail %}
{% load compress %}
{% load static from staticfiles %}

{% block js %}
  {{ block.super }}
  {% compress js %}
  <script>
      filepicker.setKey('ATM8Oz2TyCtiJiHu6pP6Qz');
  </script>
  <script>
    $(document).ready(function(){
      $('.carousel').carousel({
        interval: 10000
      });
    })
  </script>
  {% endcompress %}
{% endblock %}

{% block content %}
  <div class="row">
    <div id="listing-detail" class="col-lg-9 tab-content">
      <div class="tab-pane{% if pane == 'edit' %} active{% endif %}" id="edit">
        {% include 'listings/partials/edit.html' %}
      </div>
      <div class="tab-pane{% if pane == 'preview' %} active{% endif %}" id="preview"> 
        {% include 'listings/partials/preview.html' %}
      </div>
    </div>
    <div class="col-lg-3 detail-sidebar">
      <div data-spy="affix" data-offset-top="82">
        <div class="btn-group" data-toggle-name='listing-pane-toggle'>
          <a class="btn btn-primary{% if pane == 'edit' %} active{% endif %}" data-toggle="tab" href="#edit">Edit</a>
          <a class="btn btn-primary{% if pane == 'preview' %} active{% endif %}" data-toggle="tab" href="#preview">Preview</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
