{% extends 'listings/base.html' %}
{% load thumbnail %}
{% load compress %}
{% load static from staticfiles %}

{% block js %}
  {{ block.super }}
  {% compress js %}
  <script>
      filepicker.setKey('ATM8Oz2TyCtiJiHu6pP6Qz');
  </script>
  <script>
    $(document).ready(function(){
      $('.carousel').carousel({
        interval: 10000
      });
    })
  </script>
  {% endcompress %}
{% endblock %}

{% block content %}
  <div class="row">
    <div id="listing-detail" class="span9 tab-content">
      <div class="tab-pane active" id="edit">
        {% include 'listings/partials/edit.html' %}
      </div>
      <div class="tab-pane" id="preview"> 
        {% include 'listings/partials/preview.html' %}
      </div>
    </div>
    <div class="span3"  style="padding-top:38px">
      <div class="detail-sidebar" data-spy="affix" data-offset-top="82">
        <div class="btn-group" data-toggle="buttons-radio">
          <a class="btn btn-primary active" data-toggle="tab" href="#edit">Edit</a>
          <a class="btn btn-primary" data-toggle="tab" href="#preview">Preview</a>
        </div>
        {# <button type="button" class="btn btn-primary submit">Submit Changes</button> #}
      </div>
    </div>
  </div>
{% endblock %}
