{% extends 'listings/base.html' %}
{% load thumbnail %}
{% load compress %}
{% load static from staticfiles %}

{% block js %}
  {{ block.super }}
  {% compress js %}
  <script>
      filepicker.setKey('ATM8Oz2TyCtiJiHu6pP6Qz');
  </script>
  <script>
    $(document).ready(function(){
      $('.carousel').carousel({
        interval: 10000
      });
    })
  </script>
  {% endcompress %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span10">
      {% include 'listings/partials/preview.html' %}
      {% include 'listings/partials/edit.html' %}
    </div>
    {# <div class="listing-dash span2 wrapper" data-spy="affix" data-offset-top="400" style='position:fixed;top:55px;right:55px;'> #}
    <div class="listing-dash span2" data-spy="affix" data-offset-top="400">
      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-primary edit_button">Edit</button>
        <button type="button" class="btn btn-primary active preview_button">Preview</button>
      </div>
      <button type="button" class="btn btn-primary submit">Submit Changes</button>
    </div>
  </div>
{% endblock %}
