{% extends 'base.html' %}
{% load static from staticfiles %}
{% load compress %}

{% block css %}
{% compress css %}
<link type="text/less" media="all" rel="stylesheet" href="{% static 'listings/less/listings.less' %}"/>
{% endcompress %}
{% endblock %}

{% block js %}
{% compress js %}
{# <script src="{% static 'js/ZeroClipboard.js' %}" type="text/javascript"></p0script> #}
<script src="{% static 'rocket/js/jquery.tablesorter.js' %}"></script>
<script src="{% static 'listings/js/listings.js' %}" type="text/javascript"></script>
{% endcompress %}
{% endblock %}
