{% extends 'listings_base.html' %}
{% load thumbnail %}
{% load static from staticfiles %}
{% load compress %}

{% block js %}
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  {% compress js %}
  <script type="text/javascript" src="{% static 'listings/js/listings_reference.js' %}"></script>
  <script>
      filepicker.setKey('ATM8Oz2TyCtiJiHu6pP6Qz');
  </script>
  <script>
    $(document).ready(function(){
      $('.carousel').carousel({
        interval: 10000
      });
    })
  </script>
  {% endcompress %}
{% endblock %}

{% block content %}
 <div class="row"> 
    <div class='wrapper span2' data-spy="affix" data-offset-top="400" style='position:fixed;top:55px;right:55px;'>
      <div class="listing-dash">
        <div class="dash-title">
          <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="edit-btn btn btn-primary active edit_button">Edit</button>
            <button type="button" class="preview-btn btn btn-primary preview_button">Preview</button>
          </div>
        </div>  
        <div class="dash-content">
          <p>
            Choose whether to edit or preview your content by toggling the buttons above
          </p>
        </div>
        <button type="button" style="margin-left:10px;" class="btn btn-primary" onclick="validateForm()">Submit Changes</button>
      </div>
    </div>
    <div class="span10">
    	{% include 'listings/partials/listings_edit.html' %}
    	{% include 'listings/partials/listings_preview.html' %}
    </div>
  </div>

  <div class="clearfix"></div>
{% endblock %}