{% extends 'base.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% load compressed %}

{% block js %}
  
      <script src="{% static 'listings/js/sorttable.js' %}" type="text/javascript"></script>
  
  <script src="{% static 'listings/js/search.js' %}" type="text/javascript"></script>
{% endblock %}

{% block css %}
  {% compressed_css 'listings_base' %}
{% endblock %}

{% block content %}
  <h3>Search Listings</h3>
  <form id="search-form" class="form-horizontal">
    {# {% csrf_token %} #}
    <div class="form-group">
    <div class="input-group col-lg-4">
      <input type="text" class="form-control" id="search_input" name="search" placeholder="Search Rocket's listings" />
      <span class="input-group-btn"><button id="search_button" class="btn btn-default">Search</button></span>
    </div>
    </div>
  </form>

  <table class="table table-listings table-hover sortable">
    <thead>
      <tr>
        <th><a href="#">Title</a><i class="icon-blank"></i></th>
        <th class="sorttable_numeric"><a href="#">Price</a><i class="icon-blank"></i></th>
        <th><a href="#">Category</a><i class="icon-blank"></i></th>
        <th><a href="#">Creator</a><i class="icon-blank"></i></th>
        <th><a href="#">Date Listed</a><i class="icon-blank"></i></th>
      </tr>
    </thead>
    <tbody class="listing_table">
      {% include 'listings/partials/ajax_search.html' %}
    </tbody>
  </table>
{% endblock %}