{% comment %}
Requires the context variable listings
{% endcomment %}
<table class="table table-hover table-listings">
	<thead>
		<tr>
			<th>Title</th>
			<th>Price</th>
			<th>Location</th>
			<th>Category</th>
			<th>Date Listed</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for listing in listings %}
		<tr>
			<td><a href="{{ listing.get_absolute_url }}">{{ listing.title }}</a></td>
			<td>{{ listing.price }}</td>
			<td>{{ listing.location }}</td>
			<td>{{ listing.category.name }}</td>
			<td>{{ listing.pub_date }}</td>
			<td><a href="{% url 'listings.views.update' listing.id %}"><i class="icon-edit"></i></a></td>
			<td><a href="{% url 'listings.views.delete' listing.id %}"><i class="icon-trash"></i></a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>