
{% comment %}
Requires the context variable listings
{% endcomment %}
{% if listings %}
<table class="table table-striped table-bordered table-condensed tablesorter id" id = "table-listings">
	<thead>
		<tr>
			<th class = "sortable">Title <i class="icon-chevron-down"></i></th>
			<th class = "sortable">Price <i class="icon-chevron-down"></i></th>
			<th class = "sortable">Location <i class="icon-chevron-down"></i></th>
			<th class = "sortable">Category <i class="icon-chevron-down"></i></th>
			<th class = "sortable">Date Listed <i class="icon-chevron-down"></i></th>
			<th>Offers</th>
			<th>Messages</th>
			<th>Copy <br> HTML</th>
			<th>Edit/Delete</th>
			
		</tr>
	</thead>
	<tbody>
		{% for listing in listings %}
		<tr>
			<td><a href="{{ listing.get_absolute_url }}">{{ listing.title }}</a></td>
			<td>${{ listing.price }}</td>
			<td>{{ listing.location }}</td>
			<td>{{ listing.category.name }}</td>
			<td>{{ listing.pub_date }}</td>
			<td class = "centered-td"><a href = "{% url listings.views.offers listing.id %}"> View </a></td>
			<td class = "centered-td"><a href = "{% url listings.views.messages listing.id %}"> <i class="icon-envelope"></i></a> </td>
			<td class = "centered-td"><a class="clipboard" data-clipboard-text="test text"><i class="icon-download"></i></a></td>
			<td class = "centered-td"><a href="{% url listings.views.update listing.id %}"><i class="icon-edit"></i></a><a href="{% url listings.views.delete listing.id %}"><i class="icon-trash"></i></a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h4>You don't have any listings yet! <a href="#modal-photo-upload" data-toggle="modal">Let's get started making one.</a></h4>
{% endif %}