{% comment %}
Requires the context variable listings
{% endcomment %}
{% if listings %}
<table class="table table-hover table-listings">
	<thead>
		<tr>
			<th>Title</th>
			<th>Price</th>
			<th>Location</th>
			<th>Category</th>
			<th>Date Listed</th>
			<th>Copy HTML</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for listing in listings %}
		<tr>
			<td><a href="{{ listing.get_absolute_url }}">{{ listing.title }}</a></td>
			<td>{{ listing.price }}</td>
			<td>{{ listing.location }}</td>
			<td>{{ listing.category.name }}</td>
			<td>{{ listing.pub_date }}</td>
			<td><a class="clipboard" data-clipboard-text="{% filter force_escape %}{% include "listing_cl_embed.html" %}{% endfilter %}"><i class="icon-download"></i></a></td>
			<td><a href="{% url 'listings.views.update' listing.id %}"><i class="icon-edit"></i></a></td>
			<td><a href="{% url 'listings.views.delete' listing.id %}"><i class="icon-trash"></i></a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h4>You don't have any listings yet! <a href="#modal-photo-upload" data-toggle="modal">Let's get started making one.</a></h4>
{% endif %}