@import "../../rocket/less/base.less";

.no-margin {
  margin-bottom: 0;
}

// for static header
body { padding-top: 37px; }

a { color: @craigslistBlue; }

// .header-menu-bar{ margin: 0 -20px; }

// header map
.header-map-container { position: relative; }

/* remove google map attributions (kinda illegal) */
.gmnoprint a, .gmnoprint span, .gm-style-cc div { display:none; }
.gmnoprint div, .gm-style-cc div { background:none !important; }
#GMapsID div div a div img{ diplay:none; }

#header-map {
  // top: 0;
  height: @map-height;

  &.mobile{
    height: 80px;  
  }

  width: 100%;
  @media (max-width: 766px) {
    height: @map-height-responsive;
  }
  border-bottom: 4px solid #BFBFBF;
}

#header-map-overlay {

  &.mobile{
    height: 80px;  
  }
  height: @map-height;
  width: 100%;
  position: absolute;
  top: 0;
  // background: -webkit-radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, .1));
  background: rgba(255, 255, 255, 0.35);
  visibility: hidden; /* made visible when map loads */
  z-index: 2;
  border-bottom: 1px solid #a2a2a2;

  @media (max-width: 766px) {
    height: @map-height-responsive;
  }

  .overlay-container {
    position: relative;
  }

  .heading {
    margin-top: 80px;

    &.mobile{
       margin-top: 20px;      
    }
    h3 {
      display:inline;
      font-size: 26px;
      font-weight: 400;
      padding: 4px;
      background: rgba(255,255,255,0.8);
      margin-left: 40px;

      &.mobile{
        margin-left: 0px;        
        font-size: 18px;
      }

      span{
        color: purple;
      }
    }
    @media (max-width: 766px) {
      margin-top: 40px;
      h3 {
        font-size: 20px;
        line-height: 31px;
        // margin-left: 40px;
      }
    }
  }
}

.footer .badge {
  float: right; 
  padding-right: 15px;
  padding-left: 15px;
  z-index: 1;
  background-color:rgba(0,113,67, 0.6);
  // font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400; 
  letter-spacing: 0.1em;  
  // -webkit-text-stroke: 0.005em black; 
}

.pricing-row p {
  text-align: justify;
  font-size: 16px;
  font-weight: 300; 
  line-height: 24px;
  padding: 0 15px 0 15px;
  text-align: right;
}

// fixes icon positioning
.icon-fix {
  padding: 0;
  margin-left: -15px;
}

.feature-card {
  margin-bottom: 26px;
  height: 100%;
  background-color: #F5F5F5;
  padding: 10px 10px;
  overflow: hidden;
}

.icon-new-listing{
  background-image: url("../img/icon-new-listing.svg");
  background-position: left;
  background-repeat:no-repeat;
  background-size: 100% 90%;
  width: 100px;
  height: 60px;
  margin: 0 auto;
  margin-top: 5px;
  
}

.icon-lie{
  background-image: url("../img/icon-lie.svg");
 background-position: left;
  background-repeat:no-repeat;
  background-size: 100% 90%;
  width: 100px;
  height: 60px;
  margin: 0 auto;
  margin-top: 5px;
}

.icon-share{
  background-image: url("../img/share.svg");
  background-position: top;
  background-repeat:no-repeat;
  background-size: 100% 90%;
  width: 100px;
  height: 70px;
  margin: 0 auto;
  
}

.icon-laptop{
  background-image: url("../img/laptop.svg");
  background-position: center;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width: 100px;
  height: 65px;
  margin: 0px auto;
  
}
.icon-chat{
  background-image: url("../img/chat.svg");
  background-position: center;
  background-repeat:no-repeat;
  background-size: 70%;
  width: 100px;
  height: 60px;
  margin: 0px auto;
  
}

.icon-profile{
  background-image: url("../img/profile.svg");
  background-position: center;
  background-repeat:no-repeat;
  background-size: 45%;
  width: 100px;
  height: 60px;
  margin: 0px auto;
  
}

.icon-add-friend{
  background-image: url("../img/add-friend.svg");
  background-position: center bottom;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width: 110px;
  height: 90px;
  margin: 20px auto;
}

.icon-chart{
  background-image: url("../img/chart.svg");
  background-position: bottom;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  width: 110px;
  height: 90px;
  margin: 20px auto;
}

.icon-profile-info{
  background-image: url("../img/profile-info.svg");
  background-position: center;
  background-repeat:no-repeat;
  background-size: 60% 60%;
  width: 110px;
  height: 90px;
  margin: 20px auto;
}

.call-to-action {
  text-align: center;
  margin-top: 30px;
  a {
    float: right;
    margin-left: 20px;
  }
  .plain-link {
    padding: 10px 0;
  }
}

// .partials {}
.partials > div {
  display:none;
}
.partials > div.active {
  display: block;
}
.static-page-margin {
    margin-top: 30px;
}

.why-row {
  padding: 30px 0;

  // div {
  //   margin-bottom: 18px;
  //   margin-top: 18px; 
  // }
  .text { 
    font-family: Georgia, "Times New Roman";
    font-weight: 200;
    font-size: 15px;
    line-height: 1.4em;
    background-color: #F5F5F5;
    padding: 10px 30px 10px 30px;
    margin-bottom: 15px;
  }
}



.dim{
  position:absolute;  
  width:100%;  
  height:100%;  
  background-color:#000000;  
  opacity:0.70; 
}

.white-bg {
  background-color: white;
}
.blue-bg {
  background-color: @menu1;
}
.green-bg {
  background-color: @menu4;
}
.pink-bg {
  background-color: @menu2;
}
.orange-bg {
  background-color: @menu3;
}

.feature-preview {
  padding: 30px 0;

  .sub {
    margin-left: 65px;
  }

  // p {
  //   font-size: 16px;
  //   line-height: 24px;
  //   padding: 0;
  //   font-weight: 300;
  // }

  p { 
    font-family: Georgia, "Times New Roman";
    font-weight: 200;
    font-size: 15px;
    line-height: 1.4em;
  }

  // a {
  //   color: @craigslistBlue;
  //   &:hover {
  //     color: #2200CC;
  //     text-decoration: underline;
  //     // background: rgba(255,255,255,0.7);
  //   }
  // }

  h3 {
    .inner {
      display:inline;
      background: rgba(255,255,255,0.8);
      padding: 4px;
    }
    font-weight: 400;
    margin-bottom: 15px;
    margin-left: 40px;
  }

  h4 {
    margin-bottom: 20px;
    text-align: center;
    padding: 0 15px;
  }

  img{
    margin-top: 20px;
    padding: 20px 40px 20px 40px;
    border: 1px solid #a2a2a2;
    background-color: white;
  }

  img.img-dashboard{
    padding: 0 !important;
}

// Override bootstrap styles
.radio-inline label {
  font-weight: normal;
}


// Make submit button on forms the same size as inputs
form.fixed-width-form {
  input[type='submit'], a.btn {
    height: 38px !important;
    width: 100% !important;
    margin-bottom: 10px;
  }
}