/* http://colourco.de/quad/4/%23f3e0dd */
a {
  color: #0000ee;
}
a:hover {
  color: #000088;
}
.navbar {
  min-height: 0px;
}
.navbar .username-item {
  z-index: 3;
  padding-right: 3px;
}
.navbar .settings-cog {
  padding-left: 5px;
  padding-right: 10px;
}
ul.navbar-nav > li > a {
  outline: none;
}
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus {
  outline: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: none;
  color: inherit;
}
.navbar .dropdown-menu {
  margin: 0;
  padding: 0;
  border-top: none;
  min-width: 108px;
}
.navbar .dropdown-menu > li > a {
  padding: 5px 10px;
}
@media (min-width: 768px) {
  .navbar > .nav.navbar-nav.pull-right {
    position: relative;
    right: 5px;
  }
  .container > .nav.navbar-nav.pull-right {
    position: relative;
    right: -15px;
  }
}
ul.navbar-nav > li > a {
  height: 36px;
  line-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
}
ul.navbar-nav li a {
  font-size: 12px;
}
ul.navbar-nav li a.active {
  background-color: #E0E0E0;
}
ul.navbar-nav li a.blue-menu-item {
  background-color: #bbbbff;
  color: white;
}
ul.navbar-nav li a:hover .nav-item-text {
  text-decoration: underline;
}
ul.navbar-nav li a .glyphicon {
  display: inline;
  vertical-align: middle;
}
.navbar-logo {
  float: left;
  display: block;
  position: relative;
  left: -15px;
}
.navbar-logo .accent {
  float: left;
  height: 36px;
  width: 5px;
}
.navbar-logo .accent1 {
  background: #d0e3eb;
}
.navbar-logo .accent2 {
  background: #ecdbf1;
}
.navbar-logo .accent3 {
  background: #f6eae6;
}
.navbar-logo .accent4 {
  background: #f3faf1;
}
.navbar-logo:hover .accent1 {
  background: #bcddeb;
}
.navbar-logo:hover .accent2 {
  background: #e8c7f2;
}
.navbar-logo:hover .accent3 {
  background: #f5d7ce;
}
.navbar-logo:hover .accent4 {
  background: #e0fad9;
}
.navbar-logo .logo-text {
  float: left;
  font-family: 'Radley';
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  padding: 0 20px;
  color: #3b2317;
  background-color: white;
  margin: 0;
  position: relative;
}
.navbar-logo .logo-text:hover {
  text-decoration: underline;
}
.container .navbar-logo {
  left: -20px;
}
.footer,
.footer-fixed {
  background: #4A4742;
}
.footer p,
.footer-fixed p {
  margin: 0;
  padding-top: 2px;
  padding-right: 100px;
  overflow: hidden;
  height: 36px;
  line-height: 36px;
  color: #ededed;
}
/* MARGINLESS STYLES */
/* fixed footer */
.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-fixed p {
  margin-left: 40px !important;
}
.wrap-fixed {
  position: relative;
  height: 95%;
  height: -webkit-calc(100% - 36px);
  height: -moz-calc(100% - 36px);
  height: calc(100% - 36px);
}
/*.navbar-fixed {
  padding: 0 !important;
  .navbar-logo {
    padding-left: 5px;
  }
  .button-to-edge {
    padding-right: 40px !important;
  }
}

.col-lg-fixed {
  padding: 0 !important;
}*/
.full-height {
  height: 100%;
}
/* sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

}
/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */

  margin: 0 auto -36px;
}
/* Set the fixed height of the footer here */
.push,
.footer {
  height: 36px;
}
/* Lastly, apply responsive CSS fixes as necessary */
/* Flatten das boostrap */
.well,
.navbar-inner,
.popover,
.btn,
.tooltip,
input,
.input-group-addon,
select,
textarea,
pre,
.progress,
.modal,
.add-on,
.alert,
.table-bordered,
.nav > .active > a,
.nav-tabs > li > a,
.dropdown-menu,
.tooltip-inner,
.badge,
.label,
.img-polaroid {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
}
select:focus {
  outline: none !important;
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
}
form.fixed-width-form input[type='submit'] {
  height: 38px !important;
  width: 100% !important;
  margin-bottom: 10px;
}
div[data-toggle-name="default_seller_type"] button {
  width: 50%;
}
a {
  color: #0000ee;
}
h1.flag {
  font-family: 'Radley';
  font-size: 49px;
  font-weight: 600;
  padding: 20px;
  color: #3b2317;
  background-color: white;
  outline: 2px solid white;
  border: 1px solid grey;
  width: 185px;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
}
.login-link-container {
  position: relative;
}
.login-link {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  background: #ededed;
  padding: 4px 8px;
  border-top: none;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
}
#header-map {
  height: 240px;
  width: 100%;
}
/* remove google map attributions (kinda illegal) */
.gmnoprint a,
.gmnoprint span,
.gm-style-cc div {
  display: none;
}
.gmnoprint div,
.gm-style-cc div {
  background: none !important;
}
#GMapsID div div a div img {
  diplay: none;
}
#header-map-overlay {
  height: 480px;
  width: 100%;
  top: -240px;
  position: absolute;
  background: -webkit-radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  visibility: hidden;
  /* made visible when map loads */

  z-index: 2;
}
.header-menu-bar {
  background: #ededed;
  height: 36px;
}
.header-menu-bar .row {
  margin-left: -15px;
  margin-right: -15px;
}
.header-menu-bar a {
  padding-left: 15px;
  line-height: 36px;
  text-align: center;
  color: #3b2317;
}
.header-menu-bar a:hover,
.header-menu-bar a:active {
  text-decoration: underline;
}
.header-menu-bar .item1 {
  background: #d0e3eb;
  border-left: 3px solid #f6f6f6;
}
.header-menu-bar .item2 {
  background: #ecdbf1;
}
.header-menu-bar .item3 {
  background: #f6eae6;
}
.header-menu-bar .item4 {
  background: #f3faf1;
  border-right: 3px solid #f6f6f6;
}
.header-menu-bar .filler {
  opacity: 0;
}
.nav {
  cursor: pointer;
}
.nav-highlight {
  text-decoration: underline;
}
.hook {
  background: #4A4742;
  color: #ededed;
}
.hook h3 {
  font-weight: 400;
  word-spacing: 1.5px;
  letter-spacing: 1px;
  font-size: 26px;
}
.header-signup {
  background: #ededed;
  height: 36px;
}
.header-signup .left-btn {
  border-right: 2px solid #ededed;
}
.header-signup .row {
  margin-left: -15px;
  margin-right: -15px;
}
.header-signup .right-btn {
  border-left: 2px solid #ededed;
}
.header-signup a {
  display: block;
  background: rgba(255, 255, 255, 0.7);
  line-height: 36px;
  text-align: center;
}
.footer .badge {
  float: right;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 1;
  background-color: #007143;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.what-row p,
.how-row p,
.pricing-row p {
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
  padding: 0 15px 0 15px;
  font-weight: 300;
}
.pricing-row p {
  text-align: center;
}
.what-row {
  text-align: center;
}
.what-row:last-child {
  margin-top: 30px;
}
.what-row a {
  color: #0000ee;
}
.what-row a:hover {
  color: #2200CC;
  text-decoration: underline;
}
.icon-photo {
  background-image: url("../img/icon-photo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 90%;
  width: 100px;
  height: 80px;
  margin: 20px auto;
}
.icon-newspaper {
  background-image: url("../img/newspaper.svg");
  background-position: 50% 40%;
  background-size: 400px 400px;
  background-repeat: no-repeat;
  width: 100px;
  height: 80px;
  margin: 20px auto;
}
.icon-share {
  background-image: url("../img/share.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 90%;
  width: 100px;
  height: 80px;
  margin: 20px auto;
}
.icon-laptop {
  background-image: url("../img/laptop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100px;
  height: 80px;
  margin: 20px auto;
}
.icon-chat {
  background-image: url("../img/chat.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100px;
  height: 80px;
  margin: 20px auto;
}
.icon-profile {
  background-image: url("../img/profile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  width: 100px;
  height: 80px;
  margin: 20px auto;
}
.icon-add-friend {
  background-image: url("../img/add-friend.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 110px;
  height: 90px;
  margin: 20px auto;
}
.icon-chart {
  background-image: url("../img/chart.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 110px;
  height: 90px;
  margin: 20px auto;
}
.icon-profile-info {
  background-image: url("../img/profile-info.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  width: 110px;
  height: 90px;
  margin: 20px auto;
}
.learn-more-link {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
}
.learn-more-link a {
  font-size: 16px;
  line-height: 40px;
  color: #0000ee;
}
.learn-more-link a:hover {
  color: #2200CC;
  text-decoration: underline;
  background: rgba(255, 255, 255, 0.7);
}
.how-row {
  margin-bottom: 60px;
}
.btn-signup {
  font-family: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 70px;
  width: 120px;
  font-size: 18px;
  line-height: 28px;
}
.partials {
  margin-top: 30px;
}
.why-row div {
  margin-bottom: 18px;
}
.why-row .text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
  background-color: #ededed;
  padding: 10px 30px 10px 30px;
}
.dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.70;
}
