Django==1.4.3
PIL==1.1.7
PyYAML==3.10
South==0.7.6
Whoosh==2.4.1
ajaxuploader==0.2.4
django-extensions==1.0.3
django-haystack==1.2.7
psycopg2==2.4.6
python-memcached==1.48
sorl-thumbnail==11.12
virtualenv==1.8.4
virtualenv-clone==0.2.4
virtualenvwrapper==3.6
django-suit==0.1.0
docutils==0.10
Pygments==1.6
gunicorn==0.17.2
django-storages==1.1.6
