Django==1.5
PIL==1.1.7
PyYAML==3.10
South==0.7.6
Whoosh==2.4.1
django-extensions==1.0.3
django-haystack
psycopg2
python-memcached==1.48
sorl-thumbnail==11.12
virtualenv==1.8.4
virtualenv-clone==0.2.4
virtualenvwrapper==3.6
docutils==0.10
Pygments==1.6
gunicorn==0.17.2
django-storages==1.1.6
dj-database-url==0.2.1
# gevent
django-mailgun
boto
BeautifulSoup==3.2.1
BeautifulSoup4==4.2.1
django-pagination
django-compressor
lxml
fabric