/* 	Doing this weird convention '.l-<CLASS>' because we don't want other outside class definitions to affect these.
	For instance, if our title was simply '.title', then maybe a '.title' rule from global.less might take into effect. */
.listing {
  position: relative;
  float: left;
  width: 600px;
  border: solid #d2dadd 1px;
  background: #fff;
  -webkit-box-shadow: #aebec6 2px 2px 50px;
  -moz-box-shadow: #aebec6 2px 2px 50px;
  box-shadow: #aebec6 2px 2px 50px;
}
.listing .l-header {
  height: 57px;
  border-bottom: solid #d2dadd 1px;
  background: #e7edef;
  line-height: 57px;
}
.listing .l-header .l-title {
  width: 70%;
  float: left;
  padding: 0 4%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
.listing .l-header .l-price {
  min-width: 10%;
  padding: 0 2%;
  position: relative;
  float: right;
  margin: 0;
  height: 55px;
  border: solid #b03828 1px;
  background: url('/static/img/price-grad.png') 0 0 repeat-x;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px #aebec6;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 57px;
}
.listing .l-header .l-price span {
  position: absolute;
  top: 0;
  left: -1px;
  z-index: 2;
  display: block;
  height: 100%;
  background: url('/static/img/price-arrow.png') 0 50% no-repeat;
}
.listing .l-body {
  padding: 0 4% 4% 4%;
}
.listing .l-body .l-entry {
  padding: 4% 0 0 0;
}
.listing .l-body .l-entry p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
}
.listing .l-body .l-entry .l-thumbnails {
  margin-bottom: 1%;
}
.listing .l-body .l-entry .l-thumbnails img {
  margin: 1%;
}
.listing-dash {
  background-color: white;
  float: right;
  -webkit-box-shadow: #aebec6 2px 2px 50px;
  -moz-box-shadow: #aebec6 2px 2px 50px;
  box-shadow: #aebec6 2px 2px 50px;
  position: relative;
}
.listing-dash .dash-title {
  background: #e7edef;
  padding: 10px;
}
.listing-dash .dash-title h4 {
  width: 100%;
  margin: 0;
}
.listing-dash .dash-content {
  padding: 10px;
}
.listing-dash .dash-content textarea {
  margin: 0;
  height: 100px;
}
.form {
  margin: 0;
}
.form li {
  list-style-type: none;
}
.form .errorlist {
  color: red;
}
.form input,
.form textarea,
.form select {
  width: 540px;
}
.listing-edit {
  float: left;
  position: relative;
  padding: 20px;
  border: solid #d2dadd 1px;
  background: #fff;
  -webkit-box-shadow: #aebec6 2px 2px 50px;
  -moz-box-shadow: #aebec6 2px 2px 50px;
  box-shadow: #aebec6 2px 2px 50px;
}
.dash-tips {
  width: 240px;
}
.dash-tips li {
  margin-bottom: 10px;
}
.messages-container {
  background-color: white;
  -webkit-box-shadow: #aebec6 2px 2px 50px;
  -moz-box-shadow: #aebec6 2px 2px 50px;
  box-shadow: #aebec6 2px 2px 50px;
  position: relative;
  overflow: auto;
  width: 100%;
  margin-top: 30px;
}
.messages-container .sidebar {
  float: left;
  width: 25%;
  height: 100%;
  margin: 5px;
}
.messages-container .content {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  float: right;
  width: 68%;
  height: 100%;
  margin: 5px;
}
.messages-container .bottom {
  background-color: #b2bec3;
  width: 100%;
  height: 8%;
  float: left;}
  
.messages-container .bottom .message-box {
  float: left;
  margin-top: 10px;
  margin-left: 250px;
}
.messages-container .bottom .input-long {
  width: 500px;
}
.messages-container .bottom .send {
  float: right;
  margin-top: 10px;
  margin-right: 30px;
}
.btn {
  text-align: left !important;
}
.btn-group-vertical {
  display: block;
}
.btn-group-vertical + .btn-group-vertical {
  margin-top: 5px;
}
.btn-group-vertical .btn {
  display: block;
  width: 100%;
  margin-top: -1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
}
.btn-group-vertical .btn.btn-large {
  padding-top: 10px;
}
.btn-group-vertical .btn:first-child {
  margin-top: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
.btn-group-vertical .btn:last-child {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group-vertical .btn.large:first-child {
  margin-top: 0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
}
.btn-group-vertical .btn.large:last-child {
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group-vertical .btn:hover,
.btn-group-vertical .btn:focus,
.btn-group-vertical .btn:active,
.btn-group-vertical .btn.active {
  z-index: 2;
}
/* THE SPEECH BUBBLE source: http://nicolasgallagher.com/pure-css-speech-bubbles/demo/
------------------------------------------------------------------------------------------------------------------------------- */
.triangle-border {
  position: relative;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin: 2px 0 5px;
  border: 3px solid #A3B0B6;
  color: #333;
  background: #fff;
  /* css3 */

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* Variant : for left positioned triangle
------------------------------------------ */
.triangle-border.left {
  margin-left: 5px;
}
/* Variant : for right positioned triangle
------------------------------------------ */
.triangle-border.right {
  margin-right: 5px;
}
/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */
.triangle-border:before {
  content: "";
  position: absolute;
  bottom: -20px;
  /* value = - border-top-width - border-bottom-width */

  left: 20px;
  /* controls horizontal position */

  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #A3B0B6 transparent;
  /* reduce the damage in FF3.0 */

  display: block;
  width: 0;
}
/* creates the smaller  triangle */
.triangle-border:after {
  content: "";
  position: absolute;
  bottom: -13px;
  /* value = - border-top-width - border-bottom-width */

  left: 47px;
  /* value = (:before left) + (:before border-left) - (:after border-left) */

  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  /* reduce the damage in FF3.0 */

  display: block;
  width: 0;
}
/* Variant : top
------------------------------------------ */
/* creates the larger triangle */
.triangle-border.top:before {
  top: -20px;
  /* value = - border-top-width - border-bottom-width */

  bottom: auto;
  left: auto;
  right: 20px;
  /* controls horizontal position */

  border-width: 0 20px 20px;
}
/* creates the smaller  triangle */
.triangle-border.top:after {
  top: -13px;
  /* value = - border-top-width - border-bottom-width */

  bottom: auto;
  left: auto;
  right: 47px;
  /* value = (:before right) + (:before border-right) - (:after border-right) */

  border-width: 0 13px 13px;
}
/* Variant : left
------------------------------------------ */
/* creates the larger triangle */
.triangle-border.left:before {
  top: 10px;
  /* controls vertical position */

  bottom: auto;
  left: -30px;
  /* value = - border-left-width - border-right-width */

  border-width: 15px 30px 15px 0;
  border-color: transparent #A3B0B6;
}
/* creates the smaller  triangle */
.triangle-border.left:after {
  top: 16px;
  /* value = (:before top) + (:before border-top) - (:after border-top) */

  bottom: auto;
  left: -21px;
  /* value = - border-left-width - border-right-width */

  border-width: 9px 21px 9px 0;
  border-color: transparent #fff;
}
/* Variant : right
------------------------------------------ */
/* creates the larger triangle */
.triangle-border.right:before {
  top: 10px;
  /* controls vertical position */

  bottom: auto;
  left: auto;
  right: -30px;
  /* value = - border-left-width - border-right-width */

  border-width: 15px 0 15px 30px;
  border-color: transparent #A3B0B6	;
}
/* creates the smaller  triangle */
.triangle-border.right:after {
  top: 16px;
  /* value = (:before top) + (:before border-top) - (:after border-top) */

  bottom: auto;
  left: auto;
  right: -21px;
  /* value = - border-left-width - border-right-width */

  border-width: 9px 0 9px 21px;
  border-color: transparent #fff;
}
