<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block pagetitle %}Rocket Listings{% endblock %}</title>
		<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="/static/css/global.css">
		{% block css %}{% endblock%}
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
	    <script src="/static/js/global.js"></script>
		{% block js %}{% endblock %}
	</head>
	<body>
		<div class="container">
			{% include "header.html" %}
			<div class="page-content">
				{% block content %}<h3>Error 404</h3>{% endblock %}
			</div>
			{% include "footer.html" %}
		</div>
	</body>
</html>