<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block pagetitle %}Rocket Listings{% endblock %}</title>
		
		<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
		{#<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css" media="screen" />#}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fineuploader.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/global.css">
		{% block css %}{% endblock%}

		{# <script src="http://code.jquery.com/jquery-latest.js"></script> #}
	    {# <script src="{{ STATIC_URL }}js/jquery-1.9.0.js"></script> #} {# for offline development #}
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	    <script src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/fineuploader/jquery.fineuploader-3.1.1.js" ></script>
        {#<script src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.js"></script>#}
        <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script> {# this is for ajax upload #}
	    <script src="{{ STATIC_URL }}js/global.js"></script>
	    <script type="text/javascript">
		   var STATIC_URL = "{{ STATIC_URL }}";
		</script>
		{% block js %}{% endblock %}

	</head>
	<body>
		<div class="wrap">
			{% include "header.html" %}
			<div class="container">
				<div class="page-content">
					{% block content %}<h3>Error 404</h3>{% endblock %}
				</div>
				<div class="push"></div>{# sticky footer div #}
			</div>
		</div>
		{% include "footer.html" %}
		{% include "partials/modal_photo_upload.html" %}
		</div>
		{# Google analytics #}
		<script type="text/javascript">
			var _gaq = _gaq || [];
			var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
			_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
			_gaq.push(['_setAccount', 'UA-38799685-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>