{% load static from staticfiles %}
<div class="white-bg">
  <div class="container">
    <div class="row why-row">
      <div class="col-lg-6 col-lg-offset-1 col-map">
        <a href="https://3taps.com/" target="_blank"><img class="img-responsive" src="{% static 'static_pages/img/3taps.png' %}" ></a>
        <p>Image courtesy<a href="https://3taps.com" target="_blank"> 3taps</a></p>
      </div>

      <div class="col-lg-4">
        <div class="text">
          <h4>Craigslist has the best network.</h4>
          <p>Craigslist is the only way to buy and sell used stuff because of the huge network of people already using it, not because it's fast, easy, or intuitive. It's like that old saying: it's the worst classifieds site except for all the others. </p>
          <p>Rocket Listings is here to make the entire process easier, from the moment you decide to sell until the money is in your hand. Selling your used stuff should be easy, fun, and worthwhile.</p>
          <p>If you have any feedback or an idea to make our site better, please don't hesitate to email us at <a href="mailto:info@rocketlistings.com"> info@rocketlistings.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blue-bg">
  <div class="container">
    <div class="row why-row">
      <div class="col-lg-5 col-lg-offset-1">
        <div class="text">
          <h4>Why do it?</h4>
          <p>We're a few recent college grads from Burlington, Vermont that want people to sell their used stuff instead of throwing it out.</p>
          <p>The time and hassle and uncertainty of selling used stuff online scares the majority of people away, so they either put it in a $1 bin at their garage sale or just chuck it. </p>
          <p>We wish everyone would use Craigslist, because people who have stuff they don't want can get cash instead of nothing, people who want stuff can get it at a great price instead of paying full price, and nothing gets thrown away. Hopefully Rocket Listings can help make that happen.</p>
        </div>
      </div>
      <div class="col-lg-5">
        <img class="img-responsive" src="{% static 'static_pages/img/church-light.jpg' %}" ></a>
      </div>
    </div>
  </div>
</div>