{% load static from staticfiles %}
<div class="feature-preview">
  <div class="container">
	    <h3 class="sub">2. Speed up the sales process with our all-in-one dashboard.</h3>
		<img src="{% static 'static_pages/img/dashboard.png' %}"  class="img-responsive img-dashboard">
		<div class="join-row">
			<div class="col-lg-5 col-lg-offset-2"><h4>Sell on the largest classifieds network in the world with the revolutionary tools you've been waiting for.</h4></div>
			<div class="col-lg-3">
				<a class="btn btn-primary btn-block btn-signup" href="{% url "register" %}" data-toggle="modal">Sign Up Free</a>
			</div>
		</div>
  </div>
</div>