{% load static from staticfiles %}
<div class="feature-preview white-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="feature-card">
          <h4>Faster and easier listing creation</h4>
          <div class="col-sm-9">
            <p>We made listing creation and posting as fast as possible by putting it all on one page.</p>
          </div>
          <div class="col-sm-3 icon-fix">
            <div class="icon-new-listing"></div>
          </div>
           <div class="clear"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature-card">
          <h4>Automagic Craigslist posting</h4>
          <div class="col-sm-9">
            <p>Your Craigslist listing will stand out from the crowd with our clean, detailed template.</p>
          </div>
          <div class="col-sm-3 icon-fix">
            <div class="icon-share"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
       <div class="feature-card">
          <h4>Improved listing management</h4>
          <div class="col-sm-9">
            <p>View, edit, delete, and see stats on your listings and keep track of all your interested buyers.</p>
          </div>
          <div class="col-sm-3 icon-fix">
            <div class="icon-laptop"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="feature-card">
          <h4>Receive and send emails to buyers</h4>
          <div class="col-sm-9 ">
            <p>We organize your emails from Craigslist and you can even reply through the dashboard.</p>
          </div>
          <div class="col-sm-3 icon-fix">  
            <div class="icon-chat"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature-card">
          <h4>Avoid Craigslist scammers</h4>
          <div class="col-sm-9 ">
            <p>Every email from Craigslist has to pass our spam test, so we'll stop that Nigerian Prince in his tracks.</p>
          </div>
          <div class="col-sm-3 icon-fix">  
            <div class="icon-lie"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature-card">
          <h4>Peace of mind with account profiles</h4>
          <div class="col-sm-9">
            <p>Our account profiles are making Craigsist safer with Ebay-style account profiles.</p>
          </div>
          <div class="col-sm-3 icon-fix">
            <div class="icon-profile"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="call-to-action">  
      <a class="btn btn-primary" data-href="#register-partial" href="{% url 'register' %}">Create an account to get started</a>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
{# <div class="previews"> #}
<div class="feature-preview blue-bg">
  <div class="container">
    <h3><span class="inner">Intelligent listing creation.</span></h3>
    <p class="sub"> We provide data-backed suggestions for price, the specs you need to include for the category, and a dynamic preview.</p>
    <img src="{% static 'static_pages/img/listing-creation-short.png' %}"  class="img-responsive">
  </div>
</div>
<div class="feature-preview white-bg">
  <div class="container">
    <h3><span class="inner">Revolutionary sales management.</span></h3>
    <p class="sub"> See every listing's details, stats, and emails from Craigslist buyers (that you even can reply to) in one place.</p>
    <img src="{% static 'static_pages/img/dashboard.png' %}"  class="img-responsive img-dashboard">
  </div>
</div>
<div class="feature-preview green-bg">
  <div class="container">
    <h3><span class="inner">Trust-building user profiles.</span></h3>
    <p class="sub"> See every listing's details, stats, and emails from Craigslist buyers (that you even can reply to) in one place.</p>
    <img src="{% static 'static_pages/img/profile-card.png' %}"  class="img-responsive">
    <div class="call-to-action">
      <a class="btn btn-primary" data-href="#register-partial" href="{% url 'register' %}">Let's goooo! Create an account</a>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
{# </div> #}