{% load static from staticfiles %}

<div class="header">
	<h1 class="flag">rocket</h1>
	
	<div id="header-map"></div>
	<div id="header-map-overlay"></div>
	<div class="header-menu-bar">
		<div class="header-menu">
			<div class="edge"></div>
			<div class="item1 nav" id="what" href="/what">What</div>
			<div class="item2 nav" id="how" href="/how">How</div>
			<div class="item3 nav" id="why" href="/why">Why</div>
			<div class="item4 nav" id="pricing" href="/pricing">Pricing</div>
			<div class="edge"></div>
		</div> 
	</div>
	<div class="hook">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h3>A better way to sell on Craigslist.</h3>
					<p class="lead">Powerful tools that integrate with the world's largest classified site.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="header-signup">
		<a href="{% url "registration_register" %}" class="btn start-submit">sign-up</a>
		<a href="{% url 'auth_login' %}" class="btn start-submit">login</a>
	</div>
</div>