{% load static from staticfiles %}

<div class="header">
	<h1 class="flag">rocket</h1>
	
	<div id="header-map"></div>
	<div id="header-map-overlay"></div>
	<div class="header-menu-bar">
		<div class="header-menu">
			<div class="edge"></div>
			<div class="item1"><a href = "/">What</a></div>
			<div class="item2"><a href="/how">How</a></div>
			<div class="item3"><a href="/why">Why</a></div>
			<div class="item4"><a href="/pricing">Pricing</a></div>
			<div class="edge"></div>
		</div> 
	</div>
	<div class="hook">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h3>A better way to sell on Craigslist.</h3>
					<p class="lead">Powerful tools that integrate with the world's largest classified site.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="header-signup">
		<a href="users/register" class="btn start-submit">sign-up</a>
		<a href="users/login" class="btn start-submit">login</a>
	</div>
</div>