{% load static from staticfiles %}
{% load active from navigation %}

<nav class="navbar navbar-fixed-top nav-static" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-logo {% active 'home' %}" data-href="#post-partial" id="post-menu-item" href="/">
        <img src="{% static 'static_pages/img/rocket-icon.svg' %}">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">   
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a class="{% active 'about' %}" data-href="#about-partial" id="about-menu-item" href="{% url 'about' %}">
            <span class="nav-item-text">About</span>
          </a>
        </li>
         <li>
          <a class="{% active 'pricing' %}" data-href="#pricing-partial" id="pricing-menu-item" href="{% url 'pricing' %}">
            <span class="nav-item-text">Pricing</span>
          </a>
        </li>
      </ul>   
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="blue {% active 'register' %}" data-href="#register-partial" id="register-menu-item" href="{% url 'register' %}">
            <span class="nav-item-text">Sign Up</span>
          </a>
        </li>
        <li>
          <a class="{% active 'login' %}" data-href="#login-partial" id="login-menu-item" href="{% url 'login' %}">
            <span class="nav-item-text">Login</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="midline" style="display:none">
  <div class="tagline">
    <h1>A better way to sell on <span>Craigslist</span></h1>
  </div>
  <div class="big-nav-container">
    <div id="big-nav">
      <div class="container big-nav">
        <div class="col-lg-8 col-lg-offset-2 col-big-nav">
          <ul class="nav navbar-nav big-navbar">
              <li>
                <a class="big post {% active 'home' %}" data-href="#post-partial" id="post-menu-item" href="/">
                  <span class="nav-item-text">Post</span>
                </a>
              </li>
              <li>
                <a class="big {% active 'manage' %}" data-href="#manage-partial" id="manage-menu-item" href="/manage/">
                  <span class="nav-item-text">Manage</span>
                </a>
              </li>
              <li>
                <a class="big {% active 'profile' %}" data-href="#profile-partial" id="profile-menu-item" href="/profile/">
                  <span class="nav-item-text">Trust</span>
                </a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>