{% load static from staticfiles %}

<div class="col-sm-1 col-offset-11">
	<ul class="nav nav-pills nav-stacked" id="nav-how" data-spy="affix">
            <li><a href="#listing">Better Listing Creation</a></li>
            <li><a href="#dashboard">Better Listing Management</a></li>
            <li><a href="#profile">All New Profiles</a></li>
    </ul>
</div>

<div id="listing"></div>
<div class="row how-row">
	<h3 class="text-center">Better Listing Creation<h3>
	<div class="col-sm-3 col-listing">
		<h4 class="text-center listing-form">Everything on one page</h4>
		<p>A lot of page loads can really slow down the process, so we put everything in one place. Pick a category, select your location or we can auto-detect it, upload photos, and fill out the details for your listing. You can even toggle to preview mode in the same window so you can what your listing will look like as you make changes.</p>

		<h4 class="text-center smart-pricing">Smart price suggestions</h4>
		<p>Knowing how much to sell your item for can be the difference between getting it sold today and having it sitting in your garage forever. We pull data from sites like Craigslist, Ebay, and Amazon to find out what other items like yours are selling for so you know the market rate for your itme.  </p>

		<h4 class="text-center specs">Category-based specifications</h4>
		<p>It's hard to know what exactly to include in your listing description, so we give you prefilled, optional specs based on the category you choose. Based on the title of your listing, we also show you what other items like yours are being sold for  on Craigslist, Ebay, and Amazon.</p>

		<h4 class="text-center photos">More control of photos</h4>
		<p>Photos are a huge part of your listing, so we want to make sure you have full control. Upload the highest-res photos you can and we'll display them in all their glory. If there's any editing you need to do, you don't need to do it in image editing software.</p>


		<h4 class="text-center one-click">One click to post to Craigslist</h4>
		<p>Get that awesome listing out there! We can automagically post your listings to Craigslist, Facebook and Twitter. The listing looks like a regular listings on Craigslist and we made sure the preview looks great on Facebook. We're working on adding more sites like Ebay, Etsy, and Amazon.</p>
	</div>
	<div class="col-8 col-listing-img">
		<img src="{% static 'static_pages/img/listing-creation.png' %}"  class="img-responsive">
	</div>
	
</div>

<div id="dashboard"></div>
<div class="row dashboard-row">
	<h3 class="text-center">Better Listing Management</h3>
	<div class="col-6 ">
		<h4 class="text-center">Keep track of it all in the dashboard</h4>
		<p>Keeping track of all the details and emails for one listing is hard, and gets exponentially more difficult if you have more than one listing. We put it all in one place so you can keep track of each and every listing easily and know what's going on. You can edit, re-post, delete, and mark an item as sold as well as sort your listings by date, category, title, and responses.</p>
	</div>
	<div class="col-4 col-offset-1">
		<h4 class="text-center">Respond to emails</h4>
		<p>No more sifting through all your emails trying to find the ones related to each of your listing and no more headaches trying to remember who emailed what: it's all here.</p>
	</div>
</div>
<div class="row dashboard-img-row">
	<div class="col-11">
		<img src="{% static 'static_pages/img/dashboard.png' %}"  class="img-responsive">
	</div>
</div>
<a id="profile"></a>

<div class="row profile-row">
	<h3 class="text-center">All New Seller Profiles</h3>
	<div class="col-sm-3">
		<h4 class="text-center">Seller profiles for more trust</h4>
		<p>Everyone feels more comfortable when they know who's on the other end, especially when you're meeting up to show-row and sell an item. We made optional seller profiles so that you can let buyers know you're a real person and worth buying from. </p>
	</div>
	<div class="col-sm-8">
		<img src="{% static 'static_pages/img/profile-card.png' %}"  class="img-responsive">
	</div>
</div>
<a class="btn btn-primary btn-small btn-signup" href="{% url "registration_register" %}" data-toggle="modal">Sign Up</a>
</body>
	