<!--<h4 class="text-center">Every listing you publish costs $1, but it's super easy to get free listings:</h4>
<div class="row pricing-row">	
		<div class="col-lg-3 col-lg-offset-1">
			<div class="icon-add-friend"></div>
			<p>5 free listings for every friend you invite to Rocket.</p>
		</div>
		<div class="col-lg-4">
			<div class="icon-chart"></div>
			<p>1 free listing for every 10 hits your listings get on rocketlistings.com</p>
		</div>
		<div class="col-lg-3">
			<div class="icon-profile-info"></div>
			<p class>5 free listings by completing your profile.</p>
		</div>
</div>-->
<p class="lead text-center"> Rocket Listings is completely <strong>free</strong> if you create 3 or less listings a month. It's just a $1 per listing after that, but it's really easy to get free listings by doing stuff like completing your profile and inviting friends. </p>
<a class="btn btn-primary btn-small btn-signup" href="{% url "registration_register" %}" data-toggle="modal">Sign Up</a>


