<div class="row row-pricing">	
		<div class="span10 offset1">
			<h3>Every listing you publish costs $1, but it's super easy to get free listings:</h3>
		</div>
</div>
<div class="row row-pricing">	
		<div class="span3 offset1">
			<i class="icon-add-friend"></i>
			<p>5 free listings for every friend you invite to Rocket.</p>
		</div>
		<div class="span4">
			<i class="icon-chart"></i>
			<p>1 free listing for every 10 hits your listings get on rocketlistings.com</p>
			
		</div>
		<div class="span3">
			<i class="icon-profile-info"></i>
			<p class>5 free listings by completing your profile.</p>
		</div>
</div>
<a class="btn btn-primary btn-signup" href="{% url "registration_register" %}" data-toggle="modal">Sign Up</a>
