{% load static from staticfiles %}

<div class="row what-row">

	<div class="col-lg-4">
		<div class="col-photos">
			<h4>Upload and edit photos faster</h4>
			<div class="col-lg-9">
				<p>Better photos mean a better listing, so you get more money for your item.</p>
			</div>
			<div class="col-lg-3">
				<div class="icon-photo"></div>
			</div>
			 <div class="clear"></div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="col-listing">
			<h4>Create, preview, and post all in one</h4>
			<div class="col-lg-9">	
				<p>We made listing creation and posting as fast as possible by putting it all in one place.</p>
			</div>
			<div class="col-lg-3">
				<div class="icon-newspaper"></div>
			</div>		

		</div>
	</div>
	<div class="col-lg-4">
		<div class="col-autopost">
			<h4>Automagically post to Craigslist </h4>
			<div class="col-lg-9">
				<p>Your Craigslist listing will have a leg up on the rest because of our clean, detailed template.</p>
			</div>
			<div class="col-lg-3">
				<div class="icon-share"></div>
			</div>
		</div>
	</div>
</div>
<div class="row what-row">
	<div class="col-lg-4">
		<div class="col-dashboard">
			<h4>Manage everything the dashboard</h4>
			<div class="col-lg-9">
				<p>View, edit, delete, and see stats on your listing and keep track of all your interested buyers.</p>
			</div>
			<div class="col-lg-3">
				<div class="icon-laptop"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="col-message">
			<h4>Receive and send emails to buyers</h4>
			<div class="col-lg-9 ">
				<p>We organize your emails from Craigslist and you can even reply through the dashboard.</p>
			</div>
			<div class="col-lg-3">	
				<div class="icon-chat"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="col-profiles">
			<h4>Build trust with your profile</h4>
			<div class="col-lg-9">
				<p>Show buyers that you're a trustworthy seller by gaining positive ratings and comments.</p>
			</div>
			<div class="col-lg-3">
				<div class="icon-profile"></div>
			</div>
		</div>
	</div>
</div>
<div class="call-to-action">	
	<a class="btn btn-primary" href="{% url 'registration_register' %}">Create an account to get started</a>
	<a class="plain-link" href="#listing">Learn More</a>
	<div class="clearfix"></div>
</div>
<div class="previews">
<div class="feature-preview">
	<h3>Intelligent listing creation</h3>
	<p> We provide data-backed suggestions for price, the specs you need to include for the category, and a dynamic preview.</p>
	<img src="{% static 'static_pages/img/listing-creation-short.png' %}"  class="img-responsive">
</div>
<div class="feature-preview">
	<h3>Revolutionary sales management</h3>
	<p> See every listing's details, stats, and emails from Craigslist buyers (that you even can reply to) in one place.</p>
	<img src="{% static 'static_pages/img/dashboard.png' %}"  class="img-responsive">
</div>
<div class="feature-preview">
	<h3>Trust-building user profiles</h3>
	<p> See every listing's details, stats, and emails from Craigslist buyers (that you even can reply to) in one place.</p>
	<img src="{% static 'static_pages/img/profile-card.png' %}"  class="img-responsive">
</div>
<a class="btn btn-primary btn-small btn-signup" href="{% url "registration_register" %}" data-toggle="modal">Sign Up</a>
</div>
