{% load static from staticfiles %}

<div class="row what-row">
<h3>Faster and easier listing creation</h3>
		<div class="col-lg-4">
				<div class="icon-photo"></div>
				<h4>More control of your photos</h4>
				<p>Upload and edit unlimited, high-res photos</p>
		</div>
		<div class="col-lg-4">
				<div class="icon-newspaper"></div>
				<h4>Everything on one page</h4>
				<p>Create and preview your listing in the same place</p>
		</div>
		<div class="col-lg-4">
				<div class="icon-share"></div>
				<h4>One click to post to Craigslist </h4>
				<p>Post on Craigslist without leaving our site</p>
		</div>

	</div>
	<div class="row what-row">
	<h3>Powerful tools to manage the entire sale process</h3>
		<div class="col-lg-4">
				<div class="icon-laptop"></div>
				<h4>Track all your listings in the dashboard</h4>
				<p>Every listing, its details, and views in one spot. </p>
		</div>
		<div class="col-lg-4 ">
				<div class="icon-chat"></div>
				<h4>Message with potential buyers </h4>
				<p>View and respond to emails to your Craigslist ad. </p>
		</div>
		<div class="col-lg-4">
				<div class="icon-profile"></div>
				<h4>Profiles for more trust</h4>
				<p>Receive ratings and comments to build your rep.</p>
		</div>
	</div>
	<div class="call-to-action">	
		<a class="btn btn-primary" href="{% url 'registration_register' %}">Create an account to get started</a>
		<a class="plain-link" href="#listing">Learn More</a>
		<div class="clearfix"></div>
	</div>

<div class="row">
	<div class="col-11">
		<div id="listing"></div>
		<div class="row how-row">
			<h3>Better Listing Creation</h3>
			<div class="col-sm-3 col-listing">
				<h4 class="text-center listing-form">Everything on one page, including the preview</h4>
				<p>A lot of page loads can really slow down the process, so we put everything in one place. You can even toggle to preview mode in the same window so you can see what your listing will look like as you make changes.</p>

				<h4 class="text-center smart-pricing">Smart price suggestions</h4>
				<p>Knowing how much to sell your item for can be the difference between getting it sold today and having it sitting in your garage forever. We pull data from sites like Craigslist, Ebay, and Amazon to find the going rate for your item.  </p>

				<h4 class="text-center specs">Category-based specifications</h4>
				<p>We give you prefilled, optional specs based on the category so you know what info buyers need to know about your item.</p>

				<h4 class="text-center photos">More control of photos</h4>
				<p>Photos are a huge part of your listing, so we want to make sure you have full control. Easily upload multiple, high-res photos, so you if you need to make edits you don't need image editing software .</p>


				<h4 class="text-center one-click">Automagically post to Craigslist</h4>
				<p>Get that awesome listing out there! It's just one click to post to Craigslist and share on Twitter and Facebook.</p>
			</div>
			<div class="col-9 col-listing-img">
				<img src="{% static 'static_pages/img/listing-creation.png' %}"  class="img-responsive">
			</div>
		</div>
		<div id="dashboard"></div>
		<div class="row dashboard-img-row">
			<h3>Better Listing Management</h3>
			<div class="col-12">
				<img src="{% static 'static_pages/img/dashboard.png' %}"  class="img-responsive">
			</div>
		</div>
		<div class="row dashboard-row">
			<div class="col-7">
				<h4 class="text-center">Keep track of everything in the dashboard</h4>
				<p>Keeping track of all the details and emails for one listing is hard, and gets even worse as you make mulitiple listings. We put it all in one place so you can keep track of every listing. You can edit, re-post, delete, and mark an item as sold as well as sort your listings by date, category, title, and responses.</p> 
			</div>
			<div class="col-4 col-lg-offset-1">
				<h4 class="text-center">Respond to emails</h4>
				<p>No more sifting through all your emails trying to find the ones related to each of your listing and no more headaches trying to remember who emailed what: it's all here.</p>
			</div>
		</div>

		<a id="profile"></a>
		<div class="row profile-row">
			<h3>All New Seller Profiles</h3>
			<div class="col-sm-8">
				<img src="{% static 'static_pages/img/profile-card.png' %}"  class="img-responsive">
			</div>
			<div class="col-sm-4">
				<h4 class="text-center">Seller profiles for more trust</h4>
				<p>Everyone feels more comfortable when they know who's on the other end, especially when you're meeting up to show-row and sell an item. We made optional seller profiles so that you can let buyers know you're a real person and worth buying from. </p>
			</div>
		</div>
		<a class="btn btn-primary btn-small btn-signup" href="{% url "registration_register" %}" data-toggle="modal">Sign Up</a>
	</div>
	<div class="col-1 nav-how">
		<div class="btn-group btn-group-vertical" data-spy="affix" data-offset-top="915"> 
            <a class="btn" href="#listing">Listings</a>
            <a class="btn" href="#dashboard">Dashboard</a>
            <a class="btn" href="#profile">Profiles</a>
	    </div>
	</div>
</div>			