{% load static from staticfiles %}
<div class="white-bg">
  <div class="container">
    <div class="row register-mobile-row">
		<h4>We're not set up on mobile yet, but if you leave your email we'll let you know when we are!</h4>     
		<!-- Begin MailChimp Signup Form -->
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://rocketlistings.us5.list-manage.com/subscribe/post?u=c23c8d2db98cf53f0f63cfb9c&amp;id=b25088aaa1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
  	</div>
	</div>
</div>
