{% load static from staticfiles %}
{% load humanize %}

{% if listings.count > 0 %}
	{% for listing in listings %}
		<tr data-listing-id="{{ listing.identification }}">
			<td>
				<a href="{{ listing.url_id }}">{{ listing.title }}</a>
			</td>
			<td>${{ listing.price }}</td>
			{# <td>{{ listing.location }}</td> #}
			<td>{{ listing.category }}</td>
			<td>{{listing.user}}</td>
			<td><p style=" float:right" class="hide">{{ listing.pub_date|date:"m/d/y P" }}</p>{{ listing.pub_date|naturaltime }}</td>
		</tr>
	{% endfor %}
{% else %}
	<tr>
		<td colspan="5">No results</td>
	</tr>
{% endif %}