{% load static from staticfiles %}
{% load humanize %}
{# Requires the context variable 'listings' #}	
{# Requires the context variable 'buyers' #}	


<div class="dash-subtitle">Buyers</div>
<div class="buyers-cards">
	{% for buyer in buyers %}
	<table class="table table-condensed buyer-card listing-{{buyer.listing.id}} hide" data-buyer-id="{{ buyer.id }}">
		<tr>
			<td>{{ buyer.name }}</td>
		</tr>
		<tr>
			<td>
			{% if buyer.max_offer %}
			Offering ${{buyer.max_offer}}
			{% else %}
			No offer
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>{{ buyer.last_message.date|naturaltime }}</td>
		</tr>
	</table>
	{% endfor %}
</div>