<div class="sidebar-content">
    <div class="sidebar-button-wrapper sidebar-all">
      <a id="filter-none" class="sidebar-text">All</a>
    </div>
    <div class="sidebar-button-wrapper sidebar-active">
      <a id="filter-active" class="sidebar-text">Active</a>
    </div>
    <div class="sidebar-button-wrapper sidebar-sold">
      <a id="filter-sold" class="sidebar-text">Sold</a>
    </div>
    <div class="sidebar-button-wrapper sidebar-draft">
      <a id="filter-draft" class="sidebar-text">Draft</a>
    </div>
    <div class="sidebar-button-wrapper sidebar-pending">
      <a id="filter-pending" class="sidebar-text">Pending</a>
    </div>
    <div class="sidebar-button-wrapper sidebar-deleted">
      <a id="filter-deleted" class="sidebar-text">Deleted</a>
    </div>
</div>