{% load specval %}

<h3 class="listing-title">{{ form.title.value|default:"Create a Listing" }}</h3>
{# {{ formset.as_p }} #}

{% for hidden in formset.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% if photo_formset.total_form_count > 0 %}
<style> .upload-view { display: none; }</style>
{% else %}
<style> .photo-view { display: none; }</style>
{% endif %}

<form method="POST" class="listing-form">
  {% csrf_token %}
  {# Hidden fields #}
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
  {# Category Select #}
  <fieldset>
    <legend>Category</legend>
    {% for error in form.category.errors %}
    <div class="alert alert-danger">
      <p>{{ error }}</p>
    </div>
    {% endfor %}
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#forsale" data-toggle="tab">For Sale</a>
      </li>
      <li>
        <a href="#housing" data-toggle="tab">Housing</a>
      </li>
    </ul>
    <div class="tab-content">
      {% for group, cat_list in cats.items %}
      <div class="tab-pane cat-pane {% if group == "forsale" %} active{% endif %}" id="{{ group }}">
        <div class="row">
          <div class="col-lg-2 col-sm-4 col-3">
          {% for cat in cat_list %}
              <a class="cat {{ group }}" data-id="{{ cat.id }}">{{ cat.name }}</a>
            {% if group == "forsale" and forloop.counter|divisibleby:6 or group == "housing" and forloop.counter|divisibleby:3 %}
              </div><div class="col-lg-2">
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </fieldset>

  {# First form row #}
  <fieldset><legend>Listing Info</legend>
    {# Title #}
    <div class="row">
      <div class="col-sm-9 form-group{% if form.title.errors %} has-error {% endif %}">
        
        <label class="control-label" for="id_title">{{ form.title.label }}</label>
        <input id="id_title" class="title form-control" maxlength="200" name="title" type="text" placeholder="2000 Jeep Wrangler 4.0L" value="{{ form.title.value|default:"" }}">

        {% for error in form.title.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="col-sm-3 form-group {% if form.price.errors %} has-error {% endif %}">
        <label for="id_price" class="control-label">{{ form.price.label }}</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input id="id_price" class="price form-control" name="price" type="text" placeholder="666" value="{{ form.price.value|default:"" }}">
        </div>
        {% for error in form.price.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12{% if form.description.errors %} has-error {% endif %}">
        <label class="control-label" for="id_description">{{ form.description.label }}</label>
        <textarea id="id_description" class="description form-control" placeholder="The best car ever." name="description" rows="5">{{ form.description.value|default:"" }}</textarea>
        {% for error in form.price.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
      </div>
    </div>
  </fieldset>
  <fieldset id="spec-fieldset" class=""><legend>Location &amp; Specs</legend>
    <div class="row">
      <div class="form-group col-lg-6 {% if form.location.errors %} has-error {% endif %}">
        <label for="id_location" class="form-label">{{ form.location.label }}</label>
        <input type="text" placeholder="Burlington, VT" class="form-control" id="id_location" maxlength="200" name="location" value="{{ form.location.value|default:"" }}">
        <img src="http://placehold.it/420x200"/>
      </div>
      <div class="specs-form col-lg-6">
        <p id="no-specs">No specification fields available for this category.</p>
        {% for spec_key in spec_keys %}
        <div class="form-group" data-cat="{{ spec_key.category_id }}">
            <label class="control-label" for="id_spec-{{ spec_key.id }}">{{ spec_key.name }}</label>
            <input id="id_spec-{{ spec_key.id }}" class="form-control" type="text" disabled="disabled" name="spec-{{ spec_key.id }}" value="{{ specs|specval:spec_key.id }}"/>
        </div>
        {% endfor %}
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Photo Upload<small class="photo-view text-muted">Drag to reorder</small>
      <a class="btn btn-small btn-default pull-right photo-view toggle-view">Upload more</a>
      <a class="btn btn-small btn-default pull-right upload-view toggle-view" style="display: none;">Arrange photos</a>      
    </legend>
    {% for dict in photo_formset.errors %}
    {% for error in dict.values %}
      <div class="alert alert-warning alert-block">
      {{ error }}
      </div>  
    {% endfor %}
    {% endfor %}
    <div id="photos" class="row sortable photo-view">
      {% for form in photo_formset %}
        <div class="col-lg-2" data-id="{{ forloop.counter0 }}" draggable="true">
          <a class="thumbnail">
            <img src="{{ S3_URL }}{{ form.key.value }}">
          </a>
        </div>
      {% endfor %}
    </div>
    <div id="photo_formset" class="hide">
      {{ photo_formset.management_form }}
      {% for form in photo_formset %}
      {% for field in form %}      
        {{ field }} 
      {% endfor %}
      <br/>
      {% endfor %}      
    </div>
    <iframe class="upload-view" id="fp-container"></iframe>

    {# Mustache Template #}
    {% verbatim %}
    <script id="thumbnail-template" type="text/template">
      {{#photos}}
      <div class="col-lg-2" data-id="{{ index }}" draggable="true">
        <a class="thumbnail">
          <img src="{{ src }}">
        </a>
      </div>
      {{/photos}}
    </script>
    {% endverbatim %}

    <script id="photo-form-template" type="text/template">
      {% verbatim %}
      {{#photos}}
      {% endverbatim %}
      {% for field in photo_formset.empty_form %}{{ field }}{% endfor %}
      <br/>
      {% verbatim %}
      {{/photos}}
      {% endverbatim %}
    </script>

  </fieldset>
  <button type="submit" class="btn btn-primary">Post to Craigslist</button>
</form>