{% load static from staticfiles %}
{% load specval %}
<h3 class="listing-title">{{ form.title.value|default:"Create a Listing" }}</h3>
{# {{ formset.as_p }} #}

{% for hidden in formset.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% if photo_formset.total_form_count > 0 %}
<style> .upload-view { display: none; }</style>
{% else %}
<style> .photo-view { display: none; }</style>
{% endif %}

<form method="POST" class="listing-form">

  {% csrf_token %}

  {# Hidden fields #}
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

  {# Category Select #}
  <fieldset>
    <legend>Category</legend>
    {% for error in form.category.errors %}
    <div class="alert alert-danger">
      <p>{{ error }}</p>
    </div>
    {% endfor %}
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#forsale" data-toggle="tab">For Sale</a>
      </li>
      <li>
        <a href="#housing" data-toggle="tab">Housing</a>
      </li>
    </ul>
    <div class="tab-content">
      {% for group, cat_list in cats.items %}
      <div class="tab-pane cat-pane {% if group == "forsale" %} active{% endif %}" id="{{ group }}">
        <div class="row">
          <div class="col-lg-2 col-sm-4 col-3">
          {% for cat in cat_list %}
              <a class="cat {{ group }}" data-id="{{ cat.id }}">{{ cat.name }}</a>
            {% if group == "forsale" and forloop.counter|divisibleby:6 or group == "housing" and forloop.counter|divisibleby:3 %}
              </div><div class="col-lg-2">
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </fieldset>

  {# First form row #}
  <fieldset><legend>Listing Info</legend>
    {# Title #}
    <div class="row">
      <div class="col-sm-9 form-group {% if form.title.errors %} has-error {% endif %}">
        
        <label class="control-label" for="id_title">{{ form.title.label }}</label>
        <input id="id_title" class="title form-control" maxlength="200" name="title" type="text" placeholder="2000 Jeep Wrangler 4.0L" value="{{ form.title.value|default:"" }}">

        {% for error in form.title.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="col-sm-3 form-group {% if form.price.errors %} has-error {% endif %}">
        <label for="id_price" class="control-label">{{ form.price.label }}</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input id="id_price" class="price form-control" name="price" type="text" placeholder="666" value="{{ form.price.value|default:"" }}">
        </div>
        {% for error in form.price.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12{% if form.description.errors %} has-error {% endif %}">
        <label class="control-label" for="id_description">{{ form.description.label }}</label>
        <textarea id="id_description" class="description form-control" placeholder="The best car ever." name="description" rows="5">{{ form.description.value|default:"" }}</textarea>
        {% for error in form.price.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
      </div>
    </div>
  </fieldset>
  <fieldset><legend>Marketplace</legend>
    <div class = "row">
      <div id="market-col" class="col-lg-6">
        <select class= "form-select" name = "market">
          <option value="sfo" >SF bay area </option>
          <option value="abz" >aberdeen </option>
          <option value="abi" >abilene </option>
          <option value="aca" >acapulco </option>
          <option value="adl" >adelaide </option>
          <option value="amd" >ahmedabad </option>
          <option value="cak" >akron / canton </option>
          <option value="alb" >albany </option>
          <option value="aby" >albany, GA </option>
          <option value="abq" >albuquerque </option>
          <option value="alc" >alicante </option>
          <option value="aoo" >altoona-johnstown </option>
          <option value="ama" >amarillo </option>
          <option value="ame" >ames, IA </option>
          <option value="ams" >amsterdam / randstad </option>
          <option value="anc" >anchorage / mat-su </option>
          <option value="aaa" >ann arbor </option>
          <option value="anp" >annapolis </option>
          <option value="app" >appleton-oshkosh-FDL </option>
          <option value="ash" >asheville </option>
          <option value="jfn" >ashtabula </option>
          <option value="ahn" >athens, GA </option>
          <option value="ohu" >athens, OH </option>
          <option value="atl" >atlanta </option>
          <option value="aub" >auburn </option>
          <option value="akl" >auckland, NZ </option>
          <option value="aug" >augusta </option>
          <option value="aus" >austin </option>
          <option value="bcd" >bacolod </option>
          <option value="bcs" >baja california sur </option>
          <option value="bak" >bakersfield </option>
          <option value="ibz" >baleares </option>
          <option value="bal" >baltimore </option>
          <option value="bng" >bangalore </option>
          <option value="bgl" >bangladesh </option>
          <option value="bar" >barcelona </option>
          <option value="brr" >barrie </option>
          <option value="bsl" >basel </option>
          <option value="bth" >bath </option>
          <option value="btr" >baton rouge </option>
          <option value="btc" >battle creek </option>
          <option value="bpt" >beaumont / port arthur </option>
          <option value="pek" >beijing </option>
          <option value="bey" >beirut, lebanon </option>
          <option value="blf" >belfast </option>
          <option value="bru" >belgium </option>
          <option value="bel" >belleville, ON </option>
          <option value="bli" >bellingham </option>
          <option value="cnf" >belo horizonte </option>
          <option value="bji" >bemidji </option>
          <option value="bnd" >bend </option>
          <option value="ber" >berlin </option>
          <option value="brn" >bern </option>
          <option value="bbi" >bhubaneswar </option>
          <option value="wnp" >bicol region </option>
          <option value="bio" >bilbao </option>
          <option value="bil" >billings </option>
          <option value="bgm" >binghamton </option>
          <option value="bhx" >birmingham / west mids </option>
          <option value="bhm" >birmingham, AL </option>
          <option value="bis" >bismarck </option>
          <option value="bmg" >bloomington, IN </option>
          <option value="bln" >bloomington-normal </option>
          <option value="boi" >boise </option>
          <option value="lpb" >bolivia </option>
          <option value="blq" >bologna </option>
          <option value="bnc" >boone </option>
          <option value="bod" >bordeaux </option>
          <option value="bos" selected>boston </option>
          <option value="bou" >boulder </option>
          <option value="blg" >bowling green </option>
          <option value="bzn" >bozeman </option>
          <option value="brd" >brainerd </option>
          <option value="bfd" >brantford-woodstock </option>
          <option value="bsb" >brasilia </option>
          <option value="brm" >bremen </option>
          <option value="bri" >brighton </option>
          <option value="bne" >brisbane </option>
          <option value="brs" >bristol </option>
          <option value="rns" >brittany </option>
          <option value="bro" >brownsville </option>
          <option value="bwk" >brunswick, GA </option>
          <option value="bud" >budapest </option>
          <option value="bue" >buenos aires </option>
          <option value="buf" >buffalo </option>
          <option value="sof" >bulgaria </option>
          <option value="btm" >butte </option>
          <option value="cdz" >cadiz </option>
          <option value="cdo" >cagayan de oro </option>
          <option value="cns" >cairns </option>
          <option value="clg" >calgary </option>
          <option value="cam" >cambridge, UK </option>
          <option value="tfn" >canarias </option>
          <option value="cbr" >canberra </option>
          <option value="cap" >cape cod / islands </option>
          <option value="cpt" >cape town </option>
          <option value="cym" >cardiff / wales </option>
          <option value="crb" >caribbean islands </option>
          <option value="cbo" >cariboo </option>
          <option value="cat" >catskills </option>
          <option value="ceb" >cebu </option>
          <option value="ced" >cedar rapids </option>
          <option value="cnj" >central NJ </option>
          <option value="aex" >central louisiana </option>
          <option value="cmu" >central michigan </option>
          <option value="chm" >champaign urbana </option>
          <option value="ixc" >chandigarh </option>
          <option value="chs" >charleston, SC </option>
          <option value="crw" >charleston, WV </option>
          <option value="cha" >charlotte </option>
          <option value="uva" >charlottesville </option>
          <option value="chk" >chatham-kent </option>
          <option value="cht" >chattanooga </option>
          <option value="chq" >chautauqua </option>
          <option value="ctu" >chengdu </option>
          <option value="che" >chennai (madras) </option>
          <option value="chi" >chicago </option>
          <option value="chc" >chico </option>
          <option value="chh" >chihuahua </option>
          <option value="scl" >chile </option>
          <option value="chl" >chillicothe </option>
          <option value="ckg" >chongqing </option>
          <option value="chr" >christchurch </option>
          <option value="cin" >cincinnati, OH </option>
          <option value="cjs" >ciudad juarez </option>
          <option value="ckv" >clarksville, TN </option>
          <option value="cle" >cleveland </option>
          <option value="cvn" >clovis / portales </option>
          <option value="cst" >college station </option>
          <option value="cgn" >cologne </option>
          <option value="bog" >colombia </option>
          <option value="cos" >colorado springs </option>
          <option value="cou" >columbia / jeff city </option>
          <option value="cae" >columbia, SC </option>
          <option value="col" >columbus </option>
          <option value="csg" >columbus, GA </option>
          <option value="cmx" >comox valley </option>
          <option value="coo" >cookeville </option>
          <option value="cop" >copenhagen </option>
          <option value="ycc" >cornwall, ON </option>
          <option value="crp" >corpus christi </option>
          <option value="crv" >corvallis/albany </option>
          <option value="cri" >costa rica </option>
          <option value="cov" >coventry </option>
          <option value="zag" >croatia </option>
          <option value="cbg" >cumberland valley </option>
          <option value="cwb" >curitiba </option>
          <option value="dlc" >dalian </option>
          <option value="dal" >dallas / fort worth </option>
          <option value="dnv" >danville </option>
          <option value="drw" >darwin </option>
          <option value="dvo" >davao city </option>
          <option value="day" >dayton / springfield </option>
          <option value="dab" >daytona beach </option>
          <option value="dil" >decatur, IL </option>
          <option value="och" >deep east texas </option>
          <option value="drt" >del rio / eagle pass </option>
          <option value="dlw" >delaware </option>
          <option value="del" >delhi </option>
          <option value="den" >denver </option>
          <option value="dby" >derby </option>
          <option value="dsm" >des moines </option>
          <option value="det" >detroit metro </option>
          <option value="dvc" >devon &amp; cornwall </option>
          <option value="sdq" >dominican republic </option>
          <option value="dhn" >dothan, AL </option>
          <option value="drs" >dresden </option>
          <option value="dub" >dublin </option>
          <option value="dbq" >dubuque </option>
          <option value="dlh" >duluth / superior </option>
          <option value="dnd" >dundee </option>
          <option value="dud" >dunedin </option>
          <option value="dur" >durban </option>
          <option value="dus" >dusseldorf </option>
          <option value="nwh" >east anglia </option>
          <option value="eid" >east idaho </option>
          <option value="eml" >east midlands </option>
          <option value="eor" >east oregon </option>
          <option value="eco" >eastern CO </option>
          <option value="nlo" >eastern CT </option>
          <option value="enc" >eastern NC </option>
          <option value="eky" >eastern kentucky </option>
          <option value="mnt" >eastern montana </option>
          <option value="ewv" >eastern panhandle </option>
          <option value="esh" >eastern shore </option>
          <option value="eau" >eau claire </option>
          <option value="qui" >ecuador </option>
          <option value="edi" >edinburgh </option>
          <option value="edm" >edmonton </option>
          <option value="cai" >egypt </option>
          <option value="elp" >el paso </option>
          <option value="sal" >el salvador </option>
          <option value="elk" >elko </option>
          <option value="elm" >elmira-corning </option>
          <option value="eri" >erie, PA </option>
          <option value="ess" >essen / ruhr </option>
          <option value="esx" >essex </option>
          <option value="add" >ethiopia </option>
          <option value="eug" >eugene </option>
          <option value="evv" >evansville </option>
          <option value="fai" >fairbanks </option>
          <option value="far" >fargo / moorhead </option>
          <option value="fnm" >farmington, NM </option>
          <option value="fro" >faro / algarve </option>
          <option value="fay" >fayetteville </option>
          <option value="fyv" >fayetteville, AR </option>
          <option value="fgl" >finger lakes </option>
          <option value="hel" >finland </option>
          <option value="flg" >flagstaff / sedona </option>
          <option value="fnt" >flint </option>
          <option value="msl" >florence / muscle shoals </option>
          <option value="flr" >florence / tuscany </option>
          <option value="flo" >florence, SC </option>
          <option value="key" >florida keys </option>
          <option value="ftc" >fort collins / north CO </option>
          <option value="ftd" >fort dodge </option>
          <option value="fsm" >fort smith, AR </option>
          <option value="fwa" >fort wayne </option>
          <option value="ftl" >fortaleza </option>
          <option value="fra" >frankfurt </option>
          <option value="abb" >fraser valley </option>
          <option value="fdk" >frederick </option>
          <option value="ezf" >fredericksburg </option>
          <option value="fre" >fresno / madera </option>
          <option value="fmc" >ft mcmurray </option>
          <option value="fmy" >ft myers / SW florida </option>
          <option value="fuk" >fukuoka </option>
          <option value="anb" >gadsden-anniston </option>
          <option value="gnv" >gainesville </option>
          <option value="gls" >galveston </option>
          <option value="gva" >geneva </option>
          <option value="gen" >genoa </option>
          <option value="acc" >ghana </option>
          <option value="gla" >glasgow </option>
          <option value="gfl" >glens falls </option>
          <option value="goa" >goa </option>
          <option value="ool" >gold coast </option>
          <option value="gld" >gold country </option>
          <option value="grx" >granada </option>
          <option value="gfk" >grand forks </option>
          <option value="gil" >grand island </option>
          <option value="grr" >grand rapids </option>
          <option value="gtf" >great falls </option>
          <option value="ath" >greece </option>
          <option value="grb" >green bay </option>
          <option value="gbo" >greensboro </option>
          <option value="gsp" >greenville / upstate </option>
          <option value="gnb" >grenoble </option>
          <option value="gdl" >guadalajara </option>
          <option value="gum" >guam-micronesia </option>
          <option value="bjx" >guanajuato </option>
          <option value="can" >guangzhou </option>
          <option value="gua" >guatemala </option>
          <option value="gph" >guelph </option>
          <option value="gpt" >gulfport / biloxi </option>
          <option value="hfa" >haifa </option>
          <option value="hfx" >halifax </option>
          <option value="ham" >hamburg </option>
          <option value="hml" >hamilton-burlington </option>
          <option value="sou" >hampshire </option>
          <option value="nfk" >hampton roads </option>
          <option value="hnf" >hanford-corcoran </option>
          <option value="hgh" >hangzhou </option>
          <option value="haj" >hannover </option>
          <option value="hrs" >harrisburg </option>
          <option value="shd" >harrisonburg </option>
          <option value="htf" >hartford </option>
          <option value="usm" >hattiesburg </option>
          <option value="hnl" >hawaii </option>
          <option value="cfl" >heartland florida </option>
          <option value="hdb" >heidelberg </option>
          <option value="hln" >helena </option>
          <option value="hrm" >hermosillo </option>
          <option value="hky" >hickory / lenoir </option>
          <option value="rck" >high rockies </option>
          <option value="hhi" >hilton head </option>
          <option value="hij" >hiroshima </option>
          <option value="hld" >holland </option>
          <option value="hkg" >hong kong </option>
          <option value="hum" >houma </option>
          <option value="hou" >houston </option>
          <option value="hud" >hudson valley </option>
          <option value="hmb" >humboldt county </option>
          <option value="hts" >huntington-ashland </option>
          <option value="hsv" >huntsville / decatur </option>
          <option value="hyd" >hyderabad </option>
          <option value="ilo" >iloilo </option>
          <option value="imp" >imperial county </option>
          <option value="ind" >indianapolis </option>
          <option value="jkt" >indonesia </option>
          <option value="idr" >indore </option>
          <option value="inl" >inland empire </option>
          <option value="iac" >iowa city </option>
          <option value="trh" >iran </option>
          <option value="bgd" >iraq </option>
          <option value="ith" >ithaca </option>
          <option value="jxn" >jackson, MI </option>
          <option value="jan" >jackson, MS </option>
          <option value="jxt" >jackson, TN </option>
          <option value="jax" >jacksonville </option>
          <option value="oaj" >jacksonville, NC </option>
          <option value="jai" >jaipur </option>
          <option value="jvl" >janesville </option>
          <option value="jys" >jersey shore </option>
          <option value="jrs" >jerusalem </option>
          <option value="jnb" >johannesburg </option>
          <option value="jbr" >jonesboro </option>
          <option value="jln" >joplin </option>
          <option value="klt" >kaiserslautern </option>
          <option value="kzo" >kalamazoo </option>
          <option value="fca" >kalispell </option>
          <option value="kml" >kamloops </option>
          <option value="ksc" >kansas city, MO </option>
          <option value="kel" >kelowna / okanagan </option>
          <option value="ena" >kenai peninsula </option>
          <option value="kpr" >kennewick-pasco-richland </option>
          <option value="rac" >kenosha-racine </option>
          <option value="ken" >kent </option>
          <option value="nbo" >kenya </option>
          <option value="cok" >kerala </option>
          <option value="grk" >killeen / temple / ft hood </option>
          <option value="kng" >kingston, ON </option>
          <option value="krk" >kirksville </option>
          <option value="kch" >kitchener-waterloo-cambridge </option>
          <option value="klf" >klamath falls </option>
          <option value="knx" >knoxville </option>
          <option value="okk" >kokomo </option>
          <option value="kol" >kolkata (calcutta) </option>
          <option value="koo" >kootenays </option>
          <option value="kwi" >kuwait </option>
          <option value="lse" >la crosse </option>
          <option value="lsl" >la salle co </option>
          <option value="lft" >lafayette </option>
          <option value="laf" >lafayette / west lafayette </option>
          <option value="lkc" >lake charles </option>
          <option value="loz" >lake of the ozarks </option>
          <option value="lal" >lakeland </option>
          <option value="lns" >lancaster, PA </option>
          <option value="lan" >lansing </option>
          <option value="lrd" >laredo </option>
          <option value="lcr" >las cruces </option>
          <option value="lvg" >las vegas </option>
          <option value="lau" >lausanne </option>
          <option value="lwr" >lawrence </option>
          <option value="law" >lawton </option>
          <option value="lds" >leeds </option>
          <option value="alt" >lehigh valley </option>
          <option value="lej" >leipzig </option>
          <option value="lth" >lethbridge </option>
          <option value="lws" >lewiston / clarkston </option>
          <option value="lex" >lexington, KY </option>
          <option value="lil" >lille </option>
          <option value="lma" >lima / findlay </option>
          <option value="lnk" >lincoln </option>
          <option value="lis" >lisbon </option>
          <option value="lit" >little rock </option>
          <option value="liv" >liverpool </option>
          <option value="lgu" >logan </option>
          <option value="nte" >loire valley </option>
          <option value="ldn" >london </option>
          <option value="lon" >london, ON </option>
          <option value="isp" >long island </option>
          <option value="lax" >los angeles </option>
          <option value="lou" >louisville </option>
          <option value="lbb" >lubbock </option>
          <option value="lko" >lucknow </option>
          <option value="lux" >luxembourg </option>
          <option value="lyn" >lynchburg </option>
          <option value="lys" >lyon </option>
          <option value="mcn" >macon / warner robins </option>
          <option value="mad" >madison </option>
          <option value="mdd" >madrid </option>
          <option value="mne" >maine </option>
          <option value="agp" >malaga </option>
          <option value="mly" >malaysia </option>
          <option value="man" >manchester </option>
          <option value="mhk" >manhattan, KS </option>
          <option value="mnl" >manila </option>
          <option value="mkt" >mankato </option>
          <option value="mfd" >mansfield </option>
          <option value="mrs" >marseille </option>
          <option value="msc" >mason city </option>
          <option value="mto" >mattoon-charleston </option>
          <option value="mzt" >mazatlan </option>
          <option value="mca" >mcallen / edinburg </option>
          <option value="mdv" >meadville </option>
          <option value="mfr" >medford-ashland </option>
          <option value="hat" >medicine hat </option>
          <option value="mel" >melbourne </option>
          <option value="mem" >memphis, TN </option>
          <option value="mdo" >mendocino county </option>
          <option value="mer" >merced </option>
          <option value="mei" >meridian </option>
          <option value="mex" >mexico city </option>
          <option value="mxp" >milan </option>
          <option value="mil" >milwaukee </option>
          <option value="min" >minneapolis / st paul </option>
          <option value="mso" >missoula </option>
          <option value="mob" >mobile </option>
          <option value="mod" >modesto </option>
          <option value="mhv" >mohave county </option>
          <option value="mnr" >monroe </option>
          <option value="mlu" >monroe, LA </option>
          <option value="mtb" >monterey bay </option>
          <option value="mty" >monterrey </option>
          <option value="mvd" >montevideo </option>
          <option value="mgm" >montgomery </option>
          <option value="mpl" >montpellier </option>
          <option value="mon" >montreal </option>
          <option value="wvu" >morgantown </option>
          <option value="cas" >morocco </option>
          <option value="mos" >moscow </option>
          <option value="mlk" >moses lake </option>
          <option value="mum" >mumbai </option>
          <option value="mun" >muncie / anderson </option>
          <option value="muc" >munich </option>
          <option value="mkg" >muskegon </option>
          <option value="myr" >myrtle beach </option>
          <option value="ngo" >nagoya </option>
          <option value="nmo" >nanaimo </option>
          <option value="nkg" >nanjing </option>
          <option value="nap" >napoli / campania </option>
          <option value="nsh" >nashville </option>
          <option value="nbw" >new brunswick </option>
          <option value="nhm" >new hampshire </option>
          <option value="hvn" >new haven </option>
          <option value="nor" >new orleans </option>
          <option value="vpi" >new river valley </option>
          <option value="nyc" >new york city </option>
          <option value="ncl" >newcastle / NE england </option>
          <option value="ntl" >newcastle, NSW </option>
          <option value="nsc" >niagara region </option>
          <option value="mga" >nicaragua </option>
          <option value="nce" >nice / cote d'azur </option>
          <option value="rou" >normandy </option>
          <option value="lcq" >north central FL </option>
          <option value="ndk" >north dakota </option>
          <option value="njy" >north jersey </option>
          <option value="nms" >north mississippi </option>
          <option value="lbf" >north platte </option>
          <option value="abr" >northeast SD </option>
          <option value="nwi" >northern WI </option>
          <option value="nmi" >northern michigan </option>
          <option value="whl" >northern panhandle </option>
          <option value="nct" >northwest CT </option>
          <option value="nwg" >northwest GA </option>
          <option value="nwk" >northwest KS </option>
          <option value="end" >northwest OK </option>
          <option value="osl" >norway </option>
          <option value="not" >nottingham </option>
          <option value="nue" >nuremberg </option>
          <option value="oax" >oaxaca </option>
          <option value="oca" >ocala </option>
          <option value="odm" >odessa / midland </option>
          <option value="ogd" >ogden-clearfield </option>
          <option value="vps" >okaloosa / walton </option>
          <option value="oka" >okinawa </option>
          <option value="okc" >oklahoma city </option>
          <option value="olp" >olympic peninsula </option>
          <option value="oma" >omaha / council bluffs </option>
          <option value="onh" >oneonta </option>
          <option value="orc" >orange county </option>
          <option value="cor" >oregon coast </option>
          <option value="orl" >orlando </option>
          <option value="osa" >osaka-kobe-kyoto </option>
          <option value="ott" >ottawa-hull-gatineau </option>
          <option value="obx" >outer banks </option>
          <option value="ows" >owen sound </option>
          <option value="owb" >owensboro </option>
          <option value="oxf" >oxford </option>
          <option value="pak" >pakistan </option>
          <option value="psp" >palm springs, CA </option>
          <option value="crk" >pampanga </option>
          <option value="pan" >panama </option>
          <option value="pfn" >panama city, FL </option>
          <option value="par" >paris </option>
          <option value="pkb" >parkersburg-marietta </option>
          <option value="pax" >peace river country </option>
          <option value="pns" >pensacola </option>
          <option value="pia" >peoria </option>
          <option value="per" >perth </option>
          <option value="lim" >peru </option>
          <option value="peg" >perugia </option>
          <option value="ypq" >peterborough </option>
          <option value="phi" >philadelphia </option>
          <option value="phx" >phoenix </option>
          <option value="csd" >pierre / central SD </option>
          <option value="pit" >pittsburgh </option>
          <option value="plb" >plattsburgh-adirondacks </option>
          <option value="poc" >poconos </option>
          <option value="waw" >poland </option>
          <option value="phn" >port huron </option>
          <option value="pdx" >portland, OR </option>
          <option value="pto" >porto </option>
          <option value="pgp" >porto alegre </option>
          <option value="ptd" >potsdam-canton-massena </option>
          <option value="prg" >prague </option>
          <option value="prc" >prescott </option>
          <option value="hpr" >pretoria </option>
          <option value="pei" >prince edward island </option>
          <option value="yxs" >prince george </option>
          <option value="pvu" >provo / orem </option>
          <option value="pbl" >puebla </option>
          <option value="pub" >pueblo </option>
          <option value="pri" >puerto rico </option>
          <option value="pvr" >puerto vallarta </option>
          <option value="plm" >pullman / moscow </option>
          <option value="pnq" >pune </option>
          <option value="mli" >quad cities, IA/IL </option>
          <option value="qbc" >quebec city </option>
          <option value="ral" >raleigh / durham / CH </option>
          <option value="rap" >rapid city / west SD </option>
          <option value="rea" >reading </option>
          <option value="rec" >recife </option>
          <option value="red" >red deer </option>
          <option value="rdd" >redding </option>
          <option value="reg" >regina </option>
          <option value="rno" >reno / tahoe </option>
          <option value="rkv" >reykjavik </option>
          <option value="prv" >rhode island </option>
          <option value="ric" >richmond </option>
          <option value="rin" >richmond, IN </option>
          <option value="rio" >rio de janeiro </option>
          <option value="roa" >roanoke </option>
          <option value="rmn" >rochester, MN </option>
          <option value="rcs" >rochester, NY </option>
          <option value="rfd" >rockford </option>
          <option value="buh" >romania </option>
          <option value="rom" >rome </option>
          <option value="rbg" >roseburg </option>
          <option value="row" >roswell / carlsbad </option>
          <option value="sac" >sacramento </option>
          <option value="mbs" >saginaw-midland-baycity </option>
          <option value="sgy" >saguenay </option>
          <option value="sle" >salem, OR </option>
          <option value="sns" >salina </option>
          <option value="slc" >salt lake city </option>
          <option value="ssa" >salvador, bahia </option>
          <option value="sjt" >san angelo </option>
          <option value="sat" >san antonio </option>
          <option value="sdo" >san diego </option>
          <option value="slo" >san luis obispo </option>
          <option value="tsu" >san marcos </option>
          <option value="sky" >sandusky </option>
          <option value="sba" >santa barbara </option>
          <option value="saf" >santa fe / taos </option>
          <option value="smx" >santa maria </option>
          <option value="spo" >sao paulo </option>
          <option value="spp" >sapporo </option>
          <option value="srq" >sarasota-bradenton </option>
          <option value="srd" >sardinia </option>
          <option value="srn" >sarnia </option>
          <option value="skt" >saskatoon </option>
          <option value="soo" >sault ste marie, ON </option>
          <option value="sav" >savannah / hinesville </option>
          <option value="bff" >scottsbluff / panhandle </option>
          <option value="avp" >scranton / wilkes-barre </option>
          <option value="sea" >seattle-tacoma </option>
          <option value="sdj" >sendai </option>
          <option value="sel" >seoul </option>
          <option value="sev" >sevilla </option>
          <option value="sha" >shanghai </option>
          <option value="sbm" >sheboygan, WI </option>
          <option value="shf" >sheffield </option>
          <option value="she" >shenyang </option>
          <option value="szx" >shenzhen </option>
          <option value="shb" >sherbrooke </option>
          <option value="sow" >show low </option>
          <option value="shv" >shreveport </option>
          <option value="sic" >sicilia </option>
          <option value="fhu" >sierra vista </option>
          <option value="sng" >singapore </option>
          <option value="sux" >sioux city, IA </option>
          <option value="fsd" >sioux falls / SE SD </option>
          <option value="ssk" >siskiyou county </option>
          <option value="mvw" >skagit / island / SJI </option>
          <option value="ske" >skeena-bulkley </option>
          <option value="sbn" >south bend / michiana </option>
          <option value="sma" >south coast </option>
          <option value="sdk" >south dakota </option>
          <option value="mia" >south florida </option>
          <option value="snj" >south jersey </option>
          <option value="otu" >southeast IA </option>
          <option value="sek" >southeast KS </option>
          <option value="jnu" >southeast alaska </option>
          <option value="smo" >southeast missouri </option>
          <option value="swv" >southern WV </option>
          <option value="cbd" >southern illinois </option>
          <option value="smd" >southern maryland </option>
          <option value="swk" >southwest KS </option>
          <option value="mml" >southwest MN </option>
          <option value="hez" >southwest MS </option>
          <option value="wtx" >southwest TX </option>
          <option value="vaw" >southwest VA </option>
          <option value="swm" >southwest michigan </option>
          <option value="mlb" >space coast </option>
          <option value="spk" >spokane / coeur d'alene </option>
          <option value="spi" >springfield, IL </option>
          <option value="sgf" >springfield, MO </option>
          <option value="ust" >st augustine </option>
          <option value="stc" >st cloud </option>
          <option value="stg" >st george </option>
          <option value="nfl" >st john's, NL </option>
          <option value="stj" >st joseph </option>
          <option value="stl" >st louis, MO </option>
          <option value="stp" >st petersburg, RU </option>
          <option value="psu" >state college </option>
          <option value="tbr" >statesboro </option>
          <option value="osu" >stillwater </option>
          <option value="stk" >stockton </option>
          <option value="sxb" >strasbourg </option>
          <option value="str" >stuttgart </option>
          <option value="sud" >sudbury </option>
          <option value="sun" >sunshine coast </option>
          <option value="svt" >surat surat </option>
          <option value="ssn" >susanville </option>
          <option value="sth" >sweden </option>
          <option value="syd" >sydney </option>
          <option value="syr" >syracuse </option>
          <option value="twd" >taiwan </option>
          <option value="tal" >tallahassee </option>
          <option value="tpa" >tampa bay area </option>
          <option value="hba" >tasmania </option>
          <option value="tlv" >tel aviv </option>
          <option value="tha" >terre haute </option>
          <option value="toc" >territories </option>
          <option value="txk" >texarkana </option>
          <option value="txm" >texoma </option>
          <option value="bkk" >thailand </option>
          <option value="thb" >the thumb </option>
          <option value="tby" >thunder bay </option>
          <option value="tij" >tijuana </option>
          <option value="tok" >tokyo </option>
          <option value="tol" >toledo </option>
          <option value="tpk" >topeka </option>
          <option value="trn" >torino </option>
          <option value="tor" >toronto </option>
          <option value="tls" >toulouse </option>
          <option value="psl" >treasure coast </option>
          <option value="tri" >tri-cities, TN </option>
          <option value="trs" >trois-rivieres </option>
          <option value="tus" >tucson </option>
          <option value="tul" >tulsa </option>
          <option value="tun" >tunisia </option>
          <option value="ist" >turkey </option>
          <option value="tsc" >tuscaloosa </option>
          <option value="nph" >tuscarawas co </option>
          <option value="twf" >twin falls </option>
          <option value="tts" >twin tiers NY/PA </option>
          <option value="etx" >tyler / east TX </option>
          <option value="kbp" >ukraine </option>
          <option value="uae" >united arab emirates </option>
          <option value="yup" >upper peninsula </option>
          <option value="uti" >utica-rome-oneida </option>
          <option value="vld" >valdosta </option>
          <option value="val" >valencia </option>
          <option value="van" >vancouver, BC </option>
          <option value="ccs" >venezuela </option>
          <option value="vce" >venice / veneto </option>
          <option value="oxr" >ventura county </option>
          <option value="vcz" >veracruz </option>
          <option value="brl" >vermont </option>
          <option value="vic" >victoria </option>
          <option value="vtx" >victoria, TX </option>
          <option value="vie" >vienna </option>
          <option value="vtn" >vietnam </option>
          <option value="vrg" >virgin islands </option>
          <option value="vis" >visalia-tulare </option>
          <option value="wco" >waco </option>
          <option value="wdc" >washington, DC </option>
          <option value="wlo" >waterloo / cedar falls </option>
          <option value="wtn" >watertown </option>
          <option value="wau" >wausau </option>
          <option value="wll" >wellington </option>
          <option value="wen" >wenatchee </option>
          <option value="pal" >west bank </option>
          <option value="wva" >west virginia (old) </option>
          <option value="qcy" >western IL </option>
          <option value="wky" >western KY </option>
          <option value="wmd" >western maryland </option>
          <option value="wma" >western massachusetts </option>
          <option value="gjt" >western slope </option>
          <option value="whi" >whistler, BC </option>
          <option value="whh" >whitehorse </option>
          <option value="wic" >wichita </option>
          <option value="wtf" >wichita falls </option>
          <option value="wpt" >williamsport </option>
          <option value="wnc" >wilmington, NC </option>
          <option value="okv" >winchester </option>
          <option value="wsr" >windsor </option>
          <option value="win" >winnipeg </option>
          <option value="wsl" >winston-salem </option>
          <option value="wol" >wollongong </option>
          <option value="wor" >worcester / central MA </option>
          <option value="wuh" >wuhan </option>
          <option value="wyo" >wyoming </option>
          <option value="xiy" >xi'an </option>
          <option value="yak" >yakima </option>
          <option value="ykf" >yellowknife </option>
          <option value="yrk" >york, PA </option>
          <option value="yng" >youngstown </option>
          <option value="ybs" >yuba-sutter </option>
          <option value="yuc" >yucatan </option>
          <option value="yum" >yuma </option>
          <option value="zam" >zamboanga </option>
          <option value="zvl" >zanesville / cambridge </option>
          <option value="zur" >zurich </option>
        </select>
      </div>
    </div>  
  </fieldset>
  <fieldset id="spec-fieldset" class=""><legend>Location &amp; Specs</legend>
    <div class="row">
      <div id="location-col" class="col-lg-6">
        <div class="form-group {% if form.location.errors %} has-error {% endif %}">
          <label for="id_location" class="form-label">{{ form.location.label }} <span class="text-muted">(Be as specific as you want)</span></label>
            <input type="text" placeholder="Burlington, VT" class="location form-control" id="id_location" maxlength="200" name="location" value="{{ form.location.value|default:"" }}">
        </div>
        <div class="location-map-wrapper">
          <div id="location-map"></div>
          <button id="location-btn" class="btn btn-default" type="button">Autofill Current Location <i class="glyphicon glyphicon-screenshot"></i></button>
          <img src="{% static 'users/img/100px_loading.gif' %}" class="loading-spinner"/>
        </div>
        {# <label class="form-label">Map</label> #}
      </div>
      <div class="specs-form col-lg-6">
        <p id="no-specs"></p>
        {% for spec_key in spec_keys %}
        <div class="form-group" data-cat="{{ spec_key.category_id }}">
            <label class="control-label" for="id_spec-{{ spec_key.id }}">{{ spec_key.name }}</label>
            <input id="id_spec-{{ spec_key.id }}" class="form-control" type="text" disabled="disabled" name="spec-{{ spec_key.id }}" value="{{ specs|specval:spec_key.id }}"/>
        </div>
        {% endfor %}
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Photo Upload<small class="photo-view text-muted">Drag to reorder</small>
      <a class="btn btn-small btn-default pull-right photo-view toggle-view">Upload more</a>
      <a class="btn btn-small btn-default pull-right upload-view toggle-view" style="display: none;">Arrange photos</a>      
    </legend>
    {% for dict in photo_formset.errors %}
    {% for error in dict.values %}
      <div class="alert alert-warning alert-block">
      {{ error }}
      </div>  
    {% endfor %}
    {% endfor %}
    <div id="photos" class="row sortable photo-view">
      {% for form in photo_formset %}
        <div class="col-lg-2" data-id="{{ forloop.counter0 }}" draggable="true">
          {# <a class="thumbnail"> #}
            <img src="{{ S3_URL }}{{ form.key.value }}" class="img-responsive">
          {# </a> #}
        </div>
      {% endfor %}
    </div>
    <div id="photo_formset" class="hide">
      {{ photo_formset.management_form }}
      {% for form in photo_formset %}
      {% for field in form %}      
        {{ field }} 
      {% endfor %}
      <br/>
      {% endfor %}      
    </div>
    <iframe class="upload-view" id="fp-container"></iframe>

    {# Mustache Template #}
    {% verbatim %}
    <script id="thumbnail-template" type="text/template">
      {{#photos}}
      <div class="col-lg-2" data-id="{{ index }}" draggable="true">
        <img src="{{ src }}" class="img-responsive">
      </div>
      {{/photos}}
    </script>
    {% endverbatim %}

    <script id="photo-form-template" type="text/template">
      {% verbatim %}
      {{#photos}}
      {% endverbatim %}
      {% for field in photo_formset.empty_form %}{{ field }}{% endfor %}
      <br/>
      {% verbatim %}
      {{/photos}}
      {% endverbatim %}
    </script>

  </fieldset>
  <div class="btn-toolbar pull-right">
    {# <input id="submit-draft" type="submit" class="btn btn-primary" name="listing_action" value="Save as Draft"/> #}
    <input id="submit-publish" type="submit" class="btn btn-success" name="listing_action" value="Save to Craigslist"/>
  </div>
</form>