<div class="listing-dash dash-tips">
	<div class="dash-title">
		<h4>Tips for a great listing</h4>
	</div>
	<div class="dash-content">
		<ul class="unstyled">
			<strong> The Title </strong>
			<li>Be specific, direct, and include all the important details in your title.</li>
			<strong> The Description </strong>
			<li>Make sure you include all the important facts (color, dimensions, build year, etc.), as well as when you bought it, why you're selling it and details on any defects or problems.</li>						
		</ul>
	</div>
</div>