<div class="preview-pane" style="display:none">
  <h5 class="l-category"></h5>
  <div class="listing">
    <div class="row">
      <div class="l-body">
        <h1 class="l-title title" style="text-align:left;float:left;"></h1>
        <h1 class="l-dash" style="text-align:left;float:left;margin-left:11px;"> - </h1>
        <h1 class="l-price" style="text-align:left;float:left;">$</h1>
        <h1 class = "l-location" style="padding-top:5px"> () </h1><!--This has to from the address function-->
      </div>
    </div>
    {% if photos %}
      <div class="container span8">
            <!--  Carousel - consult the Twitter Bootstrap docs at 
            http://twitter.github.com/bootstrap/javascript.html#carousel -->
        <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
          <div class="carousel-inner">
            <div id="images"></div>
            {% for photo in photos %}
              <div {% if forloop.first %} class="item active" {% else %} class="item"{% endif %}> <!-- class of active since it's the first item --> 
                <img src="{{photo.url}}">
              </div>
            {% endfor %}
        </div> <!-- /.carousel-inner -->
        <!--  Next and Previous controls below
              href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#this-carousesl-id" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
        </div><!-- /.carousel -->
    {% endif %}

      <div class="l-description l-entry" style="white-space: pre-wrap;"></div>
      <br>
        
      <div class="hidden specifications">
        {% for item in specifications%}
          {{item.key.key}}:
          <p>{{item.name}}</p>
        {% endfor %}
      </div>

      <div class="spec_tables">
        {% for item in categories %}
          <div class="category_{{item}}" style="display:none">
            <table border='1' class="table_preview_{{item}}">
              {% for spec_value in specs %}
                {% if spec_value.category.name == item.name %}
                  <tr>
                    <td>{{spec_value.key}}</td>
                    <td><input type="text" disabled></td>
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
        {% endfor %}
      </div>

      <br>

      <div class="l-footnote">
        Created with 
        <a href="http://www.rocketlistings.com" class="icon">Rocket Listings</a>
        . Blast off. 
      </div>
      
    </div> <!-- /container -->
  </div>
</div>
