{% load static from staticfiles %}
{% load pagination_tags %}
{% load humanize %}
{# Requires the context variable 'listings' #}

<div id = "loadingModal" class="modal hide fade" data-backdrop="static">
  <div class="modal-header">
    <h3>Autoposting...</h3>
  </div>
  <div class="modal-body">
    <p>
    	Please wait this should only take a few moments.
    </p>
  </div>
  <div class="modal-footer">
  	<button class="autopost-close btn btn-info disabled" data-dismiss="" aria-hidden="true">Close</button>
  </div>
</div>

<table class="table table-listings table-hover sortable">
	<thead>
		<tr>
			<th><a href="#">Title</a></th>
			<th><a href="#">Price</a></th>
			{# <th class="sortable">Location</th> #}
			<th><a href="#">Category</a></th>
			<th><a href="#">Date Listed</a></th>
			<th class="sorttable_nosort">Manage</th>
		</tr>
	</thead>
	<tbody class="listing_table">
		{% for listing in listings %}
		<tr data-listing-id="{{ listing.id }}" >
			<td>
				<a class="bargle" href="{{ listing.get_absolute_url }}">
					{{ listing.title }}
				</a>
			</td>
			<td>${{ listing.price }}</td>
			{# <td>{{ listing.location }}</td> #}
			<td>{{ listing.category.name }}</td>
			<td><p class="hide">{{ listing.pub_date|date:"m/d/y P" }}</p>{{ listing.pub_date|naturaltime }}</td>
			<td>
				<div class="btn-toolbar" style="text-align: center;">
					<a href="{{ listing.get_absolute_url }}">Link</a>
					<div class="btn-group">

						<!--autopost button -->
						<a class="btn share_optn" title="Autopost to Craigslist" href="{% url 'mail.views.autopost' listing.id %}" data-toggle="modal" data-target = "#loadingModal" data-original-title="Autopost to Craigslist"><i class ="icon-share"></i></a>

						<!--edit button -->
						<a class="btn edit_optn" title="Edit Listing" href="{% url 'listings.views.detail' listing.id %}" data-container="body" data-toggle="tooltip" data-original-title="Edit Listing"><i class="icon-edit"></i></a>

						<!--delete button -->
						<a class="deleteModal btn trash_optn" title="Delete listing" href="#deleteModal_{{listing.id}}" data-toggle="modal"><i class="icon-trash"></i> </a>

						<!-- delete listing modal -->
						<div id="deleteModal_{{listing.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h3 id="myModalLabel">Delete listing?</h3>
							</div>
							<div class="modal-body">
								<h5>If you delete the listing, it will no longer appear on Rocket Listings or <br> Craigslist. You can restore the listing by going to your deleted listings panel.</h5>
							</div>
							<div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
								<a class="btn btn-primary" href="{% url 'listings.views.delete' listing.id %}" data-container="body">Confirm</a>
							</div>
						</div>
					</div>
				</div>
			</td>
			{% comment %}
			<td class="centered-td">
				<a href="{{listing.CL_link}}" target="_blank">
					<img src="{% static 'img/cl_icon.png' %}" width="25" height="25" class="grey"></i>
				</a>
				{% else %}
				<td class="centered-td"> N/A </td>
			</td>
		
			{% endcomment %}
		</tr>
	{% endfor %}
	</tbody>
</table>