{% load static from staticfiles %}
{# Requires the context variable 'messages' #}	

{% comment %}
   	<script id="new-message" type="text/template">
	{% verbatim %}
	{{#messages}}
		<div class="message buyer-{{ buyer_id }} hide">
			<h6>
				{{#isSeller}}{{seller_name}}{{/isSeller}}
				{{^isSeller}}{{buyer_name}}{{/isSeller}}
			</h6>
			<p class="{{#isSeller}}seller{{/isSeller}}{{^isSeller}}buyer{{/isSeller}}">{{content}}</p>
		</div>
	{{/messages}}
	{% endverbatim %}
	</script>
	<script id="new-message-form" type="text/template">
	{% verbatim %}
	{{#buyers}}
		<form class="message-form buyer-{{ buyer_id }} hide">
			<textarea class="form-control" rows="3" name="content" class="input-long" placeholder="Message..."></textarea>
			<input type="hidden" name="listing" value="{{ listing_id }}">
			<input type="hidden" name="buyer" value="{{ buyer_id }}">
			<input type="submit" class="btn btn-primary send-button">
		</form>
	{{/buyers}}
	{% endverbatim %}
	</script>
</div>
{% endcomment %}

<div class="messages-header">
	<ul>
		<li>Messages</li>
	</ul>
</div>
<div class="messages-body">
	{% for message in buyer_messages %}
	<ul class="message buyer-{{ message.buyer.id }} {% if message.isSeller %}message-seller{% else %}message-buyer{% endif %} hide">
		<li class="message-buyer-name">
			{% if message.isSeller %}
				{% if user.get_profile.name %}
				{{ user.get_profile.name }}
				{% else %}
				{{ user.username }}
				{% endif %}
			{% else %}
				{{ message.buyer.name }}
			{% endif %}
		</li>
		<li class="message-content">{{ message.content }}</li>
	</ul>
	<span class="hide message-form-preserve buyer-{{ message.buyer.id }}"></span>
	{% endfor %}
</div>
<div class="message-form-wrapper hide">
	<form class="message-form">
		<textarea rows="3" class="form-control" name="content" placeholder="Send a reply..."></textarea>
		<input type="submit" class="btn btn-primary send-button">
	</form>
</div>
