{% verbatim %}
<script id="preview-template" type="text/template">
  <div class="row">
    <h3 class="col-10">{{ listing.title }}<small class="text-muted preview-location">{{ listing.location }}</small></h3>
    <h3 class="col-2 text-right text-success">
      {{#listing.price}}${{ listing.price }}{{/listing.price}}
    </h3>
  </div>
  <div id="preview-gallery">
    <div class="preview-thumbnails row">
      {{#photos}}
      <div class="col-sm-2">
        <img src="http://static.rocketlistings.com/{{ key }}" data-id="{{ id }}" class="img-responsive">
      </div>
      {{/photos}}
    </div>
    <div class="preview-stage hidden-sm">
      {{#first_photo}}
      <img src="http://static.rocketlistings.com/{{ first_photo.key }}" class="img-responsive"/>
      {{/first_photo}}
    </div>
  </div>
  <p class="preview-description">{{ listing.description }}</p>    
  {{#has_specs}}
    <h4>Specs</h4>
    <dl class="dl-horizontal">
      {{#specs}}
      <dt>{{ key }}</dt>
      <dd>{{ value }}</dd>
      {{/specs}}
    </dl>
  {{/has_specs}}
</script>
{% endverbatim %}
<div id="preview-container"></div>