{% load static from staticfiles %}
{% load active from navigation %}

<div class="navbar-header">
  <a class="navbar-logo" href="{% url 'home' %}">
    <div class="accent accent1"></div>
    <div class="accent accent2"></div>
    <div class="accent accent3"></div>
    <div class="accent accent4"></div>
    <span class="logo-text"><span class="serif">rocket</span> <span class="sans-serif">listings</span></span>
  </a>  
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>      
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">      
{% if request.user.is_authenticated %}
<ul class="nav navbar-nav navbar-right">
  <li>
    <a class="{% active 'create' %} blue" href="{% url 'create' %}">
      <span class="nav-item-text">Create a Listing</span>
    </a>
  </li>
  <li>
    <a class="{% active 'dashboard' %}" href="{% url 'listings.views.dashboard' %}">
      <span class="nav-item-text"> Dashboard</span>
    </a>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="nav-item-text">{{ request.user.username }}</span> <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><a class="{% active 'user_profile' %}" href="{% url 'user_profile' user.username %}">
          <span class="nav-item-text">View Profile</span>
      </a></li>
      <li><a class="{% active 'user_info' %}" href="{% url 'user_info' %}">
          <span class="nav-item-text">Edit Profile</span>
      </a></li>
      <li><a href="{% url 'logout' %}">
          <span class="nav-item-text">Logout</span>
      </a></li>
    </ul>
  </li>
</ul>
{% else %}
<ul class="nav navbar-nav pull-right">
  <li>
    <a class="{% active 'register' %}" href="{% url 'register' %}" id="join">
      <span class="nav-item-text">Sign Up</span>
    </a>
  </li>
  <li>
    <a class="{% active 'login' %}" href="{% url 'login' %}">
      <span class="nav-item-text">Login</span>
    </a>
  </li>
</ul>
{% endif %}
</div>