{% load static from staticfiles %}
{% load active from navigation %}

<div class="navbar navbar-static-top">
  <div class="container">
    {% if request.user.is_authenticated %}
      <a class="navbar-logo" href="{% url 'listings.views.dashboard' %}">
    {% else %}
      <a class="navbar-logo" href="{% url 'home' %}">
    {% endif %}
        <div class="accent accent1"></div>
        <div class="accent accent2"></div>
        <div class="accent accent3"></div>
        <div class="accent accent4"></div>
        <span class="logo-text">rocket</span>
      </a>
      {% if request.user.is_authenticated %}
      <ul class="nav navbar-nav pull-right">
        <li>
          <a class="{% active 'create' %} blue-menu-item visible-sm" href="/listings/create/">
            <span class="nav-item-text">Create a listing</span>
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a class="{% active 'create' %} blue-menu-item hidden-sm" href="/listings/create/">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </li>
        <li>
          <a class="{% active 'dashboard' %}" href="{% url 'listings.views.dashboard' %}">
            <span class="nav-item-text">Dashboard</span>
            <span class="glyphicon glyphicon-th-list"></span>
          </a>
        </li>
        <li>
          <a class="{% active 'user_profile' %}" href="{% url 'user_profile' user.username %}">
            <span class="nav-item-text">{{ request.user.username }}</span>
            <span class="glyphicon glyphicon-user "></span>
          </a>
          
        </li>
        <li>
          <a href="{% url 'auth_logout' %}">
            <span class="nav-item-text">Logout</span>
            <span class="glyphicon glyphicon-off "></span>
          </a>
        </li>
      </ul>    
      {% else %}
      <ul class="nav navbar-nav pull-right">
        <li>
          <a class="{% active 'auth_login' %}" href="{% url 'auth_login' %}">
            <span class="nav-item-text">Login</span>
            <span class="glyphicon glyphicon-off"></span>
          </a>
        </li>
      </ul>
      {% endif %} 
  </div>
</div>



