{% extends 'listings_base.html' %}
{% load thumbnail %}
{% load static from staticfiles %}

{% block js %}
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <script type="text/javascript" src="{% static 'js/listings_reference.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/details.js' %}"></script>
  <script>
      filepicker.setKey('ATM8Oz2TyCtiJiHu6pP6Qz');
  </script>
  <script>
    $(document).ready(function(){
      $('.carousel').carousel({
        interval: 10000
      });
    })
  </script>
{% endblock %}

{% block content %}
<div class="listing-dash">
  <div class="dash-title">
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn btn-primary" onclick="Edit()">Edit</button>
      <button type="button" class="btn btn-primary active" onclick="Preview()">Preview</button>
    </div>
  </div>  
  <div class="dash-content">
    <p>
      Choose whether to edit or </br>
      preview your content by </br>
      toggling the buttons above
    </p>
  </div>
  <button type="button" class="btn btn-primary" onclick="document.getElementById('primaryButton').click()">Submit Changes</button>
</div>


{% include 'partials/listings_preview.html' %}

{% include 'partials/listings_edit.html' %}




<div class="l-footnote" style ="margin-left:55px;">
  Created with 
  <a href="http://www.rocketlistings.com" class="icon">
    Rocket Listings
  </a>
  . Blast off.
</div>

<div class="clearfix"></div>

  {% endblock %}
