{% extends 'marginless.html' %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} Dashboard{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/listings.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-custom.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-custom.min.css' %}"/>
{% endblock %}

{% block js %}
	<script src="{% static 'js/listings_dashboard.js' %}" type="text/javascript"></script>	
	{{ block.super }}

{% endblock %}


{% block content %}

	<div class = "dashboard-title"><h3>Listings Dashboard</h3></div>
	<div class = "container-fluid">
		<div class = "row-fluid">
			<div class = "span7">
				{% include 'partials/listings_table.html' %}
			</div>
			<div class = "span2">
				{% include 'partials/buyers_cards.html' %}
			</div>
			<div class = "span3">
				{% include 'partials/messages_panel.html' %}
			</div>

		</div>
	</div>

	

{% endblock %}