{% extends 'marginless.html' %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} Dashboard{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/listings.css' %}"/>
{% endblock %}

{% block js %}
	<script src="{% static 'js/listings_dashboard.js' %}" type="text/javascript"></script>
	{{ block.super }}
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4 offset4"><h3 class="dash-title text-center">Listings Dashboard</h3></div>
			<div class="span2 offset2 text-right"><a class="dashboard-create-btn">Post to classifieds</a></div>
		</div>
	</div>
	<div class="dashboard-panel row-fluid">
		<div class="span7 listings-col">
			{% include 'partials/listings_table.html' %}
		</div>
		<div class="span2 buyers-col">
			{% include 'partials/buyers_cards.html' %}
		</div>
		<div class="span3 messages-col">
			{% include 'partials/messages_panel.html' %}
		</div>
	</div>
{% endblock %}