{% extends 'listings_base.html' %}

{% block content %}
{% comment %}
Requires the context variable listings
{% endcomment %}



{% if offers %}
<h4>Offers for your <a href= " {{ listing.get_absolute_url }}">{{ listing.title }}</a></h4>
<table class="table table-striped table-bordered table-condensed tablesorter table-offers">
	<thead>
		<tr>
			<th>Offer <i class="icon-angle-down"></th>
			<th>Date Offered <i class="icon-angle-down"></th>
			<th>Buyer <i class="icon-angle-down"></th>
		</tr>
	</thead>
	<tbody>
		{% for offer in offers %}
		<tr>
			<td>${{ offer.value }}</td>
			<td>{{ offer.date }}</td>
			<td>{{ offer.buyer.name }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h4>You don't have any offers yet! </h4>
{% endif %}
{% endblock %}