{% extends 'listings_base.html' %}
{% load thumbnail %}
{% load static from staticfiles %}

{% block js %}
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <script type="text/javascript" src="{% static 'js/listings_reference.js' %}"></script>
  <script>
      filepicker.setKey('ATM8Oz2TyCtiJiHu6pP6Qz');
  </script>
  <script>
    $(document).ready(function(){
      $('.carousel').carousel({
        interval: 10000
      });
    })
  </script>
{% endblock %}

{% block content %}
<div class="listing-dash">
  <div class="dash-title">
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn btn-primary" onclick="Edit()">Edit</button>
      <button type="button" class="btn btn-primary active" onclick="Preview()">Preview</button>
    </div>
  </div>  
  <div class="dash-content">
    <p>Choose whether to edit or </br>
    preview your content by </br>
    toggling the buttons above</p>
  </div>
</div>


<div class="listing">
  <div>
  <div class="row">
    <div class="l-body">
      <h1 class="l-title title" style="text-align:left;float:left;">{{listing.title}}</h1>
      <h1 class="l-dash" style="text-align:left;float:left;margin-left:11px;"> - </h1>
      <h1 class="l-price" style="text-align:left;float:left;"> <span>&nbsp;</span>${{listing.price}}</h1>
      <h1 class = "l-location"> ({{listing.location}}) </h1><!--This has to from the address function-->
    </div>
  </div>

  <div class="container span8">
          <!--  Carousel - consult the Twitter Bootstrap docs at 
          http://twitter.github.com/bootstrap/javascript.html#carousel -->
    <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
      <div class="carousel-inner">
        {% for photo in photos %}
          <div {% if forloop.first %} class="item active" {% else %} class="item"{% endif %}> <!-- class of active since it's the first item --> 
            <img src="{{ MEDIA_URL }}{{ photo.url }}" alt="" />
            <div class="carousel-caption">
            </div>
          </div>
        {% endfor %}
      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
            href values must reference the id for this carousel -->
      <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->


    <div class="l-description l-entry">
      {{listing.description|linebreaks}}
    </div>
    
  </div> <!-- /container -->
  <br><br><br>
<div class="l-footnote" style ="margin-left:55px;">
    Created with <a href="http://www.rocketlistings.com" class="icon">Rocket Listings</a>. Blast off.
  </div>
</div>
</div>


<!-- Edit Page -->
<div class="edit" style="display:none">
  <div class="listing-edit">
    <div>
                    <div class="tabbable">  
                        <ul class="nav nav-tabs">  
                          <li class="active"><a href="#1" data-toggle="tab">For Sale</a></li>  
                          <li class=""><a href="#2" data-toggle="tab">Housing</a></li> 
                        </ul>  
                        <div class="tab-content">  
                          <div class="tab-pane active large" id="1" data-type="for_sale">
                            <table class="table">
                                <tr>
                                    <td><a href="#" data-id='appliances'> appliances </a></td>
                                    <td><a href="#" data-id='antiques'> antiques </a></td>
                                    <td><a href="#" data-id='arts_and_crafts'> arts and crafts </a></td>
                                    <td><a href="#" data-id='auto_parts'> auto parts </a></td>
                                    <td><a href="#" data-id='baby_and_kids'> baby and kids </a></td>
                                    <td><a href="#" data-id='barter'> barter </a></td>
                                    <td><a href="#" data-id='beauty_and_health'> beauty and health </a></td>
                                </tr>
                                               
                                <tr>
                                    <td><a href="#" data-id='bikes'> bikes </a></td>
                                    <td><a href="#" data-id='boats'> boats </a></td>
                                    <td><a href="#" data-id='books'> books </a></td>
                                    <td><a href="#" data-id='business'> business </a></td>
                                    <td><a href="#" data-id='cars_and_trucks'> cars and trucks </a></td>
                                    <td><a href="#" data-id='cds_dvd_vhs'> cds/dvd/vhs </a></td>
                                    <td><a href="#" data-id='cell_phones'> cell phones </a></td>
                                </tr>

                                <tr>
                                    <td><a href="#" data-id='collectibles'> collectibles </a></td>
                                    <td><a href="#" data-id='computer'> computer </a></td>
                                    <td><a href="#" data-id='electronics'> electronics </a></td>
                                    <td><a href="#" data-id='farm_and_garden'> farm and garden </a></td>
                                    <td><a href="#" data-id='free'> free </a></td>                   
                                    <td><a href="#" data-id='clothes_and_accessories'> clothes and accessories </a></td>
                                    <td><a href="#" data-id='furniture'> furniture </a></td>
                                </tr>    

                                <tr>
                                    <td><a href="#" data-id='garage_sale'> garage sale </a></td>
                                    <td><a href="#" data-id='general'> general </a></td>
                                    <td><a href="#" data-id='household'> household </a></td>
                                    <td><a href="#" data-id='jewelry'> jewelry </a></td>
                                    <td><a href="#" data-id='materials'> materials </a></td>
                                    <td><a href="#" data-id='motorcycles'> motorcycles </a></td>
                                    <td><a href="#" data-id='music_instruments'> music instruments </a></td>
                                </tr>

                                <tr>
                                    <td><a href="#" data-id='photo_and_video'> photo and video </a></td>
                                    <td><a href="#" data-id='rvs'> rvs </a></td>
                                    <td><a href="#" data-id='sporting'> sporting </a></td>
                                    <td><a href="#" data-id='tickets'> tickets </a></td>
                                    <td><a href="#" data-id='tools'> tools </a></td>
                                    <td><a href="#" data-id='toys_and_games'> toys and games </a></td>
                                    <td><a href="#" data-id='video_gaming'> video gaming </a></td>
                                </tr>

                                <tr>
                                    <td><a href="#" class="for_sale" data-id='wanted'> wanted </a></td>
                                </tr>
                            </table>
                        </div>
                  
                
                          <div class="tab-pane small" data-type="housing" id="2">  
                            <table class="table">
                                <tr>
                                    <td><a href="#" data-id="housing"> apartments / housing </a></td>
                                    <td><a href="#" data-id="housing"> rooms / shared </a></td>
                                    <td><a href="#" data-id="housing"> sublets / temporary </a></td>
                                    <td><a href="#" data-id="housing"> housing wanted </a></td>
                                    <td><a href="#" data-id="housing"> housing swap </a></td>
                                    <td><a href="#" data-id="housing"> vacation rentals </a></td>
                                </tr>
                                                
                                <tr>

                                    <td><a href="#" data-id="housing"> parking / storage </a></td>
                                    <td><a href="#" data-id="housing"> office / commercial </a></td>
                                    <td><a href="#" data-id="housing"> real estate for sale </a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
    

      <form method="POST" action="">
          {% csrf_token %}
          <div class="l-header">
              <h1 class="l-title">
                  <fieldset>
                      <input id="id_title" name="title" type="text" value="{{listing.title}}">
                      <input id="id_price" name="price" type="text" value="{{listing.price}}">
                      <input id="id_location" name="location" type="text" value="{{listing.location}}">
                  </fieldset>
              </h1>
          </div>
          {% include "listings_specs.html" %}

          <ul class="form">
              <li>
                  <textarea cols="60" id="id_description" name="description" rows="10">{{listing.description}}</textarea>
              </li>
              <li>
                  <select id="id_category" name="category" style="display:none">
                      <option value="1" selected="selected" id="nameTitle">
                      </option>
                  </select>
              </li>
              <li>
                  <select id="id_listing_type" name="listing_type" style="display:none">
                      <option value="1">Private</option>
                      <option value="2" selected="selected">Public</option>
                  </select>
              </li>
              <br>
              <button type="button" class="btn btn-primary" onclick='fileUpload()'>Upload More Pictures Here</button>
              <p>
                  <div id="pics"></div>
              </p>
          </ul>
      </form>
  </div>
  <div class="l-footnote" style ="margin-left:55px;">
    Created with <a href="http://www.rocketlistings.com" class="icon">Rocket Listings</a>. Blast off.
  </div>
</div>
</div>

<!-- End Edit Page -->




<div class="clearfix"></div>

  {% endblock %}
