{% extends 'listings_base.html' %}
{% load static from staticfiles %}

{% block js %}
    <script src="{% static 'js/listings_reference.js' %}" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/category.css' %}"/>
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script>
        filepicker.setKey('ATM8Oz2TyCtiJiHu6pP6Qz');
    </script>
{% endblock%}

{% block content %}

	<body>
		<div class= "container">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading row">
                        <a class="accordion-toggle span 4" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            For Sale
                        </a>

                        <a class="accordion-toggle span 4" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Housing
                        </a>

                        <p id="category" class="span6"></p>

                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <table class="table">
                                <tr>
                                    <td><a href="#" class="for_sale" data-id='appliances'> appliances </a></td>
                                    <td><a href="#" class="for_sale" data-id='antiques'> antiques </a></td>
                                    <td><a href="#" class="for_sale" data-id='arts_and_crafts'> arts and crafts </a></td>
                                    <td><a href="#" class="for_sale" data-id='auto_parts'> auto parts </a></td>
                                    <td><a href="#" class="for_sale" data-id='baby_and_kids'> baby and kids </a></td>
                                </tr>
                                               
                                <tr>
                                    <td><a href="#" class="for_sale" data-id='barter'> barter </a></td>
                                    <td><a href="#" class="for_sale" data-id='beauty_and_health'> beauty and health </a></td>
                                    <td><a href="#" class="for_sale" data-id='bikes'> bikes </a></td>
                                    <td><a href="#" class="for_sale" data-id='boats'> boats </a></td>
                                    <td><a href="#" class="for_sale" data-id='books'> books </a></td>
                                </tr>

                                <tr>
                                    <td><a href="#" class="for_sale" data-id='business'> business </a></td>
                                    <td><a href="#" class="for_sale" data-id='cars_and_trucks'> cars and trucks </a></td>
                                    <td><a href="#" class="for_sale" data-id='cds_dvd_vhs'> cds/dvd/vhs </a></td>
                                    <td><a href="#" class="for_sale" data-id='cell_phones'> cell phones </a></td>
                                    <td><a href="#" class="for_sale" data-id='clothes_and_accessories'> clothes and accessories </a></td>
                                </tr>       

                                <tr>
                                    <td><a href="#" class="for_sale" data-id='collectibles'> collectibles </a></td>
                                    <td><a href="#" class="for_sale" data-id='computer'> computer </a></td>
                                    <td><a href="#" class="for_sale" data-id='electronics'> electronics </a></td>
                                    <td><a href="#" class="for_sale" data-id='farm_and_garden'> farm and garden </a></td>
                                    <td><a href="#" class="for_sale" data-id='free'> free </a></td>
                                </tr>

                                <tr>
                                    <td><a href="#" class="for_sale" data-id='furniture'> furniture </a></td>
                                    <td><a href="#" class="for_sale" data-id='garage_sale'> garage sale </a></td>
                                    <td><a href="#" class="for_sale" data-id='general'> general </a></td>
                                    <td><a href="#" class="for_sale" data-id='household'> household </a></td>
                                    <td><a href="#" class="for_sale" data-id='jewelry'> jewelry </a></td>
                                </tr>

                                <tr>
                                    <td><a href="#" class="for_sale" data-id='materials'> materials </a></td>
                                    <td><a href="#" class="for_sale" data-id='motorcycles'> motorcycles </a></td>
                                    <td><a href="#" class="for_sale" data-id='music_instruments'> music instruments </a></td>
                                    <td><a href="#" class="for_sale" data-id='photo_and_video'> photo and video </a></td>
                                    <td><a href="#" class="for_sale" data-id='rvs'> rvs </a></td>
                                </tr>
                        
                                <tr>
                                    <td><a href="#" class="for_sale" data-id='sporting'> sporting </a></td>
                                    <td><a href="#" class="for_sale" data-id='tickets'> tickets </a></td>
                                    <td><a href="#" class="for_sale" data-id='tools'> tools </a></td>
                                    <td><a href="#" class="for_sale" data-id='toys_and_games'> toys and games </a></td>
                                    <td><a href="#" class="for_sale" data-id='video_gaming'> video gaming </a></td>
                                </tr>

                                <tr>
                                    <td><a href="#" class="for_sale" data-id='wanted'> wanted </a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <table class="table">
                                <tr>
                                    <td><a href="#" class="housing"> apartments / housing </a></td>
                                    <td><a href="#" class="housing"> rooms / shared </a></td>
                                    <td><a href="#" class="housing"> sublets / temporary </a></td>
                                    <td><a href="#" class="housing"> housing wanted </a></td>
                                </tr>
                                                
                                <tr>
                                    <td><a href="#" class="housing"> housing swap </a></td>
                                    <td><a href="#" class="housing"> vacation rentals </a></td>
                                    <td><a href="#" class="housing"> parking / storage </a></td>
                                    <td><a href="#" class="housing"> office / commercial </a></td>
                                </tr>

                                <tr>
                                    <td><a href="#" class="housing"> real estate for sale </a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
		</div>


        <!-- Edit Page -->
        <div class="edit" style="display:none">
          <div class="row">
            <div class="l-header">
              <h1 class="l-title" style="text-align:left;float:left;">
                  <form_listing>
            <fieldset>
              <input type="text" class="l-title" style="text-align:left;float:left;margin-left:30px;" placeholder="Enter Listing Title">
              <h1 class="l-dash" style="text-align:left;float:left;"> - </h1>
              <input type="text" class="l-price" placeholder="Enter Listing Price">
              <input type="text" class = "l-location" placeholder="Enter Listing Location">
            </fieldset>
          </form>
              </h1>
            </div>
          </div>
          <button type="button" class="btn btn-primary" onclick='fileUpload()' style="margin-bottom:10px;">Upload Pictures Here</button>
          </br>


          <div class="l-description l-entry">

            <input type="text" placeholder="Enter Listing Description" rows="3">
          </div>
          {% include "listings_specs.html" %}


        <!-- End Edit Page -->



	</body>
    <footer>
         <button type="button" class="btn btn-primary" onclick='' style="margin-top:10px;">Submit</button>
    </footer>

    
{% endblock %}
