{% extends 'listings_base.html' %}

{% block content %}
	<head>
		<link rel='stylesheet' type='text/css' href='css/bootstrap.min.css'/>
		<script src='js/jquery-1.7.2.min.js' type='text/javascript'></script>
		<script src='js/bootstrap.min.js' type='text/javascript'></script>
        <script src='js/less.js' type='text/javascript'></script>
		<link rel='stylesheet' type='text/css' href='css/tab.css'/>
	</head>

	<body>
		<div class= "container">
			<div class="hero-unit">
				<h1>Choose the Category</h1>


							<div class="tabbable">  
								<ul class="nav nav-tabs">  
									<li class="active"><a href="#1" data-toggle="tab">For Sale</a></li>  
									<li class=""><a href="#2" data-toggle="tab">Housing</a></li> 
								</ul>  
								<div class="tab-content">  
									<div class="tab-pane active" id="1">
										<table class="table">
											<tr>
												<td><a href="#"> appliances </a></td>
												<td><a href="#"> antiques </a></td>
												<td><a href="#"> ats and crafts </a></td>
												<td><a href="#"> auto parts </a></td>
												<td><a href="#"> baby and kids </a></td>
											</tr>
    											
											<tr>
    											<td><a href="#"> barter </a></td>
    											<td><a href="#"> beauty and health </a></td>
    											<td><a href="#"> bikes </a></td>
    											<td><a href="#"> boats </a></td>
    											<td><a href="#"> books </a></td>
    										</tr>

    										<tr>
    											<td><a href="#"> business </a></td>
    											<td><a href="#"> cars and trucks </a></td>
    											<td><a href="#"> cds/dvd/vhs </a></td>
    											<td><a href="#"> cell phones </a></td>
    											<td><a href="#"> clothes and accessories </a></td>
    										</tr>		

    										<tr>
    											<td><a href="#"> collectibles </a></td>
    											<td><a href="#"> computer </a></td>
    											<td><a href="#"> electronics </a></td>
    											<td><a href="#"> farm and garden </a></td>
    											<td><a href="#"> free </a></td>
    										</tr>

    										<tr>
    											<td><a href="#"> furniture </a></td>
    											<td><a href="#"> garage sale </a></td>
    											<td><a href="#"> general </a></td>
    											<td><a href="#"> household </a></td>
    											<td><a href="#"> jewelry </a></td>
    										</tr>

    										<tr>
    											<td><a href="#"> materials </a></td>
    											<td><a href="#"> motorcycles </a></td>
    											<td><a href="#"> music instruments </a></td>
    											<td><a href="#"> photo and video </a></td>
    											<td><a href="#"> rvs </a></td>
    										</tr>

    										<tr>
    											<td><a href="#"> sporting </a></td>
    											<td><a href="#"> tickets </a></td>
   												<td><a href="#"> tools </a></td>
    											<td><a href="#"> toys and games </a></td>
    											<td><a href="#"> video gaming </a></td>
    										</tr>

    										<tr>
    											<td><a href="#"> wanted </a></td>
											</tr>
										</table>
											 
									</div> 

									<div class="tab-pane" id="2">  
										 <table class="table">
											<tr>
												<td><a href="#"> apartments / housing </a></td>
												<td><a href="#"> rooms / shared </a></td>
												<td><a href="#"> sublets / temporary </a></td>
												<td><a href="#"> housing wanted </a></td>
											</tr>
    											
											<tr>
												<td><a href="#"> housing swap </a></td>
    											<td><a href="#"> vacation rentals </a></td>
    											<td><a href="#"> parking / storage </a></td>
    											<td><a href="#"> office / commercial </a></td>
    										</tr>

    										<tr>
    											<td><a href="#"> real estate for sale </a></td>
    										</tr>

    									</table>
									</div>  

									
								</div>  
				</div>




			</div>
		</div>
	</body>
{% endblock %}