@import "../../rocket/less/base.less";

/* 	Doing this weird convention '.l-<CLASS>' because we don't want other outside class definitions to affect these.
	For instance, if our title was simply '.title', then maybe a '.title' rule from base.less might take into effect. */



.l-well{
	padding: 2px;
	background-color: white;

}


.l-card{
	text-align: center;
	display: inline-block;

	margin-left: 55px;
	margin-right: 55px;
	margin-bottom: 10px;
	margin-top: 10px;
}


// <<<<<<< apps/listings/static/less/listings.less
// .listing {
// 	position: relative;
// 	float:left;
// 	width: 600px;
// =======

// .table-listings {
// 	tbody tr:hover {
// 		cursor:pointer;
// 	}

// 	td {
// 		vertical-align: middle;
// 	}
// }

// .table-listings tbody tr.highlight td{
// 	background-color:rgba(67,80,86,0.1);
// }

.listing {
	position: relative;
	float:left;
	width: 900px;
	border: solid #d2dadd 1px;
	background: #fff;

	.l-header {
		height: 57px;
		border-bottom: solid #d2dadd 1px;
		background: #e7edef;
		line-height: 57px;

		.l-title {
			width: 70%;
			float:left;
			padding: 0 4%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-weight: 600;
			font-style: italic;
			font-family: Arial, Helvetica, sans-serif;
		}

		.l-price {
			span {
				position: absolute;
				top: 0;
				left: -1px;
				z-index: 2;
				display: block;
				height: 100%;
				background: url('../img/price-arrow.png') 0 50% no-repeat;
			}
			min-width: 10%;
			padding: 0 2%;
			position: relative;
			float: right;
			margin:0;
			height: 55px;
			border: solid #b03828 1px;
			background: url('../img/price-grad.png') 0 0 repeat-x;
			color: #fff;
			text-align: center;
			// text-shadow: 1px 1px 1px #aebec6;
			font-weight: 600;
			font-style: italic;
			font-size: 24px;
			font-family: Arial, Helvetica, sans-serif;
			line-height: 57px;
		}
	}
	.l-body {
		padding: 0 4% 4% 4%;
		.l-entry {
			padding: 4% 0 0 0;
			p {
				font-size: 14px;
				line-height: 25px;
				margin-bottom: 20px;
			}
			.l-entry-content {

			}

				.l-stage {}
				.l-thumbnails {
					img {
						margin: 1%;
					}
					margin-bottom: 1%;
				}
		}

		.l-footnote {
		}
	}
}

 .wrapper{
	margin-top: 20px;
 	margin-left: 10px;
 	padding-top: 20px;
 	float: right;
 }
 .affix {
     position: fixed; 
    	top: 55px;
    	right: 55px;
 }


 .listing-dash {
 	background-color: white;
 	float: left;
 	// -webkit-box-shadow: #aebec6 2px 2px 50px;
 	// -moz-box-shadow: #aebec6 2px 2px 50px;
 	// box-shadow: #aebec6 2px 2px 50px;
 	position: relative;

 	.dash-title {
 		background:#e7edef;
 		padding: 10px;
 		text-align:center;
 		h4 {
 			width: 100%;
 			margin: 0;
 		}
 	}
 	.dash-content {
 		padding: 10px;
 		textarea {
 			margin: 0;
 			height:100px;
 		}
 	}
 }


.form {

	span.helptext{
		position:;
	}
	margin:0;
	li {
		list-style-type: none;
	}
	.errorlist {
		color: red;
	}


	input#id_title{
		width: 540px;
	}

	input#id_price{
		width: 100px;
	}

	input#id_location{
		width: 205px;
	}

	textarea {
		width: 540px;
	}

	select{
		width: 220px;
	}
}

.listing-edit {
	float:left;
	position: relative;
	padding:20px;
	border: solid #d2dadd 1px;
	background: #fff;
	// -webkit-box-shadow: #aebec6 2px 2px 50px;
	// -moz-box-shadow: #aebec6 2px 2px 50px;
	// box-shadow: #aebec6 2px 2px 50px;
}

.dashboard-panel {
	position:absolute;
	top:126px;
	bottom:0;

	.table-listings thead tr th:first-child, .table-listings tbody tr td:first-child {
		padding-left: 40px;
	}

	.listings-col {
		height: 100%;
		margin:0;
		border-right: 1px solid #dddddd;
	}
	.buyers-col {
		height: 100%;
		border-right: 1px solid #dddddd;
		background: #FCFCFC;
		.dash-subtitle {
			background: white;
		}
	}
	.messages-col {
		.dash-subtitle {
			padding-right: 48px;
		}
		.messages-panel {
			margin-right: 40px;
		}

		heigth: 100%;
	}
}

// Making bootstrap table-hover work with highlight
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
	background: none;
}
.table-hover tbody tr:hover, .table-hover tbody tr:hover {
	background: #f5f5f5;
}
.table-hover tbody tr.highlight:hover {
	background: inherit;
}

.table-listings {
	a {
		text-decoration: underline;
	}

	tr.highlight {
		background-color: #8CA8C8 !important; /* overriding specificity problems */
		color: white;

		a {
			color: white;
		}
	}

	tbody tr:hover {
		cursor:pointer;
	}

	td {
		vertical-align: middle;
	}
	border-bottom: 1px solid #dddddd;
}

.dash-title {
	margin:25px 0;
}

.dash-subtitle {
	padding: 8px;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
	text-align: center;
}

.dash-subtitle, .table-listings thead {
	border-bottom: 1px solid #dddddd;
}
.buyer-card {
	margin-bottom: 0 !important;
	border-bottom: 1px solid #dddddd;;
	&:hover {
		cursor: pointer;
		background: #f5f5f5;
	}

	&.highlight {
		background-color: #8CA8C8 !important;
		color: white;
	}
	tr {
		border-style: none;
	}

	td {
		border-style: none;
	}
}

.message-form {
	background-color: #b2bec3;
	width: 100%;
	margin: 0;
	padding: 0;

	textarea {
		margin: 0;
		padding: 0;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-bottom: none;
		resize:vertical;
	}

	input.send-button {
		width: 100%;
	}

}

/* Messages bubble */
.message {
	padding: 0 10px;
	margin: 0;
	color:#333;

	&.buyer {
		margin-left:30px;
	}
	/* Right Bubble  */
	&.left {
		margin-right:30px;
		background-color:rgba(67,80,86,0.1);
	}
}

.dash-tips {
	width: 240px;
 	li {
 		margin-bottom: 10px;
 	}
 }

 .messages-container{
 	position: relative;
 	width: 100%;
 	height: 300px;
	


 .sidebar{
 	float:left;
 	width:23%;
 	height:106.5%;
 	background-color: #d2dadd;
 	border-right: solid #d2dadd 3px;
 	overflow: auto;
	
 	.buyer-cards-name{
 		font-family: inherit;
 		font-weight: 600;
 		font-size: 14px;
 }

 	.buyer-cards-email{
 		font-family: inherit;
 		font-size: 14px;

 	.buyer-tiles{
 		margin-right: 0px;
 	}
 }
}



.content{
	padding-top: 20px;
 	padding-right: 20px;
 	padding-bottom: 10px;
 	float: right;
 	width:68%;
 	height:97%;
 	overflow: auto;
	
}

}
.bottom{

 	background-color: #b2bec3;
 	width: 100%;
 	height: 70px;

	
 	.message-box{
 	margin-top: 10px;
 	float: left;
 	margin-left: 250px;
 }

 .textarea{
 	width: 400px;
 }

 .send{
 	margin-top: 10px;
 	float: right;
 	margin-right: 30px;
 		}
 	}
 .media div.span2{

 	padding-top: 20px;
 }




// // gotta refactor this - Not good to stick 3rd party css in our own files

// // button group source: https://github.com/twitter/bootstrap/issues/2351

 .btn{
 	text-align: left !important;
 }
 .btn-group-vertical {
   display: block;  
 }

 .btn-group-vertical + .btn-group-vertical {
   margin-top: 5px;
 }
 .btn-group-vertical .btn {
   display: block;
   width: 99%;
   margin-top: -1px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-radius: 0;
 }
 .btn-group-vertical .btn.btn-large {
   padding-top: 10px;
}

 .btn-group-vertical .btn:first-child {
   margin-top: 0;
    -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
           border-top-left-radius: 4px;
   -webkit-border-top-right-radius: 4px;
       -moz-border-radius-topright: 4px;
           border-top-right-radius: 4px;
 }
.btn-group-vertical .btn:last-child {
    -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px;
   -webkit-border-bottom-right-radius: 4px;
       -moz-border-radius-bottomright: 4px;
           border-bottom-right-radius: 4px;
 }

 .btn-group-vertical .btn.large:first-child {
   margin-top: 0;
    -webkit-border-top-left-radius: 6px;
        -moz-border-radius-topleft: 6px;
            border-top-left-radius: 6px;
   -webkit-border-top-right-radius: 6px;
       -moz-border-radius-topright: 6px;
          border-top-right-radius: 6px;
}
 .btn-group-vertical .btn.large:last-child {
    -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-bottomleft: 6px;
            border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
       -moz-border-radius-bottomright: 6px;
          border-bottom-right-radius: 6px;
 }

 .btn-group-vertical .btn:hover,
 .btn-group-vertical .btn:focus,
 .btn-group-vertical .btn:active,
 .btn-group-vertical .btn.active {
   z-index: 2;
 }

 /* Messages bubble */

 .message-bubble {
 	position:relative;
 	padding-top:5px;
 	padding-right: 5px;
 	padding-left: 5px;
 	padding-bottom: 5px;
 	margin:2px 0 20px;
 	border:1px solid #A3B0B6;
 	color:#333;
 	background:#fff;
 	/* css3 */
 	-webkit-border-radius:10px;
 	-moz-border-radius:10px;
 	border-radius:10px;
 }

 /* Left Bubble */


 .message-bubble.left {
 	margin-left:30px;

 }

 /* Right Bubble  */

 .message-bubble.right {
 	margin-right:30px;
 	background-color:rgba(67,80,86,0.1);
 }

 .messages-pane{
 	background-color: white;
 	height: 50px;
 	width: 600px;
 	overflow: auto;
 }

 h1, h2, h3, h4, h5, h6{
 	margin: 5px 0;
 }

 .btn-send{
 	margin-top: 10px;
 }

 .table th,
 .table td {
   border-top: none;
 }

 td {
 	margin: 0px;
 	padding: 0px;
 }

 #1 table {
 	height: 220px;
 }

 #2 table {
 	height: 50px;
 }

 .tab-content {
 	height:250px;
 	width:900px;
 }

 .nav {

 	margin-bottom: 0px;
 }

 .large {
 	border-bottom: 1px solid #d2dadd;
 	border-left: 1px solid #d2dadd;
 	border-right: 1px solid #d2dadd;
 }

 .small {
 	border-bottom: 1px solid #d2dadd;
 	border-left: 1px solid #d2dadd;
 	border-right: 1px solid #d2dadd;
 }

 .selected {
 	color: black;
	text-decoration: underline;
 }

 .unselected {
 	color: #0088cc;
 	text-decoration: none;
 }

 .spec_tables td {
 	padding: 2px;
 }

.spec_tables input {
 	margin-bottom: -1px;
 }

 .table-listings th:nth-child(6) {
 	text-align: center;
 }