@import "../../rocket/less/base.less";

/*    Doing this weird convention '.l-<CLASS>' because we don't want other outside class definitions to affect these.
    For instance, if our title was simply '.title', then maybe a '.title' rule from base.less might take into effect. */

// DASHBOARD VARIABLES (WIDTH)
@title: 45%;
@price: 5%;
@category: 20%;
@date: 15%;
@manage: 15%;

// DASHBOARD HEADER
.dashboard-header {
    .dashboard-title {
        padding-left: 40px !important;
    }
    .dashboard-create {
        float: right;
        padding-right: 40px;
    }
}

// DASHBOARD SKELETON
.dashboard-panel {
    position: absolute;
    top: 126px;
    bottom: 0;
    padding: 0 !important;
    &.first-visit {
        top: 250px !important;
    }
    .listings-col {
        height: 100%;
        position: relative;
        border-right: 1px solid #DDDDDD;
        overflow: hidden;
        .listings-table {
            height: 100%;
            .d-title { width: @title; min-width: @title; }
            .d-price { width: @price; min-width: @price; }
            .d-category { width: @category; min-width: @category; }
            .d-date { width: @date; min-width: @date; }
            .d-manage { width: @manage; min-width: @manage; }
            tbody {
                display: block;
                overflow: scroll;
                height: 100%;
            }
            thead tr {
                display: block;
            }
            tr {
                position: relative;
                &:first-child td { border-top: none; }
                &.highlight {
                    background-color: #8CA8C8 !important;
                    color: #FFFFFF;
                    a { color: #FFFFFF; }

                }
                &:hover {
                    cursor: pointer;
                    background: #F5F5F5;
                    &.highlight {
                        background: inherit;
                    }
                    > td, > th {
                        background: none;
                    }
                }
                th:first-child { padding-left: 40px !important; }
                td {

                    //float: none;
                    //vertical-align: middle;
                    &:first-child {
                        padding-left: 40px !important;
                    }
                }
            }
            a { text-decoration: underline; }
        }
    }
    .buyers-col {
        height: 100%;
        border-right: 1px solid #DDDDDD;
    }
    .messages-col {
        .messages-panel {
            margin-right: 40px;
        }
        height: 100%;
    }
    .dash-subtitle {
        padding: 8px;
        font-weight: bold;
        line-height: 20px;
        text-rendering: optimizelegibility;
        text-align: center;
    }
}

// DEPRECATED
// .dash-title {
//     margin: 25px 0;
// }

.dash-subtitle, .listings-table thead {
    border-bottom: 1px solid #dddddd;
}
.buyer-card {
    margin-bottom: 0 !important;
    border-bottom: 1px solid #dddddd;;
    &:hover {
        cursor: pointer;
        background: #f5f5f5;
    }

    &.highlight {
        background-color: #8CA8C8 !important;
        color: white;
    }
    tr {
        border-style: none;
    }

    td {
        border-style: none;
    }
}

.message-form {
    background-color: #b2bec3;
    width: 100%;
    margin: 0;
    padding: 0;

    textarea {
        margin: 0;
        padding: 0;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: none;
        resize:vertical;
    }

    input.send-button {
        width: 100%;
    }

}

.message {
    padding: 0 10px;
    margin: 0;
    color:#333;

    &.buyer {
        margin-left:30px;
    }
    /* Right Bubble    */
    &.left {
        margin-right:30px;
        background-color:rgba(67,80,86,0.1);
    }
}

#listing-detail {
    overflow-x: hidden;
}

.listing-form {
  .btn-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  fieldset small {
    font-size: 60%;
    margin-left: 15px;
  }

  fieldset {
    margin-top: 30px;
  }

  textarea {
    resize:vertical;
  }
  
  .tab-content {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;    
  }

  .nav {
    margin-bottom: 0px;
  }

  .cat-pane {
    padding: 8px;
  }

  .tab-pane .cat {
    display: block;
    padding: 8px 0 8px 8px;
    margin-bottom: 0;

    .nav {
      margin-bottom: 0px;
    }

    &:hover {
    cursor: pointer;
    text-decoration: underline;
    }
    &.selected {
        color: black;
        text-decoration: underline;            
    }
  }

  #fp-container {
      border: none;
      min-height: 412px;
      width: 108%; 
      position: relative; 
      left: -30px;
  }
  
  .sortable .sortable-dragging {
      // background: blue;
      cursor: pointer;
  }
  .sortable .sortable-placeholder {
      float: left;
      width: 116px;
      height: 116px;
      margin-left: 15px;
      margin-right: 15px;
      border: 1px dashed #ddd;
      border-radius: 4px;
  }

  .thumbnail:hover {
      cursor: pointer;
  }

  #photos {
      min-height: 200px;
  }
  
  #spec-fieldset {
    margin-bottom: 20px;
  }
  .specs-form > div {
    display: none;
  }
}


.detail-sidebar {
    margin-top:12px;
    > div {
        top: 10px;
    }
}
.icon-blank	{
  display:inline-block;
  width:14px;height:14px;
  vertical-align:text-top;
  background-repeat:no-repeat;
	background-image: url('../img/white-icon.png');
}

// .padding-40-left {
//         padding-left:40px;
// }
