/* http://colourco.de/quad/4/%23f3e0dd */
a {
  color: #0000ee;
}
a:hover {
  color: #000088;
}
.navbar {
  min-height: 0px;
}
.navbar .username-item {
  z-index: 3;
  padding-right: 3px;
}
.navbar .settings-cog {
  padding-left: 5px;
  padding-right: 10px;
}
ul.navbar-nav > li > a {
  outline: none;
}
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus {
  outline: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: none;
  color: inherit;
}
.navbar .dropdown-menu {
  margin: 0;
  padding: 0;
  border-top: none;
  min-width: 108px;
}
.navbar .dropdown-menu > li > a {
  padding: 5px 10px;
}
@media (min-width: 768px) {
  .navbar > .nav.navbar-nav.pull-right {
    position: relative;
    right: 5px;
  }
  .container > .nav.navbar-nav.pull-right {
    position: relative;
    right: -15px;
  }
}
ul.navbar-nav > li > a {
  height: 36px;
  line-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
}
ul.navbar-nav li a {
  font-size: 12px;
}
ul.navbar-nav li a.active {
  background-color: #E0E0E0;
}
ul.navbar-nav li a.blue-menu-item {
  background-color: #bbbbff;
  color: white;
}
ul.navbar-nav li a:hover .nav-item-text {
  text-decoration: underline;
}
ul.navbar-nav li a .glyphicon {
  display: inline;
  vertical-align: middle;
}
.navbar-logo {
  float: left;
  display: block;
  position: relative;
  left: -15px;
}
.navbar-logo .accent {
  float: left;
  height: 36px;
  width: 5px;
}
.navbar-logo .accent1 {
  background: #d0e3eb;
}
.navbar-logo .accent2 {
  background: #ecdbf1;
}
.navbar-logo .accent3 {
  background: #f6eae6;
}
.navbar-logo .accent4 {
  background: #f3faf1;
}
.navbar-logo:hover .accent1 {
  background: #bcddeb;
}
.navbar-logo:hover .accent2 {
  background: #e8c7f2;
}
.navbar-logo:hover .accent3 {
  background: #f5d7ce;
}
.navbar-logo:hover .accent4 {
  background: #e0fad9;
}
.navbar-logo .logo-text {
  float: left;
  font-family: 'Radley';
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  padding: 0 20px;
  color: #3b2317;
  background-color: white;
  margin: 0;
  position: relative;
}
.navbar-logo .logo-text:hover {
  text-decoration: underline;
}
.container .navbar-logo {
  left: -20px;
}
.footer,
.footer-fixed {
  background: #4A4742;
}
.footer p,
.footer-fixed p {
  margin: 0;
  padding-top: 2px;
  padding-right: 100px;
  overflow: hidden;
  height: 36px;
  line-height: 36px;
  color: #ededed;
}
/* MARGINLESS STYLES */
/* fixed footer */
.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-fixed p {
  margin-left: 40px !important;
}
.wrap-fixed {
  position: relative;
  height: 95%;
  height: -webkit-calc(100% - 36px);
  height: -moz-calc(100% - 36px);
  height: calc(100% - 36px);
}
/*.navbar-fixed {
  padding: 0 !important;
  .navbar-logo {
    padding-left: 5px;
  }
  .button-to-edge {
    padding-right: 40px !important;
  }
}

.col-lg-fixed {
  padding: 0 !important;
}*/
.full-height {
  height: 100%;
}
/* sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

}
/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */

  margin: 0 auto -36px;
}
/* Set the fixed height of the footer here */
.push,
.footer {
  height: 36px;
}
/* Lastly, apply responsive CSS fixes as necessary */
/* Flatten das boostrap */
.well,
.navbar-inner,
.popover,
.btn,
.tooltip,
input,
.input-group-addon,
select,
textarea,
pre,
.progress,
.modal,
.add-on,
.alert,
.table-bordered,
.nav > .active > a,
.nav-tabs > li > a,
.dropdown-menu,
.tooltip-inner,
.badge,
.label,
.img-polaroid {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
}
select:focus {
  outline: none !important;
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
}
form.fixed-width-form input[type='submit'] {
  height: 38px !important;
  width: 100% !important;
  margin-bottom: 10px;
}
div[data-toggle-name="default_seller_type"] button {
  width: 50%;
}
/*    Doing this weird convention '.l-<CLASS>' because we don't want other outside class definitions to affect these.
    For instance, if our title was simply '.title', then maybe a '.title' rule from base.less might take into effect. */
.dashboard-header .dashboard-title {
  display: inline-block;
  padding-left: 8px !important;
}
.dashboard-header .dashboard-search {
  display: inline-block;
  float: none;
  vertical-align: top;
  width: 250px;
  padding-left: 20px;
}
.dashboard-header .dashboard-dropdown {
  display: inline-block;
  float: none;
  vertical-align: top;
  width: 100px;
  padding-left: 20px;
}
.dashboard-header .dashboard-dropdown a {
  width: 100%;
  position: relative;
}
.dashboard-header .dashboard-dropdown a:focus {
  outline: none !important;
}
.dashboard-header .dashboard-dropdown .dropdown-menu {
  left: auto !important;
}
.dashboard-header .dashboard-refresh {
  display: inline-block;
  float: none;
  vertical-align: top;
  padding-left: 20px;
}
.dashboard-header .dashboard-refresh .btn {
  height: 38px;
}
.dashboard-header .dashboard-refresh span {
  float: none;
  vertical-align: middle;
}
.dashboard-header .dashboard-create {
  float: right;
  padding-right: 20px;
}
.dashboard-panel {
  font-size: 0;
  position: absolute;
  top: 126px;
  bottom: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .dashboard-panel {
    top: 300px !important;
  }
}
.dashboard-panel .listings-col {
  display: inline-block;
  height: 100%;
  width: 60%;
  border-right: 1px #DDDDDD solid;
  vertical-align: top;
}
.dashboard-panel .listings-col .listings-cols-wrapper {
  width: calc(100% - 40px);
  float: right;
}
.dashboard-panel .listings-col .listings-header {
  height: 36px;
  width: 100%;
}
.dashboard-panel .listings-col .listings-header ul {
  margin: 0 !important;
  padding-left: 0 !important;
}
.dashboard-panel .listings-col .listings-header ul li {
  font-size: 14px;
  display: inline-block;
  text-align: left;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: #DDD 1px solid;
}
.dashboard-panel .listings-col .listings-header ul li.d-title {
  width: 50%;
  padding-left: 0;
}
.dashboard-panel .listings-col .listings-header ul li.d-price {
  width: 10%;
}
.dashboard-panel .listings-col .listings-header ul li.d-category {
  width: 15%;
}
.dashboard-panel .listings-col .listings-header ul li.d-date {
  width: 25%;
}
@media (max-width: 480px) {
  .dashboard-panel .listings-col .listings-header ul li.phone-hide {
    display: none;
  }
}
@media (max-width: 480px) {
  .dashboard-panel .listings-col .listings-header ul li.phone-full-width {
    width: 100%;
  }
}
.dashboard-panel .listings-col .listings-header ul li a {
  display: inline-block;
}
.dashboard-panel .listings-col .listings-header ul li span.sort-toggle {
  display: inline-block;
  float: none;
  margin-bottom: -2px;
  vertical-align: middle;
}
.dashboard-panel .listings-col .listings-header span.d-check {
  width: 40px;
  height: 37px;
  padding-left: 14px;
  position: relative;
  display: inline-block;
  padding-top: 8px;
  border-bottom: #DDD 1px solid;
}
.dashboard-panel .listings-col .listings-header span.d-check input[type='checkbox'] {
  vertical-align: top;
  font-size: 14px;
}
.dashboard-panel .listings-col .listings-body {
  height: calc(100% -  36px);
  width: 100%;
  overflow: auto;
}
.dashboard-panel .listings-col .listings-body ul {
  margin-bottom: 0 !important;
  padding: 0 !important;
}
.dashboard-panel .listings-col .listings-body ul li {
  cursor: pointer;
  border-bottom: #DDD 1px solid;
}
.dashboard-panel .listings-col .listings-body ul li:hover {
  background-color: #EEE;
}
.dashboard-panel .listings-col .listings-body ul li.highlight {
  background-color: #6db5d4 !important;
  color: #FFFFFF;
  text-rendering: optimizeLegibility;
}
.dashboard-panel .listings-col .listings-body ul li.highlight a {
  color: #FFFFFF;
  text-rendering: optimizeLegibility;
}
.dashboard-panel .listings-col .listings-body ul li span {
  font-size: 14px;
  display: inline-block;
  text-align: left;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
}
.dashboard-panel .listings-col .listings-body ul li span.d-title {
  width: 50%;
  padding-left: 0;
}
.dashboard-panel .listings-col .listings-body ul li span.d-price {
  width: 10%;
}
.dashboard-panel .listings-col .listings-body ul li span.d-category {
  width: 15%;
}
.dashboard-panel .listings-col .listings-body ul li span.d-date {
  width: 25%;
}
.dashboard-panel .listings-col .listings-body ul li span.d-check {
  width: 40px;
  padding-left: 14px;
  position: relative;
}
.dashboard-panel .listings-col .listings-body ul li span.d-check input[type='checkbox'] {
  vertical-align: top;
}
@media (max-width: 480px) {
  .dashboard-panel .listings-col .listings-body ul li span.phone-hide {
    display: none;
  }
}
@media (max-width: 480px) {
  .dashboard-panel .listings-col .listings-body ul li span.phone-full-width {
    width: 100%;
  }
}
.dashboard-panel .buyers-col {
  display: inline-block;
  height: 100%;
  width: 15%;
  border-right: 1px #DDDDDD solid;
  vertical-align: top;
}
.dashboard-panel .buyers-col ul {
  margin: 0;
  padding: 0;
  border-bottom: #DDDDDD solid 1px;
}
.dashboard-panel .buyers-col ul li {
  font-size: 14px;
  list-style: none;
}
.dashboard-panel .buyers-col .buyers-header {
  text-align: center;
}
.dashboard-panel .buyers-col .buyers-header li {
  padding: 8px;
}
.dashboard-panel .buyers-col .buyers-body {
  height: calc(100% -  36px);
  overflow: auto;
}
.dashboard-panel .buyers-col .buyers-body ul {
  cursor: pointer;
}
.dashboard-panel .buyers-col .buyers-body ul:hover {
  background-color: #EEE;
}
.dashboard-panel .buyers-col .buyers-body ul.highlight {
  background-color: #6db5d4 !important;
  color: #FFFFFF;
  text-rendering: optimizeLegibility;
}
.dashboard-panel .buyers-col .buyers-body ul.highlight a {
  color: #FFFFFF;
  text-rendering: optimizeLegibility;
}
.dashboard-panel .buyers-col .buyers-body ul li {
  overflow: hidden;
  white-space: nowrap;
}
.dashboard-panel .buyers-col .buyers-body ul li:first-child {
  padding: 8px 8px 2px 8px;
}
.dashboard-panel .buyers-col .buyers-body ul li:nth-child(2) {
  padding: 2px 8px 2px 8px;
}
.dashboard-panel .buyers-col .buyers-body ul li:nth-child(3) {
  padding: 2px 8px 8px 8px;
}
.dashboard-panel .messages-col {
  display: inline-block;
  height: 100%;
  width: 25%;
  vertical-align: top;
}
.dashboard-panel .messages-col ul {
  margin: 0;
  padding: 0;
  border-bottom: #DDDDDD solid 1px;
}
.dashboard-panel .messages-col ul li {
  font-size: 14px;
  list-style: none;
}
.dashboard-panel .messages-col .messages-header {
  text-align: center;
}
.dashboard-panel .messages-col .messages-header li {
  padding: 8px;
}
.dashboard-panel .messages-col .messages-body {
  height: calc(100% - 111px -  36px);
  overflow: auto;
}
.dashboard-panel .messages-col .messages-body ul.message-buyer {
  background-color: #f7f7f7;
}
.dashboard-panel .messages-col .messages-body ul li {
  word-wrap: break-word;
}
.dashboard-panel .messages-col .messages-body ul li:first-child {
  padding: 8px 8px 2px 8px;
}
.dashboard-panel .messages-col .messages-body ul li:nth-child(2) {
  padding: 2px 8px 8px 8px;
}
.dashboard-panel .messages-col .messages-body ul li.message-buyer-name {
  font-weight: 500;
}
.dashboard-panel .messages-col .message-form-wrapper {
  height: 111px;
}
.dashboard-panel .messages-col .message-form-wrapper textarea {
  padding: 5px;
  resize: none;
  border-top: 3px solid #c4c4c4;
  border-left: 3px solid #c4c4c4;
  border-right: 3px solid #c4c4c4;
  border-bottom: none;
}
.dashboard-panel .messages-col .message-form-wrapper input {
  width: 100%;
}
#listing-detail {
  overflow-x: hidden;
}
.listing-form .location-map-wrapper {
  position: relative;
}
.listing-form .location-map-wrapper #location-btn {
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
}
.listing-form .location-map-wrapper #location-btn:hover {
  opacity: 1;
}
.listing-form .location-map-wrapper .loading-spinner {
  display: none;
  z-index: 3;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  width: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  border-radius: 10px;
}
.listing-form #location-map {
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.2);
}
.listing-form .btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
}
.listing-form fieldset small {
  font-size: 60%;
  margin-left: 15px;
}
.listing-form fieldset {
  margin-top: 30px;
}
.listing-form textarea {
  resize: vertical;
}
.listing-form .tab-content {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.listing-form .nav {
  margin-bottom: 0px;
}
.listing-form .cat-pane {
  padding: 8px;
}
.listing-form .tab-pane .cat {
  display: block;
  padding: 8px 0 8px 8px;
  margin-bottom: 0;
}
.listing-form .tab-pane .cat .nav {
  margin-bottom: 0px;
}
.listing-form .tab-pane .cat:hover {
  cursor: pointer;
  text-decoration: underline;
}
.listing-form .tab-pane .cat.selected {
  color: black;
  text-decoration: underline;
}
.listing-form #fp-container {
  border: none;
  min-height: 412px;
  width: 108%;
  position: relative;
  left: -30px;
}
.listing-form .sortable .sortable-dragging {
  cursor: pointer;
}
.listing-form .sortable .sortable-placeholder {
  float: left;
  width: 116px;
  height: 116px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px dashed #ddd;
  border-radius: 4px;
}
.listing-form .thumbnail:hover {
  cursor: pointer;
}
.listing-form #photos {
  min-height: 200px;
}
.listing-form #photos img {
  width: 100%;
  cursor: pointer;
}
.listing-form #spec-fieldset {
  margin-bottom: 20px;
}
.listing-form .specs-form > div {
  display: none;
}
.detail-sidebar {
  margin-top: 15px;
}
.detail-sidebar .affix {
  top: 10px;
}
.detail-sidebar .btn-group {
  margin-bottom: 7px;
}
.detail-sidebar .draft-btn {
  margin-right: 7px;
}
.icon-blank {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-image: url('../img/white-icon.png');
}
.listing-preview .preview-thumbnails img {
  width: 100%;
  cursor: pointer;
}
.listing-preview .preview-thumbnails img,
.listing-preview .preview-stage,
.listing-preview .preview-description {
  margin-bottom: 30px;
}
.listing-preview .preview-stage img {
  max-width: 100%;
}
.listing-preview .preview-location {
  margin-left: 15px;
}
h4.profile {
  text-align: center;
  margin-top: 26px;
}
.profile-card {
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 26px;
}
.profile-card h4.seller {
  text-align: left;
  padding-left: 10px;
}
.profile-card .row-top .profile-picture img.thumbnail {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  padding: 0;
  padding-left: 5px;
  border: none;
  width: 100%;
  max-width: 151px;
  min-width: 131px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-card .row-top .col-details {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}
.profile-card .row-top .col-details h3 {
  text-align: left;
  margin: 0 0 5px 0;
  padding-left: 25px;
}
.profile-card .row-top .col-details h4 {
  margin: 0 0 5px 0;
  padding-left: 25px;
}
.profile-card .row-top .col-details h5 {
  margin: 0 0 5px 0;
  padding-left: 25px;
}
.profile-card .row-top .col-details .twitter-row {
  margin-top: -2px;
  padding-left: 35px;
}
.profile-card .row-top .col-details .twitter-row img {
  margin-left: 2px;
  padding-bottom: 2px;
}
.profile-card .row-top .col-details .twitter-row a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-left: -6px;
}
.profile-card .row-top .col-details .fb-row {
  padding-left: 40px;
  margin-top: -2px;
}
.profile-card .row-top .col-details .fb-row img {
  padding-bottom: 3px;
}
.profile-card .row-top .col-details .fb-row a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.profile-card .row-bottom {
  margin-top: 10px;
}
.profile-card p {
  padding: 0 10px 0 10px;
}
.ratings .green {
  color: #519902;
}
.ratings .grey {
  color: grey;
}
.ratings .yellow {
  color: #FCD61A;
}
.ratings .orange {
  color: #bd5317;
}
.ratings .red {
  color: #a11b04;
}
