@import "../../rocket/less/base.less";

/*  Doing this weird convention '.l-<CLASS>' because we don't want other outside class definitions to affect these.
  For instance, if our title was simply '.title', then maybe a '.title' rule from base.less might take into effect. */

.dashboard-panel {
  position:absolute;
  top:126px;
  bottom:0;

  .table-listings thead tr th:first-child, .table-listings tbody tr td:first-child {
    padding-left: 40px;
  }

  .listings-col {
    height: 100%;
    margin:0;
    border-right: 1px solid #dddddd;
  }
  .buyers-col {
    height: 100%;
    border-right: 1px solid #dddddd;
    background: #FCFCFC;
    .dash-subtitle {
      background: white;
    }
  }
  .messages-col {
    .dash-subtitle {
      padding-right: 48px;
    }
    .messages-panel {
      margin-right: 40px;
    }

    heigth: 100%;
  }
}

// Making bootstrap table-hover work with highlight
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
  background: none;
}
.table-hover tbody tr:hover, .table-hover tbody tr:hover {
  background: #f5f5f5;
}
.table-hover tbody tr.highlight:hover {
  background: inherit;
}

.table-listings {
  a {
    text-decoration: underline;
  }

  tr.highlight {
    background-color: #8CA8C8 !important; /* overriding specificity problems */
    color: white;

    a {
      color: white;
    }
  }

  tbody tr:hover {
    cursor:pointer;
  }

  td {
    vertical-align: middle;
  }
  border-bottom: 1px solid #dddddd;
}

.dash-title {
  margin:25px 0;
}

.dash-subtitle {
  padding: 8px;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
  text-align: center;
}

.dash-subtitle, .table-listings thead {
  border-bottom: 1px solid #dddddd;
}
.buyer-card {
  margin-bottom: 0 !important;
  border-bottom: 1px solid #dddddd;;
  &:hover {
    cursor: pointer;
    background: #f5f5f5;
  }

  &.highlight {
    background-color: #8CA8C8 !important;
    color: white;
  }
  tr {
    border-style: none;
  }

  td {
    border-style: none;
  }
}

.message-form {
  background-color: #b2bec3;
  width: 100%;
  margin: 0;
  padding: 0;

  textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: none;
    resize:vertical;
  }

  input.send-button {
    width: 100%;
  }

}

.message {
  padding: 0 10px;
  margin: 0;
  color:#333;

  &.buyer {
    margin-left:30px;
  }
  /* Right Bubble  */
  &.left {
    margin-right:30px;
    background-color:rgba(67,80,86,0.1);
  }
}

#listing-detail {
  overflow-x: hidden;
}
.listing-form {
  input, .tab-content, textarea {
    margin-bottom: 20px;
  }
  
  .tab-content {
    // height: 434px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;    
    // padding: 12px;
  }

  .nav {
    margin-bottom: 0px;
  }

  .tab-pane .cat {
    // float: left;
    display: block;
    padding: 8px 0 8px 8px;
    margin-bottom: 0;

    &:hover {
        cursor: pointer;
        // color: #08c;
        // background: lighten(#08c, 50%);
        // text-decoration: none;
        text-decoration: underline;
    }
    &.selected {
      color: black;
      text-decoration: underline;      
      // color: white;
      // background: #08c; 
    }
  }

  .title {
    // display: block;
  }
  

  .input-prepend.gridfix {
    display: block;
    position: relative;
    height: 30px;
    input {
      position: absolute;
      right: 0px;
      left: 27px;
      width: auto !important;
    }
    .add-on {
      position: absolute;
      // width: 30px;
      left: 0px;
    }
  }

  #fp-container {
    border: none;
    min-height: 412px;
    width: 108%; 
    position: relative; 
    left: -30px;
  }
  
  .sortable .sortable-dragging {
    // background: blue;
    cursor: pointer;
  }
  .sortable .sortable-placeholder {
    float: left;
    width: 160px;
    min-height: 160px;
    margin-left: 30px;
    margin-bottom: 20px;
    border: 1px dashed #ddd;
  }

  .thumbnail:hover {
    cursor: pointer;
    // width: 200px;

  }

  .photo-view {
    display: none;
  }

  #photos {
    height: 412px;
  }

  fieldset small {
    margin-left: 12px;
  }
}


.detail-sidebar {
  padding-top:38px;
  > div {
    top: 10px;
  }
}
