/* 	Doing this weird convention '.l-<CLASS>' because we don't want other outside class definitions to affect these.
	For instance, if our title was simply '.title', then maybe a '.title' rule from global.less might take into effect. */
.l-well {
  padding: 2px;
  background-color: white;
}
.l-card {
  text-align: center;
  display: inline-block;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.table-listings tbody tr:hover {
  cursor: pointer;
}
.table-listings td {
  vertical-align: middle;
}
.table-listings tbody tr.highlight td {
  background-color: rgba(67, 80, 86, 0.1);
}
.listing {
  position: relative;
  float: left;
  width: 900px;
  border: solid #d2dadd 1px;
  background: #fff;
}
.listing .l-header {
  height: 57px;
  border-bottom: solid #d2dadd 1px;
  background: #e7edef;
  line-height: 57px;
}
.listing .l-header .l-title {
  width: 70%;
  float: left;
  padding: 0 4%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
.listing .l-header .l-price {
  min-width: 10%;
  padding: 0 2%;
  position: relative;
  float: right;
  margin: 0;
  height: 55px;
  border: solid #b03828 1px;
  background: url('../img/price-grad.png') 0 0 repeat-x;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 57px;
}
.listing .l-header .l-price span {
  position: absolute;
  top: 0;
  left: -1px;
  z-index: 2;
  display: block;
  height: 100%;
  background: url('../img/price-arrow.png') 0 50% no-repeat;
}
.listing .l-body {
  padding: 0 4% 4% 4%;
}
.listing .l-body .l-entry {
  padding: 4% 0 0 0;
}
.listing .l-body .l-entry p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
}
.listing .l-body .l-entry .l-thumbnails {
  margin-bottom: 1%;
}
.listing .l-body .l-entry .l-thumbnails img {
  margin: 1%;
}
.wrapper {
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 20px;
  float: right;
}
.affix {
  position: fixed;
  top: 55px;
  right: 55px;
}
.listing-dash {
  background-color: white;
  float: left;
  position: relative;
}
.listing-dash .dash-title {
  background: #e7edef;
  padding: 10px;
  text-align: center;
}
.listing-dash .dash-title h4 {
  width: 100%;
  margin: 0;
}
.listing-dash .dash-content {
  padding: 10px;
}
.listing-dash .dash-content textarea {
  margin: 0;
  height: 100px;
}
.form {
  margin: 0;
}
.form span.helptext {
  position: ;
}
.form li {
  list-style-type: none;
}
.form .errorlist {
  color: red;
}
.form input#id_title {
  width: 540px;
}
.form input#id_price {
  width: 100px;
}
.form input#id_location {
  width: 205px;
}
.form textarea {
  width: 540px;
}
.form select {
  width: 220px;
}
.listing-edit {
  float: left;
  position: relative;
  padding: 20px;
  border: solid #d2dadd 1px;
  background: #fff;
}
.dash-tips {
  width: 240px;
}
.dash-tips li {
  margin-bottom: 10px;
}
.messages-container {
  position: relative;
  width: 100%;
  height: 300px;
}
.messages-container .sidebar {
  float: left;
  width: 23%;
  height: 106.5%;
  background-color: #d2dadd;
  border-right: solid #d2dadd 3px;
  overflow: auto;
}
.messages-container .sidebar .buyer-cards-name {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
}
.messages-container .sidebar .buyer-cards-email {
  font-family: inherit;
  font-size: 14px;
}
.messages-container .sidebar .buyer-cards-email .buyer-tiles {
  margin-right: 0px;
}
.messages-container .content {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  float: right;
  width: 68%;
  height: 97%;
  overflow: auto;
}
.bottom {
  background-color: #b2bec3;
  width: 100%;
  height: 70px;
}
.bottom .message-box {
  margin-top: 10px;
  float: left;
  margin-left: 250px;
}
.bottom .textarea {
  width: 400px;
}
.bottom .send {
  margin-top: 10px;
  float: right;
  margin-right: 30px;
}
.media div.span2 {
  padding-top: 20px;
}
.btn {
  text-align: left !important;
}
.btn-group-vertical {
  display: block;
}
.btn-group-vertical + .btn-group-vertical {
  margin-top: 5px;
}
.btn-group-vertical .btn {
  display: block;
  width: 99%;
  margin-top: -1px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0;
}
.btn-group-vertical .btn.btn-large {
  padding-top: 10px;
}
.btn-group-vertical .btn:first-child {
  margin-top: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
.btn-group-vertical .btn:last-child {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group-vertical .btn.large:first-child {
  margin-top: 0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
}
.btn-group-vertical .btn.large:last-child {
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group-vertical .btn:hover,
.btn-group-vertical .btn:focus,
.btn-group-vertical .btn:active,
.btn-group-vertical .btn.active {
  z-index: 2;
}
/* Messages bubble */
.message-bubble {
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin: 2px 0 20px;
  border: 1px solid #A3B0B6;
  color: #333;
  background: #fff;
  /* css3 */

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* Left Bubble */
.message-bubble.left {
  margin-left: 30px;
}
/* Right Bubble  */
.message-bubble.right {
  margin-right: 30px;
  background-color: rgba(67, 80, 86, 0.1);
}
.messages-pane {
  background-color: white;
  height: 50px;
  width: 600px;
  overflow: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0;
}
.btn-send {
  margin-top: 10px;
}
.table th,
.table td {
  border-top: none;
}
td {
  margin: 0px;
  padding: 0px;
}
#1 table {
  height: 220px;
}
#2 table {
  height: 50px;
}
.tab-content {
  height: 250px;
  width: 900px;
}
.nav {
  margin-bottom: 0px;
}
.large {
  border-bottom: 1px solid #d2dadd;
  border-left: 1px solid #d2dadd;
  border-right: 1px solid #d2dadd;
}
.small {
  border-bottom: 1px solid #d2dadd;
  border-left: 1px solid #d2dadd;
  border-right: 1px solid #d2dadd;
}
.selected {
  color: black;
  text-decoration: underline;
}
.unselected {
  color: #0088cc;
  text-decoration: none;
}
