/* 	Doing this weird convention '.l-<CLASS>' because we don't want other outside class definitions to affect these.
	For instance, if our title was simply '.title', then maybe a '.title' rule from global.less might take into effect. */
.l-well {
  padding: 2px;
  background-color: white;
}
.l-card {
  text-align: center;
  display: inline-block;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.listing {
  position: relative;
  float: left;
  width: 600px;
  border: solid #d2dadd 1px;
  background: #fff;
}
.listing .l-header {
  height: 57px;
  border-bottom: solid #d2dadd 1px;
  background: #e7edef;
  line-height: 57px;
}
.listing .l-header .l-title {
  width: 70%;
  float: left;
  padding: 0 4%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
.listing .l-header .l-price {
  min-width: 10%;
  padding: 0 2%;
  position: relative;
  float: right;
  margin: 0;
  height: 55px;
  border: solid #b03828 1px;
  background: url('../img/price-grad.png') 0 0 repeat-x;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 57px;
}
.listing .l-header .l-price span {
  position: absolute;
  top: 0;
  left: -1px;
  z-index: 2;
  display: block;
  height: 100%;
  background: url('../img/price-arrow.png') 0 50% no-repeat;
}
.listing .l-body {
  padding: 0 4% 4% 4%;
}
.listing .l-body .l-entry {
  padding: 4% 0 0 0;
}
.listing .l-body .l-entry p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
}
.listing .l-body .l-entry .l-thumbnails {
  margin-bottom: 1%;
}
.listing .l-body .l-entry .l-thumbnails img {
  margin: 1%;
}
.listing-dash {
  background-color: white;
  float: right;
  position: relative;
}
.listing-dash .dash-title {
  background: #e7edef;
  padding: 10px;
}
.listing-dash .dash-title h4 {
  width: 100%;
  margin: 0;
}
.listing-dash .dash-content {
  padding: 10px;
}
.listing-dash .dash-content textarea {
  margin: 0;
  height: 100px;
}
.dash-tips {
  width: 240px;
}
.dash-tips li {
  margin-bottom: 10px;
}
.form {
  margin: 0;
}
.form span.helptext {
  position: ;
}
.form li {
  list-style-type: none;
}
.form .errorlist {
  color: red;
}
.form input#id_title {
  width: 540px;
}
.form input#id_price {
  width: 100px;
}
.form input#id_location {
  width: 205px;
}
.form textarea {
  width: 540px;
}
.form select {
  width: 220px;
}
.listing-edit {
  float: left;
  position: relative;
  padding: 20px;
  border: solid #d2dadd 1px;
  background: #fff;
}
.dashboard-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dashboard-panel {
  position: absolute;
  top: 106px;
  left: 0;
  bottom: 0;
  right: 0;
}
.dashboard-panel .listings-col {
  height: 100%;
  padding: 0;
  margin: 0;
  border-right: 1px solid #dddddd;
}
.dashboard-panel .buyers-col {
  height: 100%;
  border-right: 1px solid #dddddd;
}
.dashboard-panel .messages-col {
  heigth: 100%;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background: none;
}
.table-hover tbody tr:hover,
.table-hover tbody tr:hover {
  background: #f5f5f5;
}
.table-hover tbody tr.highlight:hover {
  background: inherit;
}
.table-listings {
  border-bottom: 1px solid #dddddd;
}
.table-listings a {
  text-decoration: underline;
}
.table-listings tr.highlight {
  background-color: #8CA8C8 !important;
  /* overriding specificity problems */

  color: white;
}
.table-listings tr.highlight a {
  color: white;
}
.table-listings tbody tr:hover {
  cursor: pointer;
}
.table-listings td {
  vertical-align: middle;
}
.dash-subtitle {
  padding: 8px;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}
.buyer-card {
  margin-bottom: 0px !important;
  border-bottom: 1px solid #dddddd;
}
.buyer-card:hover {
  cursor: pointer;
  background: #f5f5f5;
}
.buyer-card.highlight {
  background-color: #8CA8C8 !important;
  color: white;
}
.buyer-card tr {
  border-style: none;
}
.buyer-card td {
  border-style: none;
}
.message-form {
  background-color: #b2bec3;
  width: 100%;
  margin: 0;
  padding: 0;
}
.message-form textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: none;
  resize: vertical;
}
.message-form input.send-button {
  width: 100%;
}
/* Messages bubble */
.message {
  padding: 0 10px;
  margin: 0;
  color: #333;
  /* Right Bubble  */

}
.message.buyer {
  margin-left: 30px;
}
.message.left {
  margin-right: 30px;
  background-color: rgba(67, 80, 86, 0.1);
}
