/* 	Doing this weird convention '.l-<CLASS>' because we don't want other outside class definitions to affect these.
	For instance, if our title was simply '.title', then maybe a '.title' rule from global.less might take into effect. */


.l-well{
	padding: 2px;
	background-color: white;

}


.l-card{
	text-align: center;
	display: inline-block;

	margin-left: 55px;
	margin-right: 55px;
	margin-bottom: 10px;
	margin-top: 10px;
}


.listing {
	position: relative;
	float:left;
	width: 600px;
	border: solid #d2dadd 1px;
	background: #fff;

	.l-header {
		height: 57px;
		border-bottom: solid #d2dadd 1px;
		background: #e7edef;
		line-height: 57px;

		.l-title {
			width: 70%;
			float:left;
			padding: 0 4%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-weight: 600;
			font-style: italic;
			font-family: Arial, Helvetica, sans-serif;
		}

		.l-price {
			span {
				position: absolute;
				top: 0;
				left: -1px;
				z-index: 2;
				display: block;
				height: 100%;
				background: url('../img/price-arrow.png') 0 50% no-repeat;
			}
			min-width: 10%;
			padding: 0 2%;
			position: relative;
			float: right;
			margin:0;
			height: 55px;
			border: solid #b03828 1px;
			background: url('../img/price-grad.png') 0 0 repeat-x;
			color: #fff;
			text-align: center;
			// text-shadow: 1px 1px 1px #aebec6;
			font-weight: 600;
			font-style: italic;
			font-size: 24px;
			font-family: Arial, Helvetica, sans-serif;
			line-height: 57px;
		}
	}
	.l-body {
		padding: 0 4% 4% 4%;
		.l-entry {
			padding: 4% 0 0 0;
			p {
				font-size: 14px;
				line-height: 25px;
				margin-bottom: 20px;
			}
			.l-entry-content {

			}

				.l-stage {}
				.l-thumbnails {
					img {
						margin: 1%;
					}
					margin-bottom: 1%;
				}
		}

		.l-footnote {
		}
	}
}

.listing-dash {
	background-color: white;
	float: right;
	// -webkit-box-shadow: #aebec6 2px 2px 50px;
	// -moz-box-shadow: #aebec6 2px 2px 50px;
	// box-shadow: #aebec6 2px 2px 50px;
	position: relative;

	.dash-title {
		background:#e7edef;
		padding: 10px;
		h4 {
			width: 100%;
			margin: 0;
		}
	}
	.dash-content {
		padding: 10px;
		textarea {
			margin: 0;
			height:100px;
		}
	}
}

.dash-tips {
	width: 240px;
	li {
		margin-bottom: 10px;
	}
}


.form {

	span.helptext{
		position:;
	}
	margin:0;
	li {
		list-style-type: none;
	}
	.errorlist {
		color: red;
	}
	
	input#id_title{
		width: 540px;
	}

	input#id_price{
		width: 100px;
	}

	input#id_location{
		width: 205px;
	}

	textarea {
		width: 540px;
	}

	select{
		width: 220px;
	}
}

.listing-edit {
	float:left;
	position: relative;
	padding:20px;
	border: solid #d2dadd 1px;
	background: #fff;
	// -webkit-box-shadow: #aebec6 2px 2px 50px;
	// -moz-box-shadow: #aebec6 2px 2px 50px;
	// box-shadow: #aebec6 2px 2px 50px;
}

.dashboard-title{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}


.container-fluid{
	margin-left: 80px;
	margin-right: 80px;	
	padding: 0px;
}
.table-listings {
	tbody tr:hover {
		cursor:pointer;
	}

	td {
		vertical-align: middle;
	}
}


.table-listings tbody tr.highlight {
	background-color:rgba(67,80,86,0.1);
}

.dash-titles{
	margin: 4px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
	text-align: center;
}

.buyers-cards{
	border-top: 1px solid #dddddd;
	z-index: 1;

}

.table-buyers{
	background-color:rgba(67,80,86,0.1);
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 2px 10px 2px 10px;
	margin-bottom: 0px !important;
	}


.table-buyers tr{
	border-style: none;
	}

.table-buyers tr td{
	border-style: none;
	}




.table-buyers.highlight{
	background-color:rgba(67,80,86,0.2);
}


.table-buyers.highlight td{
	border: solid #d2dadd 0px;
}

.messages-panel{
	border-top: 1px solid #dddddd;
}

.bottom{

	background-color: #b2bec3;
	width: 100%;
	height: 100px;

	
	.message-box{
	margin-top: 10px;
	float: left;
	margin-left: 10px;
	}

	.input-long{
	width: 140px;
	}

	.send{
	margin-top: 10px;
	float: right;
	margin-right: 10px;
	}
}

.media div.span2{

	padding-top: 20px;
}




// gotta refactor this - Not good to stick 3rd party css in our own files



/* Messages bubble */

.message-bubble {
	position:relative;
	padding-top:5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	margin:2px 0 20px;
	border:1px solid #A3B0B6;
	color:#333;
	background:#fff;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Left Bubble */


.message-bubble.left {
	margin-left:30px;

}

/* Right Bubble  */

.message-bubble.right {
	margin-right:30px;
	background-color:rgba(67,80,86,0.1);
}

.messages-pane{
	background-color: white;
	height: 50px;
	width: 600px;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6{
	margin: 5px 0;
}

.btn-send{
	margin-top: 10px;
}

