@import url(http://fonts.googleapis.com/css?family=Radley);
/* http://colourco.de/quad/4/%23f3e0dd */
h1.flag {
  font-family: 'Radley';
  font-size: 49px;
  font-weight: 600;
  padding: 20px;
  color: #3b2317;
  background-color: white;
  outline: 2px solid white;
  border: 1px solid grey;
  width: 138px;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
}
.login-link-container {
  position: relative;
}
.login-link {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  background: #ededed;
  padding: 4px 8px;
  border-top: none;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
}
#header-map {
  top: 0;
  height: 240px;
  width: 100%;
  position: absolute;
}
/* remove google map attributions (kinda illegal) */
.gmnoprint a,
.gmnoprint span,
.gm-style-cc div {
  display: none;
}
.gmnoprint div,
.gm-style-cc div {
  background: none !important;
}
#GMapsID div div a div img {
  diplay: none;
}
#header-map-overlay {
  height: 480px;
  width: 100%;
  top: -240px;
  position: absolute;
  background: -webkit-radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  visibility: hidden;
  /* made visible when map loads */

  z-index: 2;
}
.header-menu-bar {
  height: 36px;
  width: 100%;
  margin-top: 240px;
  background: #ededed;
  position: relative;
}
.header-menu-bar .header-menu {
  list-style-type: none;
  height: 36px;
  width: 368px;
  margin: 0 auto;
}
.header-menu-bar .header-menu div {
  height: 100%;
  line-height: 36px;
  float: left;
  text-align: center;
}
.header-menu-bar .header-menu div a {
  display: block;
  color: #3b2317;
}
.header-menu-bar .header-menu .item1 {
  background: #d0e3eb;
  width: 91px;
}
.header-menu-bar .header-menu .item1:hover,
.header-menu-bar .header-menu .item1:active {
  background: #bcddeb;
}
.header-menu-bar .header-menu .item2 {
  background: #ecdbf1;
  width: 91px;
}
.header-menu-bar .header-menu .item2:hover,
.header-menu-bar .header-menu .item2:active {
  background: #e8c7f2;
}
.header-menu-bar .header-menu .item3 {
  background: #f6eae6;
  width: 91px;
}
.header-menu-bar .header-menu .item3:hover,
.header-menu-bar .header-menu .item3:active {
  background: #f5d7ce;
}
.header-menu-bar .header-menu .item4 {
  background: #f3faf1;
  width: 91px;
}
.header-menu-bar .header-menu .item4:hover,
.header-menu-bar .header-menu .item4:active {
  background: #e0fad9;
}
.header-menu-bar .header-menu .edge {
  background: #f6f6f6;
  width: 2px;
}
.hook {
  background: #4A4742;
  color: #ededed;
}
.header-signup {
  text-align: center;
  background: #ededed;
  height: 36px;
}
.header-signup form {
  width: 368px;
  margin: 0 auto;
  margin-bottom: 0;
  position: relative;
}
.header-signup form .header-signup-field-wrap,
.header-signup form .header-signup-button-wrap {
  float: left;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.header-signup form .header-signup-field-wrap {
  width: 60%;
}
.header-signup form .header-signup-button-wrap {
  width: 40%;
}
.header-signup form input {
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  border-left: 2px solid #f6f6f6;
  border-right: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 14px;
  height: 36px;
  background: rgba(255, 255, 255, 0.7);
}
.header-signup form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #f6f6f6;
}
.header-signup form button {
  height: 36px;
  background: rgba(255, 255, 255, 0.7);
  margin-left: -1px;
  border-top: none;
  border-bottom: none;
  border-left: 2px solid #ededed;
  display: block;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  color: #0000ee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-right: 2px solid #f6f6f6;
}
.header-signup form button:hover {
  color: #2200CC;
  text-decoration: underline;
  background: rgba(255, 255, 255, 0.7);
}
.footer-badge {
  display: block;
  margin-left: 85%;
}
.homepage-row {
  text-align: center;
}
.homepage-row:first-child {
  margin-top: 25px;
}
.homepage-row:last-child {
  margin-top: 30px;
  margin-bottom: 100px;
}
.homepage-row p {
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
  padding: 0 15px 0 15px;
  font-weight: 300;
}
.homepage-row a {
  color: #0000ee;
  font-size: 18px;
}
.homepage-row a:hover {
  color: #2200CC;
  text-decoration: underline;
  background: rgba(255, 255, 255, 0.7);
}
.icon-photo {
  background-image: url("../img/icon-photo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 90%;
  width: 100px;
  height: 80px;
  margin-top: 20px;
}
.icon-newspaper {
  background-image: url("../img/newspaper.svg");
  background-position: 50% 40%;
  background-size: 400px 400px;
  background-repeat: no-repeat;
  width: 100px;
  height: 80px;
  margin-top: 20px;
}
.icon-share {
  background-image: url("../img/share.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 90%;
  width: 100px;
  height: 80px;
  margin-top: 20px;
}
.icon-laptop {
  background-image: url("../img/laptop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100px;
  height: 80px;
  margin-top: 20px;
}
.icon-chat {
  background-image: url("../img/chat.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100px;
  height: 80px;
  margin-top: 20px;
}
.icon-profile {
  background-image: url("../img/profile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  width: 100px;
  height: 80px;
  margin-top: 20px;
}
.learn-more-link {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 100px;
}
.learn-more-link a {
  font-size: 16px;
  line-height: 40px;
  color: #0000ee;
}
.learn-more-link a:hover {
  color: #2200CC;
  text-decoration: underline;
  background: rgba(255, 255, 255, 0.7);
}
.how-row {
  margin-bottom: 75px;
}
.how-row:first-child {
  margin-top: 75px;
}
.how-row p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
  line-height: 24px;
}
.how-row h4 {
  text-align: center;
}
.btn-signup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 70px;
  width: 150px;
  font-size: 22px;
  line-height: 28px;
}
.why-row {
  margin-top: 75px;
  margin-bottom: 100px;
}
.why-row .why-img-span {
  text-align: right;
}
.why-text-span {
  float: left;
  background-color: #4A4742;
  background-size: 484px;
  padding: 20px 30px 20px 30px;
}
.why-text-span p {
  letter-spacing: 2px;
  font-style: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 200;
  color: white;
  text-align: justify;
}
@media (max-width: 1200px) {
  .why-img-span {
    height: 490;
  }
  .why-text-span {
    float: left;
    background-color: #4A4742;
    padding: 17px 30px 17px 30px;
  }
  .why-text-span p {
    letter-spacing: 2px;
    font-style: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 200;
    color: white;
    text-align: justify;
  }
}
.row-pricing {
  text-align: center;
}
.row-pricing h3 {
  margin-top: 40px;
  text-align: center;
}
.row-pricing p {
  font-size: 20px;
  line-height: 24px;
  padding: 0 15px 0 15px;
  font-weight: 300;
}
.icon-add-friend {
  background-image: url("../img/add-friend.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 120px;
  height: 120px;
  margin-top: 20px;
}
.icon-chart {
  background-image: url("../img/chart.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 120px;
  height: 120px;
  margin-top: 20px;
}
.icon-profile-info {
  background-image: url("../img/profile-info.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  width: 120px;
  height: 120px;
  margin-top: 20px;
}
.dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.70;
}
/*
.homepage-row {
	margin-bottom: 80px;
}

.homepage-catalog {
	.catalog-container {
		float: right;
		width: 411px;
		height: 478px;
		background: top right no-repeat url('../img/catalog-preview.png');
		background-size: 411px 478px;
		//   margin: 40px auto;
		-webkit-box-shadow: #aebec6 2px 2px 50px;
		-moz-box-shadow: #aebec6 2px 2px 50px;
		box-shadow: #aebec6 2px 2px 50px;
	}

	.homepage-type {
		position: relative;
		float: left;
		width: 350px;
		text-align: center;
		display: block;
		padding: 0 20px 0 0;
		margin: 0 0 0 0;
	
	}
}

.homepage-heading {
	font-family: "Open sans", "Helvetica", Arial;
	font-size: 40px;
	color: #222F33;
	text-align: center;
	line-height: 35px;
	font-weight: 700;
	text-shadow: 1px 1px 5px #aebec6;
	margin-top: 10px;
	margin-bottom: 20px;
	}



.homepage-presenting {
	.homepage-heading;
	font-style: italic;
	font-size: 38px;
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 30px;
	margin-top: 20px;
	text-shadow: none;

}

.homepage-subheading {
	.homepage-heading;
	font-size: 24px;
	font-weight: 100;
	margin-bottom: 30px;
	text-shadow: none;
	line-height: 25px;
	

}



.homepage-message {

	.homepage-listings-view {
		display: block;
		margin: auto;
		width: 870px;
		height: 400px;
		background: top left no-repeat url('../img/listings-view.png');
		background-size: 870px 400px;
		-webkit-box-shadow: #aebec6 2px 2px 50px;
		-moz-box-shadow: #aebec6 2px 2px 50px;
		box-shadow: #aebec6 2px 2px 50px;


	}
	.homepage-signup{
		display: block;
		padding-top: 5px;
		margin: auto;
		width: 400px;

		.btn-large{
			font-size: 24px;
			font-weight: 400;
			color: #F0F0F0;
			text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
			background-image: linear-gradient(to bottom, #E75547, #bd362f) !important;
		
	}
		
	}



	.homepage-type {
		position: relative;
		float: right;
		width: 400px;
		height: 650px;
		text-align: center;
		display: block;
		padding: 5px 0 0 40px;
		margin: 0 0 0 0;

		.drag-and-drop {
			display: block;
			position: relative;
			height: 120px;
			width: 330px;
			margin: 35px 0 35px 0;
			padding: 30px;
			-moz-border-radius: 30px 30px 30px 30px;
			border-radius: 30px 30px 30px 30px;
			border: 5px dashed #9C9C9C;
			text-align: center;
			font-size: 30px;
			text-decoration: none;
			color: inherit;

			&:hover { 
				border: 5px dashed #E26A59;
				p.InlineHoverNone { display: none }
				p.noneHoverInline { display: inline }
			}
			
			.center {
				margin-top: 20px;
			}
			p {
				font-size: 20px;
				line-height: 30px;
				&.small {
					font-size: 10px;
					line-height: 30px;
				}
				&.InlineHoverNone { display: inline }
				&.noneHoverInline { display: none }
			}
		}
	}
}

.homepage-feature-list ol {
	list-style-type: none;
	font-family: Lucida Grande;
	text-align: left;
	font-size: 16px;
	line-height: 25px;
	li {
		margin-top: 20px;
		padding: 5px 0 5px 30px;
		background: none;
		padding: 5px 0 5px 30px;
		background: left center no-repeat url('../img/rocket-bullet_04.png');
	}

	li:first-child { 
		margin-top: 30px;
	}
}


.homepage-video {
	margin: 0 auto 65px auto;
	clear: both;
	height: 488px;
	-webkit-box-shadow: #aebec6 2px 2px 50px;
	-moz-box-shadow: #aebec6 2px 2px 50px;
	box-shadow: #aebec6 2px 2px 50px;
}



.homepage-pricing { 
	text-align: center;
	margin-bottom: 0;
	ul.pricing-list {
		margin: 0 auto 20px auto;
		width: 661px;
		list-style: none;
		li {
			position: relative;
			//padding: 0 0 61px 0;
			height: 102px;
			line-height: 102px;

			h4 {
				position: absolute;
				top: 30px;
				left: 190px;
				color: #435056;
				text-shadow: 1px 1px 5px #aebec6;
				font-weight: 600;
				font-style: normal;
				font-size: 28px;
				font-family: "semi-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
			}
			h4.tooLong {
				position: absolute;
				top: 12px;
				left: 190px;
				color: #435056;
				text-align: left;
				text-shadow: 1px 1px 5px #aebec6;
				font-weight: 600;
				font-style: normal;
				font-size: 28px;
				line-height: 28px;
				font-family: "semi-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
			}
			
			&.then, 
			&.or {
				height: 70px;
				line-height: 70px;
			}

			li.or img,
			li.then img {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				margin: auto;
				display: block;
			}
			&.then img {
				height: 35px;
				width: auto;
				line-height: 70px;
			}
			&.or img {	
				height: 30px;
				width: auto;
			}
		}
	}
}

.homepage-why-pay { 
	&:hover {
		cursor:default;
	}
}


*/
