<div class="comment-container">
	<ul class="inline clearfix">
		<li><h4>Buyer Feedback</h4></li>
		<li><h5>Only showing the most recent comments. <a href="#">See all feedback</a></h5></li>
	</ul>
	<table class="table table-striped">
		<tbody class="comment-body">
		{% if comments %}
			{% for comment in comments|slice:":5" %}
				<tr><td>
					<ul class="inline clearfix">
						<li><h4>{{comment.title}}</h4></li>
						<li><h6>By: {{comment.name}}</h6></li>
						<li><h6>{{comment.email}}</h6></li>
						<li><h6 class="muted">{{comment.date_posted}}</h6></li>
					</ul>
					<p style="padding-left: 10px">{{comment.comment}}</p>
				</td></tr>
			{% endfor %}
		{% elif request.user == user %}
			<tr><td>
				<h5 class="no-comment">No one has commented on your skills as a seller. Go sell some stuff and get some feedback!</h5>
			</td></tr>
		{% else %}
			<tr><td>
				<h5 class="no-comment">Sorry but {{user.username}} doesn't have any feedback.</h5>
			</td></tr>
		{% endif %}
		</tbody>
	</table>
</div>