{% extends 'users/users_base.html' %}

{% block content %}
	<form class="form-horizontal" action="{% url 'auth_login' %}" method="POST">
		{% if form.errors %}
			<div class='col-lg-2 alert alert-error'>
				{% for field, errors in form.errors.items %}
					{% for error in errors %}
						{{error}}
					{% endfor %}
				{% endfor %}
			</div>
		{% endif %}
		
		{% csrf_token %}
		<ul class="form form-group">
			{% for field in form %}
				{{ field.label }}:<br>
				{{ field }}<br>
			{% endfor %}
			<p><input class="btn btn-primary" type="submit" value="Login"/></p>
		</ul>
		<input type="hidden" name="next" value="{{ next }}" />
		<div class = "login-help">
			<a href="{% url 'auth_password_reset' %}">Forgot your password?</a><br/>
			<a href="{% url 'registration_register' %}{% if next %}?next={{next}}{% endif%}">Create an account</a>
		</div>
	</form>

{% endblock %}

{% block js %}
<script>
$("input").addClass("form-control");
</script>
{% endblock %}
