{% extends 'users_base.html' %}
{% load static from staticfiles %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}
<div class="profile-content">
	<div class="profile-header row">
		<ul class="thumbnails profile-picture span3">
			<li>
			{% if user.get_profile.propic %}
				<img class="thumbnail" src="{{ user.get_profile.propic }}">
			{% else %}
				<img class="thumbnail" src=" {% static 'images/no-photo.png' %}">
			{% endif %}
			</li>
		</ul>
		<div class="profile-info span6">
			{% if user.get_profile.name and not user.get_profile.nameprivate or request.user == user and user.get_profile.name %}
			<div class="name-wrapper">
				<ul class="inline">
					<li><h3>{{user.get_profile.name}}</h3></li>
					{% if request.user == user %}
					<li style="float:right;"><a class="btn btn-warning edit-profile" href="{% url 'users.views.info' %}">Update your profile</a></li>
					{% endif %}
				</ul>
				<span class="subtitle gray">{{user.username}}</span>
			</div>
			{% else %}
			<div class="name-wrapper">
				<ul class="inline">
					<li><h3>{{user.username}}</h3></li>
					{% if request.user == user %}
					<li style="float:right;"><a class="btn btn-warning edit-profile" href="{% url 'users.views.info' %}">Update your profile</a></li>
					{% endif %}
				</ul>
			</div>
			{% endif %}
			<div class="profile-bio">
				{% if user.get_profile.bio %}
					<p>{{user.get_profile.bio}}</p>
				{% else %}
					{% if request.user == user %}
					<p>Looks like you don't have a bio! <a href="{% url 'users.views.info' %}">Update</a> your profile and add one.</p>
					{% else %}
					<p>Sorry, but {{user.username}} doesn't have a bio.</p>
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="profile-stats span3">
			<h3 class="listing-stat-header">Listings</h3>
			<h4 class="green">{{ activelistings|length }}</h4>
			{% if request.user == user %}
				<h3 class="listing-stat-header">Listings (in progress)</h3>
				<h4><a href="{% url 'listings.views.dashboard' %}">{{ draftlistings|length }}</a>
			{% endif %}
		</div>
	</div>
	<div class="separator"></div>
	<div class="profile-selling">
		<ul class="thumbnails">

			{% if activelistings %}
			{% for listing in activelistings|slice:":6" %}
			<li class="span2">
				<a class="thumbnail" href="{{ listing.get_absolute_url }}">
					{% if photos %}
						{% for photo in photos|slice:":1" %}
						<img src="photo.url">
						{% endfor %}
					{% else %}
						<img src="{% static 'images/sail.jpg' %}">
					{% endif %}
					<h4 class="profile-listing-title">{{listing.title}}</h4>
					<h4 class="profile-listing-price">${{listing.price}}</h4>
					<p class="profile-listing-description">{{listing.description}}</p>
				</a>
			</li>
			{% endfor %}
			{% else %}
			<li class="span2">
				<a class="thumbnail" href="/listings/create">
					<img src="{% static 'images/sail.jpg' %}">
					<h4 style="text-align: left">Go ahead, make a listing!</h4>
					<p style="padding: 0">Just click here to get started.</p>
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
	<div class="separator"></div>
	<div class="comment-container">
		<ul class="inline clearfix">
			<li><h4>Buyer Feedback</h4></li>
			<li><h5>Only showing the most recent comments. <a href="#">See all feedback</a></h5></li>
		</ul>
		<table class="table table-striped">
			<tbody class="comment-body">
			{% if comments %}
				{% for comment in comments|slice:":5" %}
					<tr><td>
						<ul class="inline clearfix">
							<li><h4>{{comment.title}}</h4></li>
							<li><h6>By: {{comment.name}}</h6></li>
							<li><h6>{{comment.email}}</h6></li>
							<li><h6 class="muted">{{comment.date_posted}}</h6></li>
						</ul>
						<p style="padding-left: 10px">{{comment.comment}}</p>
					</td></tr>
				{% endfor %}
			{% elif request.user == user %}
				<tr><td>
					<h5 class="no-comment">No one has commented on your skills as a seller. Go sell some stuff and get some feedback!</h5>
				</td></tr>
			{% else %}
				<tr><td>
					<h5 class="no-comment">Sorry but {{user.username}} doesn't have any feedback.</h5>
				</td></tr>
			{% endif %}
			</tbody>
		</table>
	</div>
	{% if request.user != user %}
	<div class="separator"></div>
	<div class="comment-form-container">
		<h4>Bought from {% if user.get_profile.name %}{{user.get_profile.name}}{% else %}{{user.username}}{% endif %}? Give them some feedback!</h4>
		<div class="errors alert alert-error hide"></div>
		<form class="comment-form" action="" method="POST">
			<ul class="inline clearfix">
				<li><label for="title">Title:</label><input type="text" name="title"></li>
				<li><label for="name">Name:</label><input type="text" name="name"></li>
				<li><label for="email">Email: (optional)</label><input type="email" name="email"></li>
			</ul>
			<textarea class="comment-textarea" placeholder="Write your comment here..." name="comment" rows="5"></textarea><br>
			<input class="btn btn-info comment-submit" type="submit" value="Submit">
		</form>
	</div>
	{% endif %}
</div>
{% endblock %}