{% extends 'users_base.html' %}
{% block title %}Account Info{% endblock %}

{% block content %}
<h3>{{user.username}}</h3>

<div class="user-profile-table-group">
	<table class="table user-profile-table">
		<tbody>
			<tr>
				<td>Rocket Email:</td>
				<td><code class="text-info">{{user.username}}@rocketlistings.mailgun.org</code></td>
			<tr>
				<td>Name:</td>
				{% if profile.name %}
				<td>{{ profile.name }}</td>
				{% else %}
				<td>Add a name to your profile</td>
				{% endif %}
			</tr>
			<tr>
				<td>Email:</td>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<td>Seller Blurb:</td>
				{% if profile.bio %}
				<td>{{ profile.bio }}</td>
				{% else %}
				<td>Add a bio to your profile</td>
				{% endif %}
			</tr>
			<tr>
				<td>Location:</td>
				{% if profile.location %}
				<td>{{ profile.location }}</td>
				{% else %}
				<td>Add a default location for your listings</td>
				{% endif %}
			</tr>
			<tr>
				<td>Default Category:</td>	
				{% if profile.default_category.name  %}
				<td>{{ profile.default_category.name  }}</td>
				{% else %}
				<td>Add a default category for your listings</td>
				{% endif %}
			</tr>
			<tr>
				<td>Default Listing Type:</td>
				{% if profile.default_listing_type.name  %}
				<td>{{ profile.default_listing_type.name }}</td>
				{% else %}
				<td>Add a default listing type</td>
				{% endif %}
			</tr>
		</tbody>
	</table>

<div class="user-info-buttons">
	<a class="btn btn-info" href="{% url 'users.views.edit' user.username %}">Edit your account info.</a>
	<a class="btn btn-warning" href="{% url 'auth_password_change' %}">Change your password.</a>
	<div class="clearfix"></div>
	</div>
</div>
{% endblock %}
