{% extends 'users_base.html' %}
{% load static from staticfiles %}

{% block title %}{{user.username}}{% endblock %}

{% block js %}

{% endblock %}

{% block content %}
<div class="profile-content">
	<div class="profile-header row">
		<ul class="thumbnails profile-picture span3">
			<li>
			{% if user.get_profile.propic %}
				<img class="thumbnail" src="{{ user.get_profile.propic }}">
			{% else %}
				<img class="thumbnail" src=" {% static 'images/no-photo.png' %}">
			{% endif %}
			</li>
		</ul>
		<div class="profile-info span6">
			{% if user.get_profile.name and not user.get_profile.nameprivate or request.user == user and user.get_profile.name %}
			<div class="name-wrapper">
				<ul class="inline">
					<li><h3>{{user.get_profile.name}}</h3></li>
					{% if request.user == user %}
					<li style="float:right;"><a class="btn btn-warning edit-profile" href="{% url 'users.views.info' %}">Update your profile.</a></li>
					{% endif %}
				</ul>
				<span class="sub-username">{{user.username}}</span>
			</div>
			{% else %}
			<div class="name-wrapper">
				<h3>{{user.username}}</h3>
			</div>
			{% endif %}
			<div class="profile-bio">
				{% if user.get_profile.bio %}
					<p>{{user.get_profile.bio}}</p>
				{% else %}
					{% if request.user == user %}
					<p>Looks like you don't have a bio! <a href="{% url 'users.views.info' %}">Update</a> your profile and add one.</p>
					{% else %}
					<p>Sorry, but {{user.username}} doesn't have a bio.</p>
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class="profile-stats span3">
			<h3>Listings</h3>
			<h4 class="green">{{ listings|length }}</h4>
		</div>
	</div>
	<div class="separator"></div>
</div>

{% comment %}
<div class="profile_heading">
	<span class="profile-picture">
		{% comment %}
		{% if user.photo %}
			<img src=" {% static 'images/unknown_user_photo.jpg' %}" alt="Profile Pic" width='250px' height='300px'>
		{% else %}
			<img src=" {% user.photo %}" alt="Profile Pic" width='250px' height='300px'>
		{% endif %}

		<img src=" {% static 'images/unknown_user_photo.jpg' %}" alt="Profile Pic" width='250px' height='300px'>
	</span>
	<span class="profile_user_info">
		{% if profile.name %}
			<p class="name">{{ profile.name }}</p>
			{% if profile.location %}
				<p class="location">{{ profile.location }}</p>
			{% else %}
				<p class="location">Location: Unknown</p>
			{% endif %}
		{% else %}
			<p class="name">"{{ user.username }}"</p>

			{% if profile.location %}
				<p class="location">{{ profile.location }}</p>
			{% else %}
				<p class="location">Location: Unknown</p>
			{% endif %}
		{% endif %}
		<p><a class="btn btn-warning">Message</a></p>
	</span>

	<div class="profile-bio">
		<h5>About</h5>
		<div class="bio-display after" id="dot3" style="word-wrap: break-word;">
			{{ profile.bio }}
			<a href="#" id="read" class="more">Read more &raquo;</a>
		</div>
	</div>
</div>
<div class="selling-these-items">
	<code class ="text-info">What {{ profile.name }} is selling: </code>

</div>

<br>
<span class="profile_carousel">
	<div id="this-carousel-id" class="carousel slide">
		<!-- class of slide for animation -->
		<div class="carousel-inner">
			{% for listing in listing %}
			<div {% if forloop.first %} class="item active">{% endif %}
				<!-- class of active since it's the first item -->
				<div class="thumbnail">
				{% with photos|first as first_photo %}
					<img src="{{ MEDIA_URL }}{{ first_photo.url }}"/>
					<h3 class="thumbnail-title">{{ listing.title }}</h3>
					<p class="thumbnail-price">{{ listing.price }}</p>
					<a href="{{ listing.get_absolute_url }}" ></a>

				</div>
			</div>
				{% endwith %}
			{% endfor %}
		</div>
		{% comment %}
		<!-- /.carousel-inner -->
		<!--  Next and Previous controls below
       		  href values must reference the id for this carousel -->
		<a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
	</div>

</span>
<span id="map-canvas"></span>
{% endcomment %}
{% endblock %}