{% extends 'base.html' %}
{% load static from staticfiles %}
{% include 'partials/comment_form.html.html' %}



{% block css %}
{# <link type="text/css" rel="stylesheet" href="{% static 'css/listings.css' %}"/> #}
<link type="text/css" rel="stylesheet" href="{% static 'css/users.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'vendorcss/jquery.tablesorter.pager.css' %}"/>
{% endblock %}

{% block js %}
<script src="{% static 'js/users.js' %}" type="text/javascript"></script>
<script src="{% static 'js/listings.js' %}" type="text/javascript"></script>
<script src="{% static 'js/ZeroClipboard.js' %}" type="text/javascript" ></script>
<script src="{% static 'js/jquery.tablesorter.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.simplemodal.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuRtB1F8XVtV22jQ3dkGQPqWCKQz4suJ0&sensor=true"></script>

{# <script src="{% static 'js/ZeroClipboard.js' %}" type="text/javascript" ></script> #}
{# <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script> #}
{# <script src="{% static 'js/bootstrap.min.js' %}"></script> #}
{% endblock %}
