<div class="listing-dash dash-tips">
	<div class="dash-title">
		<h4>Tips for a great listing</h4>
	</div>
	<div class="dash-content">
		<ul class="unstyled">
			<li>Good photos are the <strong>most important</strong>  part of any great listing. Make sure your pictures are:
				<ul>
					<li>High resolution</li>
					<li>Well lit</li>
					<li>feature scratches and defects</li>
					<li>feature labels of product info and accessories</li>
				</ul>
			</li>
			<li>The devil is in the details. Every fact you can list off about your product will usually result in a better sell.</li>
			<li>Try and include why you're selling the item and any other interesting facts.</li>						
		</ul>
	</div>
</div>