{% load static from staticfiles %}
{# Requires the context variable 'messages' #}	

<div class="dash-titles">Messages</div>
<div class="messages-panel" >
	{% for message in messages %}
	<div class="message buyer-{{message.buyer.id}} hide">
		{% if message.isSeller %}
		<p class="message-bubble right">{{message.content}}</p>
		{% else %}
		<p class="message-bubble left">{{message.content}}</p>
	   	{% endif %}
   	</div>
   	{% endfor %}
</div>	
<form class="messageForm">
	<textarea rows="2" name='content' class="input-long" placeholder="  Message..." ></textarea>
	<input type="submit" class="btn send-button"> {# needs to be enabled #}
</form>	
