<div id="modal-photo-upload" class="modal fade hide" style="display:none;">
	<div class="modal-header">
		<button class="close" type="button" data-dismiss="modal">x</button>
		<h3>First upload pictures of what you're selling.</h3>
		<br>
		<ul class="unstyled">
			<li>Good photos are the <strong>most important</strong>  part of any great listing. Make sure your pictures are:
				<ul>
					<li>High resolution</li>
					<li>Well lit</li>
					<li>feature scratches and defects</li>
					<li>feature labels of product info and accessories</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="modal-body">
		<div id="file-uploader"></div>
		<noscript>          
			<p>Please enable JavaScript to use file uploader.</p>
		</noscript>         
	</div>
	<div class="modal-footer">
		<a href="{% url 'listings.views.category' %}" class="btn btn-primary finish-upload-button">Finish uploading</a>
	</div>
</div>