{% extends "static_pages/static_pages_base.html" %}
{% load static from staticfiles %}

{% block content %}
	<div class="row homepage-row">
		<div class="span4">
				<i class="icon-photo"></i>
				<h4>More control of photos</h4>
				<p>Add, remove, crop, resize, rotate, and change the order of your photos as you include them in your listing. </p>
		</div>
		<div class="span4">
				<i class="icon-newspaper"></i>
				<h4>Faster, smarter listing creation</h4>
				<p>Everything from category selection to the listing preview are in one intuitive page. We even give you data-driven tips on what to include.</p>
		</div>
		<div class="span4 ">
				<i class="icon-share"></i>
				<h4> One click to post to Craigslist </h4>
				<p>Find more buyers for your listing by automagically posting it to Craigslist. It's also easy to share on Facebook and Twitter.</p>
		</div>

	</div>

	<div class="row homepage-row">
		<div class="span4">
				<i class="icon-laptop"></i>
				<h4> One dashboard to manage the sale</h4>
				<p>See all your listings, all of their info, and even all the emails you've received in one place so you can easily keep track of everything.</p>
		</div>
		<div class="span4 ">
				<i class="icon-chat"></i>
				<h4> In-app messaging with buyers </h4>
				<p>Every response to your listing, even through Craigslist, goes to your dashboard where you can send and receive emails. </p>
		</div>
		<div class="span4">
				<i class="icon-profile"></i>
				<h4>Profiles for more trust</h4>
				<p>Every other online commerce site has profiles because they increase trust and accountability. We're seamlessly adding them to Craigslist.</p>
		</div>
	</div>
	<div class="learn-more-link">	
		<a href="/how">Learn More</a>
	</div>
	
{% endblock %}
