{% extends "static_pages/base.html" %}
{% load static from staticfiles %}
{% load active from navigation %}

{% block title %}
    {% active 'home' value='rocket' %}
    {% active 'background' value='background' %}
    
{% endblock %}

{% block content %}
{% include "static_pages/partials/header_static_mobile.html" %}
<div class="partials">
    <div id="product-partial" data-title="rocket" data-menu="#product-menu-item" class="{% active 'home' %}">
        {% include 'static_pages/partials/features.html' %}
    </div>
    <div id="background-partial" data-title="background" data-menu="#background-menu-item" class="{% active 'background' %}">
        {% include 'static_pages/partials/background.html' %}
    </div>
    
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    var REMOTE_ADDR = "{{ REMOTE_ADDR }}";
</script>
{{ block.super }}
{% endblock %}