{% extends "static_pages/base.html" %}
{% load static from staticfiles %}
{% load active from navigation %}

{% block content %}
<div class="partials">
    <div id="product-partial" data-menu="#product-menu-item" class="{% active 'home' %}">
        {% include 'static_pages/partials/features.html' %}
    </div>
    <div id="background-partial" data-menu="#background-menu-item" class="{% active 'background' %}">
        {% include 'static_pages/partials/background.html' %}
    </div>
    <div id="register-partial" data-menu="#register-menu-item" class="partial-padding {% active 'register' %}">
        {% include 'registration/register.html' %}
    </div>
    <div id="login-partial" data-menu="#login-menu-item" class="partial-padding {% active 'login' %}">
        {% include 'registration/login.html' %}
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    var REMOTE_ADDR = "{{ REMOTE_ADDR }}";
</script>
{{ block.super }}
{% endblock %}