{% extends "static_pages/base.html" %}
{% load static from staticfiles %}
{% load active from navigation %}

{% block title %}
    {% active 'home' value='rocket' %}
    {% active 'background' value='background' %}
    {% active 'register' value='register' %}
    {% active 'login' value='login' %}
{% endblock %}

{% block content %}
{% include "static_pages/partials/header_static.html" %}
<div class="partials">
    <div id="post-partial" data-title="rocket" data-menu="#post-menu-item" class="{% active 'post' %}">
        {% include 'static_pages/partials/better-listing.html' %}
    </div>
    <div id="manage-partial" data-title="manage" data-menu="#manage-menu-item" class="{% active 'home' %}">
        {% include 'static_pages/partials/better-dashboard.html' %}
    </div>
    <div id="profile-partial" data-title="profile" data-menu="#profile-menu-item" class="{% active 'profile' %}">
        {% include 'static_pages/partials/better-profile.html' %}
    </div>
    <div id="register-partial" data-title="register" data-menu="#register-menu-item" class="{% active 'register' %}">
        {% include 'registration/partials/register.html' %}
    </div>
    <div id="login-partial" data-title="login" data-menu="#login-menu-item" class="{% active 'login' %}">
        {% include 'registration/partials/login.html' %}
    </div>
    <div id="about-partial" data-title="about" data-menu="#about-menu-item" class="{% active 'about' %}">
        {% include 'static_pages/partials/background.html' %}
    </div>
    <div id="pricing-partial" data-title="pricing" data-menu="#pricing-menu-item" class="{% active 'pricing' %}">
        {% include 'static_pages/partials/pricing.html' %}
    </div>
</div>
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/knfnlfcnohkkbkiibecjhidafmpgchfe">
{% endblock %}

{% block js %}
<script type="text/javascript">
    var REMOTE_ADDR = "{{ REMOTE_ADDR }}";
</script>
{{ block.super }}
{% endblock %}