{% extends "static_pages/base.html" %}
{% load static from staticfiles %}
{% load active from navigation %}

{% block title %}
    {% active 'home' value='rocket' %}
    {% active 'background' value='background' %}
    {% active 'register' value='register' %}
    {% active 'login' value='login' %}
{% endblock %}

{% block content %}
<div class="partials">
    <div id="product-partial" data-title="rocket" data-menu="#product-menu-item" class="{% active 'home' %}">
        {% include 'static_pages/partials/features.html' %}
    </div>
    <div id="background-partial" data-title="background" data-menu="#background-menu-item" class="{% active 'background' %}">
        {% include 'static_pages/partials/background.html' %}
    </div>
    <div id="register-partial" data-title="register" data-menu="#register-menu-item" class="{% active 'register' %}">
        {% include 'registration/partials/register.html' %}
    </div>
    <div id="login-partial" data-title="login" data-menu="#login-menu-item" class="{% active 'login' %}">
        {% include 'registration/partials/login.html' %}
    </div>
</div>
{% endblock %}

{% block js %}
<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/knfnlfcnohkkbkiibecjhidafmpgchfe">
<script type="text/javascript">
    var REMOTE_ADDR = "{{ REMOTE_ADDR }}";
</script>
{{ block.super }}
{% endblock %}