{% extends "static_pages/static_pages_base.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block bootstrap %}
{% compress css %}
<link type="text/css" rel="stylesheet" href="{% static 'rocket/vendorcss/bootstrap-gutterless.css' %}"/>
{% endcompress %}
{% endblock %}

{% block title %}About Rocket{% endblock %}

{% block content %}
<div class="row who-row">
	<div class="span6 who-img-span">
		<img src="{% static '/img/church-light.jpg' %}"  width="100%" >
	</div>
	<div class = "span5 who-text-span">
		<p>Our mission is to make it super easy to sell and buy used stuff that you don't pay for online and get shipped. In other words, we want to make the best online classifieds site ever.</p>
		<p>To have the best classifieds site ever, you need two things: helpful tools and a big network. Our tools are aimed at making the entire process easier, from the moment you decide to sell or buy until the transaction is finished, and we link with Craigslist for the network. </p>
		<p>We're a young group in the heart of Burlington, Vermont giving it our best shot, so please let us know if you have any feedback by emailing <a href="mailto:info@rocketlistings.com" style="color: white;"> info@rocketlistings.com</a></p>
	</div>
{% endblock %}