{% extends 'static_pages/static_pages_base.html' %}
{% load static from staticfiles %}
{% load compress %}

{% block bootstrap %}
{% compress css %}
<link type="text/css" rel="stylesheet" href="{% static 'rocket/vendorcss/bootstrap-gutterless.css' %}"/>
{% endcompress %}
{% endblock %}


{% block title %}About Rocket{% endblock %}

{% block content %}
<div class="partials what-partial" style="display: none">
	{% include 'static_pages/partials/what_partial.html' %}
</div>
<div class="partials how-partial" style="display: none">
	{% include 'static_pages/partials/how_partial.html' %}
</div>
<div class="partials why-partial" style="display: true">
	{% include 'static_pages/partials/why_partial.html' %}
</div>
<div class="partials pricing-partial" style="display: none">
	{% include 'static_pages/partials/pricing_partial.html' %}
</div>	

{% endblock %}