@import url(http://fonts.googleapis.com/css?family=Radley);
/* http://colourco.de/quad/4/%23f3e0dd */
/* fix navbar container */
@media (min-width: 1200px) {
  .navbar .container {
    width: 1170px;
  }
}
@media (min-width: 979px) and (max-width: 1200px) {
  .navbar .container {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .navbar .container {
    width: 744px;
  }
}
.navbar {
  border: none;
}
.navbar .navbar-inner {
  border: none;
  background: #ededed;
  height: 36px;
  min-height: 36px;
}
.navbar .container {
  height: 36px;
}
.navbar .nav > li > a,
.navbar .nav > li.active > a {
  padding: 7px 15px 7px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li.active > a:hover {
  text-decoration: underline;
}
.navbar .nav > li > a:hover span,
.navbar .nav > li.active > a:hover span {
  text-decoration: none;
}
.navbar-logo {
  float: left;
  display: block;
  position: relative;
  left: -20px;
}
.navbar-logo .accent {
  float: left;
  height: 36px;
  width: 5px;
}
.navbar-logo .accent1 {
  background: #d0e3eb;
}
.navbar-logo .accent2 {
  background: #ecdbf1;
}
.navbar-logo .accent3 {
  background: #f6eae6;
}
.navbar-logo .accent4 {
  background: #f3faf1;
}
.navbar-logo:hover .accent1 {
  background: #bcddeb;
}
.navbar-logo:hover .accent2 {
  background: #e8c7f2;
}
.navbar-logo:hover .accent3 {
  background: #f5d7ce;
}
.navbar-logo:hover .accent4 {
  background: #e0fad9;
}
.navbar-logo .logo-text {
  float: left;
  font-family: 'Radley';
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  padding: 0 20px;
  color: #3b2317;
  background-color: white;
  margin: 0;
  position: relative;
}
.navbar-logo .logo-text:hover {
  text-decoration: underline;
}
.footer,
.footer-fixed {
  background: #4A4742;
}
.footer p,
.footer-fixed p {
  margin: 0;
  line-height: 36px;
}
/* fixed footer */
.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.wrap-fixed {
  position: relative;
  height: 95%;
  height: -webkit-calc(100% - 36px);
  height: -moz-calc(100% - 36px);
  height: calc(100% - 36px);
}
.full-height {
  height: 100%;
}
/* sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

}
/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto !important;
  /* Negative indent footer by it's height */

  margin: 0 auto -36px;
}
/* Set the fixed height of the footer here */
.push,
.footer,
.footer-fixed {
  height: 36px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Flatten das boostrap */
.well,
.navbar-inner,
.popover,
.btn,
.tooltip,
input,
select,
textarea,
pre,
.progress,
.modal,
.add-on,
.alert,
.table-bordered,
.nav > .active > a,
.dropdown-menu,
.tooltip-inner,
.badge,
.label,
.img-polaroid {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important;
}
select:focus {
  outline: none !important;
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
}
