html,
body {
  /* sticky footer */

  height: 100%;
}
body {
  color: #435056;
  background-color: /* #E6F0F2;*/ #f5f5f5;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1050px;
  /* or 950px */

}
.wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -66px;
}
.push {
  height: 66px;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
form ul li {
  list-style-type: none;
}
form .errorlist {
  color: red;
}
form input,
form textarea,
form select {
  width: 160px;
}
.aCenter {
  text-align: center;
}
.center {
  margin: 0 auto;
}
body a {
  color: /*#73B3BF; */ #e26a59;
  text-decoration: none;
}
.header {
  position: relative;
  z-index: 3;
  background: url(../img/retro_intro.png) 50% 0 !important;
  webkit-box-shadow: 0px 1px 12px #181B1D;
  -moz-box-shadow: 0px 1px 12px #181B1D;
  box-shadow: 0px 1px 12px #181B1D;
}
.header .upper {
  height: 70px;
  position: relative;
}
.header .upper .login {
  position: fixed;
  left: 47%;
  padding: 6px;
  color: #435056;
  text-align: center;
  /* margin-left: 135px; /*TODO not the best way to center need to figure this out */

  font-style: normal;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 12px;
  font-weight: 200;
  background-color: white;
  border-width: 1px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10px;
}
.header .upper .login :hover {
  text-decoration: none;
}
.header .upper .logo {
  float: left;
  padding-top: 5px;
  padding-left: 0px;
}
.header .upper .navbar {
  float: right;
  padding-top: 20px;
  padding-right: 0px;
  margin-bottom: 0px;
}
.header .upper .navbar .nav > li > a {
  font-family: "Open sans", "Helvetica", Arial;
  font-size: 18px;
  color: #E75547;
}
.header .upper .navbar .nav > li > a:hover {
  color: black;
}
.header .upper .navbar .btn-danger {
  margin-top: 3px;
  font-size: 16px;
  color: #F0F0F0;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to bottom, #e75547, #bd362f) !important;
}
/*.lower {
		position: relative;
		z-index: 2;
		background: #e8edef;
		border-right: 1px solid #A4B0B7;
		border-left: 1px solid #A4B0B7;
		height: 20px;
	}*/
.hr {
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}
.footer {
  height: 66px;
  border-right: 1px solid #E3E3E3;
  border-left: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  background-color: #e8e8e8;
}
.footer .hrline1 {
  overflow: hidden;
  height: 9px;
  background: url(../img/footerHr.png) 0 0;
  line-height: 0px;
  /*zoom: 1;*/

}
.footer .hrline2 {
  overflow: hidden;
  height: 1px;
  border-top: solid #232f33 1px;
  background: #6e787d;
  line-height: 0px;
}
.footer .foot {
  margin: 0 auto;
  width: 600px;
  min-height: 45px;
  /*border-top: solid #b2bec3 1px;*/

  line-height: 45px;
}
.footer .foot p {
  /*border-top: solid #e8edef 1px;*/

  color: #88979E;
  font-size: 10px;
  font-family: Verdana, Geneva, sans-serif;
}
.hrline1 {
  height: 1px;
  border-top: solid #fff 2px;
  border-bottom: solid #fff 2px;
  background: #b2bec3;
}
.pattern1 {
  background: url(../img/pattern1.png) 50% 0 !important;
}
.page-content {
  margin: 0 auto;
  padding: 30px 40px 40px 30px;
}
.fileDragOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.fileDragOverlay span {
  display: none;
}
.fileDragOverlay.in {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.fileDragOverlay.in span {
  display: none;
}
.fileDragOverlay.hover {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  text-align: center;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.55) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.55)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.55) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.55) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.55) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.55) 100%);
}
.fileDragOverlay.hover span {
  display: block;
  margin: 200px auto 0 auto;
  font-style: bold;
  font-size: 90px;
  font-family: "semi-bold";
  line-height: 100%;
  color: #FFF;
  -webkit-text-stroke: 2px black;
  text-shadow: -1px -1px 5px #000000, 1px -1px 5px #000000, -1px 1px 5px #000000, 1px 1px 5px #000000;
}
.fileDragOverlay.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}
/* upload modal styles */
.qq-upload-button {
  background-color: /*#73B3BF; */ #e26a59;
  color: white;
}
