{% extends 'base.html' %}
{% load static from staticfiles %}

{% block css %}<link type="text/css" rel="stylesheet" href="{% static 'css/static_pages.css' %}"/>{% endblock %}
{% block js %}<script type="text/javascript" src="{% static 'js/static_pages.js' %}"></script>{% endblock %}

{% block title %}Features{% endblock %}
{% block content %}
	<div class = "well">
		<div class = "row-fluid features">
			<div class = "span6"><div class = "features-titles" style= "text-align: left !important; margin-left: 20px;"> Sign-up and get your very own <br> Rocket Listings email address. </div></div>
			<div class = "span6"><div class="features-rlemail">yourname@rocketlistings.com</div></div>
		</div>
	</div>	
	<div class = "well">
		<div class = "row-fluid">
			<div class = "span5"><div class = "features-titles">Create all your listings with your new email and the magic starts.</div></div>
			<div class = "span7"><div class="features-craigslistemail">{#<img src="images/craigslist-email.png" rel="homepage listing"/>#}</div></div>
		</div>
	</div>
	<div class = "well">
		<div class = "row-fluid">
			<div class = "span5"><div class = "features-titles">All of those listings will be automatically added to your <br> Rocket Listings dashboard. </div></div>
			<div class = "span7"><div class="features-manylistings">{#<img src="images/many-listings.png" rel="homepage listing"/>#}</div></div>
		</div>
	</div>
	<div class ="well">	
		<div class = "row-fluid">
			<div class = "span5"><div class = "features-titles" style = "margin-top: 15px;"> Keep track of buyers, see your offers, and even handle emails through your dashboard. </div></div>
			<div class = "span7"><div class="features-messages">{#<img src="images/messages.png" rel="homepage listing"/>#}</div></div>
		</div>
	</div>
	<div class ="well">	
		<div class = "row-fluid">
			<div class = "span5"><div class = "features-titles" style = "margin-top: 50px;"> Still want emails? Get a daily or weekly wrap-up of all your activity. </div></div>
			<div class = "span7"><div class="features-wrapup">{#<img src="images/messages.png" rel="homepage listing"/>#}</div></div>
		</div>
	</div>
	

{% endblock %}