{% extends "static_pages_base.html" %}
{% load static from staticfiles %}

{% block css %}<link type="text/css" rel="stylesheet" href="{% static 'css/static_pages.css' %}"/>{% endblock %}

{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuRtB1F8XVtV22jQ3dkGQPqWCKQz4suJ0&sensor=false"></script>
<script type="text/javascript" src="{% static 'js/static_pages.js' %}"></script>
{% endblock %}

{% block title %}Pricing{% endblock %}
{% block content %}

<div class="row row-pricing">	
		<div class="span10 offset1">
			<h2>Everyone can publish 5 listings for free every month. </h2>
			<h2>If you publish more, it's just $1/listing.</h2>
			<h3> Pretty simple right?</h3>
			<a class="btn btn-primary" href="{% url "registration_register" %}" data-toggle="modal"> Sign Up</a>
			</div>

		</div>
</div>



{% endblock %}
