{% extends "static_pages_base.html" %}
{% load static from staticfiles %}
{% block bootstrap_css %}
<link type="text/css" rel="stylesheet" href="{% static 'vendorcss/bootstrap-gutterless.css' %}"/>
{% endblock %}

{% block title %}About Rocket{% endblock %}

{% block content %}
<div class="row why-row">
	<div class="span6 why-img-span">
		<img src="{{STATIC_URL}}/img/church-light.jpg" height="538px">
	</div>
	<div class = "span5 why-text-span">
		<p>Craigslist is the best way to buy and sell used stuff because of the huge network of people already using it, not because it's fast, easy, or intuitive. We're long time Craigslist users that weren't satsified with the experience, so we built some tools to make it better. </p>
		<p>Our goal is to make the entire process easier, from the moment you decide to sell until the money is in your hand. That means better listing creation, management, buyer interactions, and transactions.</p>
		<p>We're building stuff that we want to use, so if there's anything we missed or if you have feedback, let us know at <a href="mailto:info@rocketlistings.com" style="color: white;"> info@rocketlistings.com</a></p>
	</div>
</div>

{% endblock %}