@import "variables.less";

a {
  color: @craigslistBlue;
  &:hover {
    color: darken(@craigslistBlue, 20%);
  }
}

.navbar {
  border-bottom: 1px solid darken(@navbar-color, 30%);
  background: @navbar-color;
  min-height: 0px;
  padding-bottom: 0px;

  .username-item {
    z-index: 3;
    padding-right: 3px;    
  }

  .nav-mobile{

    a{

      &.mobile{
      color: white;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      position: relative;
      display: block;
      padding: 0px 15px;
      background: #3276b1;
      }
    }
  }

 .dropdown-menu {
    // background: #eee; //#d5d5d5
    margin: 0;
    padding: 0;
    border-top: none;
    min-width: 111px;

    > li > a {
      padding: 5px 10px;
      // text-align: right;
      // border-bottom: 1px solid #eee;
    }
  }

  .settings-cog {
    padding-left: 7px;
    padding-right: 10px;
    &:hover{
      background-color: #d5d5d5 !important;
    }
    a:focus{
      background-color: #d5d5d5 !important;
    }
    &:active{
      background-color: #d5d5d5 !important; 
    }
  }  
}

// .container.nav-fixed{
//   max-width: none;
// }

// .dropdown.open{
//   .settings-cog.active{
//     background-color: #d5d5d5 !important;
//   }
// }


button.navbar-toggle{
  background-color: grey;
  padding: 6px 8px;
  margin-bottom: 0;
  margin-top: 4px; 

  &.collapsed{
    background-color: transparent;
    padding: 6px 8px;
    border-color: grey;

    span.icon-bar{
      background-color: grey;
    }
  }

  span.icon-bar{
    background-color: white;
  }
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background: none;
  color: inherit;
}

.navbar-nav {
  margin: 0 -15px;
  border-bottom: 1px solid darken(@navbar-color, 30%);

  >.open>a, 
  >.open>a:hover, 
  >.open>a:focus {
    outline: none;
  }

  li a {
    outline: none;
    color: grey;
    height: @navbar-height;
    line-height: @navbar-height;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    &.blue {
      background: #3276b1;
      span{
        color: white;
      }
    }
    &.active {
      background-color: #E0E0E0;
    }
    &.blue.active {
      background-color: #285C8A;
    }
    &.purple {
      background-color:  lighten(@craigslistBlue, 40%); // #D3D9F2;
      color: white;
    }
    &:hover .nav-item-text {
      text-decoration: underline;
    }
    .glyphicon {
      display: inline;        
      vertical-align: middle; 
    }
  }

  a.mobile{
    outline: none;
    color: grey;
    height: @navbar-height;
    line-height: @navbar-height;
    padding: 11px 60px;
    font-size: 12px;
    text-decoration: none;

    &.active {
      background-color: #E0E0E0;
    }
    
    &:hover .nav-item-text {
      text-decoration: none;
    }
    .glyphicon {
      display: inline;        
      vertical-align: middle; 
    }

  }
}

.navbar-logo {
  float: left;
  display:block;
  // position: relative;
  // margin-left: -4*@accent-width;
  margin-right: 15px;
  // margin-left: 14px;

  .accent {
    float:left;
    height: @navbar-height;
    width: @accent-width;
  }
  .accent1 {
    background:@menu1;
  }
  .accent2 {
    background:@menu2;
  }
  .accent3 {
    background:@menu3;
  }
  .accent4 {
    background:@menu4;
  }

  &:hover .accent1 {
    background:@menu1H;
  }
  &:hover .accent2 {
    background:@menu2H;
  }
  &:hover .accent3 {
    background:@menu3H;
  }
  &:hover .accent4 {
    background:@menu4H;
  }

  &:hover .logo-text {
    text-decoration: underline;
  }
  
  .logo-text {
    .serif {
      font-family: 'Radley';
      line-height: @navbar-height;
      font-size: 20px;
      font-weight: 600;
    }
    .sans-serif {
      // padding-left: 4px;
      line-height: 35px;
      letter-spacing: 0.15em;
      font-weight: 100;      
      font-size: 18px;
    }
    float: left;
    padding: 0 10px;
    color: @color6;
    // color: #2200CC;
    background-color: white;
    margin:0;
    position: relative;
  }

  &:hover .logo-area {
    text-decoration: none;
  }

  .logo-area {
    float: left;
    // display:block;
    height: @navbar-height;
    // line-height: @navbar-height;
    padding: 12px 12px 0;
    background: #E0E0E0;
    color: #777;
    // lighten(@footer-color, 30%);
    // color: white;
    // color:black;
    font-size: 12px;
    margin:0;
  }
}

.footer, .footer-fixed {
  background: @footer-color;
  p {
    margin: 0;
    padding-top: 2px; 
    padding-right: 100px;
    overflow: hidden;
    height: @menu-height;
    line-height: @menu-height;
    color: #ededed; 
  }
}

/* MARGINLESS STYLES */
/* fixed footer */
.footer-fixed {
  position:fixed;
  bottom:0;
  width: 100%;
  p {
    margin-left: 24px !important;
  }
}

.wrap-fixed {
  position: relative;
  height: 95%;
  height: ~"-webkit-calc(100% - @{footer-height})";
  height: ~"-moz-calc(100% - @{footer-height})";
  height: ~"calc(100% - @{footer-height})";
}

/*.navbar-fixed {
  padding: 0 !important;
  .navbar-logo {
    padding-left: 5px;
  }
  .button-to-edge {
    padding-right: 40px !important;
  }
}

.col-lg-fixed {
  padding: 0 !important;
}*/

.full-height {
  height: 100%;
}

/* sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -@footer-height;
}

/* Set the fixed height of the footer here */
.push, .footer {
  height: @footer-height;
}

/* Flatten das boostrap */
.well, .navbar-inner, .popover, .btn, .tooltip, input, .input-group-addon, select, textarea, pre, .progress,
.modal, .add-on, .alert, .table-bordered, .nav>.active>a, .nav-tabs>li>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  // background-image: none !important;
}

select:focus {
  outline: none !important;
}

@media (max-width: 767px) {
  body {
    padding:0;
  }
}

.affix{
  width: 100%;
}
