@import "variables.less";

a {
  color: @craigslistBlue;
  &:hover {
    color: darken(@craigslistBlue, 20%);
  }
}

.navbar {
  border-bottom: 1px solid darken(@navbar-color, 30%);
  background: @navbar-color;
  min-height: 0px;
  padding-bottom: 0px;
  .username-item {
    z-index: 3;
    padding-right: 3px;    
  }

  .settings-cog {
    padding-left: 7px;
    padding-right: 10px;

  
  &:hover{
    background-color: #d5d5d5 !important;
  }

  a:focus{
    background-color: #d5d5d5 !important;
  }

  &:active{
    background-color: #d5d5d5 !important; 
  }

  }  


}

.dropdown.open{
  .settings-cog.active{
    background-color: #d5d5d5 !important;
  }
}


ul.navbar-nav > li > a {
  outline: none;
  color: grey;
}

.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
  outline: none;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background: none;
  color: inherit;
}


button.navbar-toggle{
  background-color: grey;
  padding: 6px 8px;
  margin-bottom: 0;
  margin-top: 4px; 

  &.collapsed{
    background-color: transparent;
    padding: 6px 8px;
    border-color: grey;

    span.icon-bar{
      background-color: grey;
    }
  }

  span.icon-bar{
    background-color: white;
  }
}
.navbar .dropdown-menu {

  // background: #eee#d5d5d5
  margin: 0;
  padding: 0;
  border-top: none;
  min-width: 111px;

  > li > a {
    padding: 5px 10px;
    // text-align: right;
    // border-bottom: 1px solid #eee;
  }
}

// @media (min-width: 768px) {
//   .navbar > .nav.navbar-nav.pull-right {
//     position:relative;
//     right: 5px;
//   }

//   .container > .nav.navbar-nav.pull-right {
//     position:relative;
//     right: -15px;
//   }
// }


ul.navbar-nav {

  > li > a {
    height: @navbar-height;
    line-height: @navbar-height;
    padding-top: 0;
    padding-bottom: 0;
  }

  li a {
    font-size: 12px;

    &.active {
      background-color: #E0E0E0;
    }

    &.blue-menu-item {
      background-color:  lighten(@craigslistBlue, 40%); // #D3D9F2;
      color: white;
    }

    &:hover .nav-item-text {
      text-decoration: underline;
    }

    // .nav-item-text {
    //   margin-right: 4px;
    // }

    .glyphicon{
      display: inline;        
      vertical-align: middle; 
    }
  }
}

.navbar-logo {
  float: left;
  display:block;
  position: relative;
  left: -4*@accent-width + 5;

  .accent {
    float:left;
    height: @navbar-height;
    width: @accent-width;
  }
  .accent1 {
    background:@menu1;
  }
  .accent2 {
    background:@menu2;
  }
  .accent3 {
    background:@menu3;
  }
  .accent4 {
    background:@menu4;
  }

  &:hover .accent1 {
    background:@menu1H;
  }
  &:hover .accent2 {
    background:@menu2H;
  }
  &:hover .accent3 {
    background:@menu3H;
  }
  &:hover .accent4 {
    background:@menu4H;
  }

  &:hover .logo-text {
    text-decoration: underline;
  }
  
  .logo-text {
    .serif {
      font-family: 'Radley';
      line-height: @navbar-height;
      font-size: 20px;
      font-weight: 600;
    }
    .sans-serif {
      // padding-left: 4px;
      line-height: 35px;
      letter-spacing: 0.15em;
      font-weight: 100;      
      font-size: 18px;
    }
    float: left;
    padding: 0 20px;
    color: @color6;
    // color: #2200CC;
    background-color: white;
    margin:0;
    position: relative;
  }

  &:hover .logo-area {
    text-decoration: none;
  }

  .logo-area {
    float: left;
    // display:block;
    height: @navbar-height;
    // line-height: @navbar-height;
    padding: 12px 12px 0;
    background: #E0E0E0;
    color: #777;
    // lighten(@footer-color, 30%);
    // color: white;
    // color:black;
    font-size: 12px;
    margin:0;
  }
}

.container .navbar-logo {
  left: -4*@accent-width;
}


.footer, .footer-fixed {
  background: @footer-color;
  p {
    margin: 0;
    padding-top: 2px; 
    padding-right: 100px;
    overflow: hidden;
    height: @menu-height;
    line-height: @menu-height;
    color: #ededed; 
  }
}

/* MARGINLESS STYLES */
/* fixed footer */
.footer-fixed {
  position:fixed;
  bottom:0;
  width: 100%;
  p {
    margin-left: 24px !important;
  }
}

.wrap-fixed {
  position: relative;
  height: 95%;
  height: ~"-webkit-calc(100% - @{footer-height})";
  height: ~"-moz-calc(100% - @{footer-height})";
  height: ~"calc(100% - @{footer-height})";
}

/*.navbar-fixed {
  padding: 0 !important;
  .navbar-logo {
    padding-left: 5px;
  }
  .button-to-edge {
    padding-right: 40px !important;
  }
}

.col-lg-fixed {
  padding: 0 !important;
}*/

.full-height {
  height: 100%;
}

/* sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -@footer-height;
}

/* Set the fixed height of the footer here */
.push, .footer {
  height: @footer-height;
}

/* Lastly, apply responsive CSS fixes as necessary */
// @media (max-width: 767px) {
//   .footer {
//     margin-left: -20px;
//     margin-right: -20px;
//     padding-left: 20px;
//     padding-right: 20px;
//   }
// }

/* Flatten das boostrap */
.well, .navbar-inner, .popover, .btn, .tooltip, input, .input-group-addon, select, textarea, pre, .progress,
.modal, .add-on, .alert, .table-bordered, .nav>.active>a, .nav-tabs>li>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  // background-image: none !important;
}

select:focus {
  outline: none !important;
}

@media (max-width: 767px) {
  body {
    padding:0;
  }
}

// Make submit button on forms the same size as inputs
form.fixed-width-form {
  input[type='submit'] {
    height: 38px !important;
    width: 100% !important;
    margin-bottom: 10px;
  }
}

div[data-toggle-name="default_seller_type"] {
    button {
    width: 50%;
  }
}


