{% load thumbnail %}
{% spaceless %}
{# <!DOCTYPE> #}
<table border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td>
			<table border="1" cellspacing="0" cellpadding="0" width="800" align="center" bordercolor="#D2DADD" style="border-collapse:collapse; border: 1px solid #D2DADD;">
				<tr>
					<td bgcolor="#FFFFFF">
						<table border="0" cellspacing="0" cellpadding="15">
							{% if photos %}
							<tr>
								<td width="460">
									{% with photos|first as first_photo %}
									<a href="{{ listing.get_absolute_url }}" target="_blank">
										<img src="{{MEDIA_URL}}{{ first_photo.url}}" width="400" />
									</a>									
									{% endwith %}
								</td>
							</tr>
							<tr>
								<td>
									<font face="Verdana, Geneva, sans-serif" size="-1">
										<strong>Links to full size images:</strong>
									</font>
									<br /><br />
									{% for photo in photos %}
										{% thumbnail photo.url "100x100" as im %}
										<a href="{{ listing.get_absolute_url }}#{{ photo.order}}" target="_blank"><img src="{{ im.url }}" data-full="{{ MEDIA_URL }}{{ photo.url }}" data-id="{{ photo.order }}"></a>
										{% endthumbnail %}
									{% endfor %}
								</td>
							</tr>
							{% endif %}
						</table>
						<table border="0" cellspacing="0" cellpadding="15">
							<tr>
								<td width="800" align="center">
									<font face="Arial, Helvetica, sans-serif" size="-1">
										{% if listing.listing_type.name == 'Private' %}
											<p>For Sale by Owner</p>
										{% elif listing.listing_type.name == 'Dealer' %}
											<p>For Sale by Dealer</p>
										{% else %}
											<p>{{ listing.listing_type.name }}</p>
										{% endif %}
									</font>
								</td>
							</tr>
						</table>
						<table border="0" cellspacing="0" cellpadding="10" align="center" width="600">
							<tr>
								<td colspan="2">
									<table border="1" cellspacing="0" cellpadding="10" width="100%" bordercolor="#D2DADD" style="border-collapse: collapse;">
										<tr>
											<td>
												<font face="Arial, Helvetica, sans-serif" size="+1"><b>Description</b></font>
												<br/>
												<font face="Verdana, Geneva, sans-serif" size="2">{{listing.description|linebreaks }}</font>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							{% if highlights %}
							<tr>
								<td>
									<table border="1" cellspacing="0" cellpadding="10" bordercolor="#D2DADD" style="border-collapse: collapse;" width="100%">
										<tr>
											<td>
												<font face="Arial, Helvetica, sans-serif" size="+1"><b>Highlights</b></font><br /><br />    
												<font face="Verdana, Geneva, sans-serif" size="-1">
													<ul>
														{% for highlight in highlights %}
															<li>{{highlight.highlight}}</li>
														{% endfor %}
													</ul>
												</font> 
											</td>
										</tr>
									</table>
								</td>
							</tr>
							{% endif %}
							{% if listing.location %}
							<tr>
								<td colspan="2">
									<h3><font face="Arial, Helvetica, sans-serif">Location: <a href="https://maps.google.com?q={{ listing.location|urlencode }}"><i>{{listing.location}}</i></a></font></h3>
									<p><font face="Arial, Helvetica, sans-serif" size="-1"></font></p>
								</td>
							</tr>
							{% endif %}
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table border="0" cellspacing="0" cellpadding="10" width="800">
							<tr>
								<td valign="middle" align="center" width="75" bgcolor="#F2F5F6" height="50"><a href="http://www.rocketlistings.com/" rel="nofollow"><img src="{{ STATIC_URL }}img/icon-footnote.png" alt="" /></a>
								</td>
								<td valign="middle" align="center" bgcolor="#E7EDEF"><font face="Verdana, Geneva, sans-serif" size="-2">Created with <a href="http://www.rocketlistings.com/" rel="nofollow">Rocket Listings</a>. Blast off.</font>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endspaceless %}
