.user-profile-table-group {
  float: left;
}
.user-profile-table-group .user-profile-table tbody tr td a {
  float: right;
}
.user-profile-table-group .user-profile-table tbody tr td span {
  float: right;
}
.user-profile-table-group .user-profile-table tbody tr td:nth-child(1) {
  width: 150px;
}
.user-profile-table-group .user-profile-table tbody tr td:nth-child(2) {
  width: 300px;
}
.user-profile-table-group .user-profile-table tbody tr td.bio {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-profile-table-group .user-profile-table tbody tr td.form-partial {
  padding: 3px 5px 0 1px;
}
.user-profile-table-group .user-profile-table tbody tr.in-edit {
  background-color: #ededed;
}
/*.user-email-box{
	float: right;
	text-align: center;
	font-family: "Open sans", "Helvetica", Arial;
	font-size: 25px;
	color: #222F33;
	line-height: 45px;
	font-weight: 700;
	text-shadow: 1px 1px 5px #aebec6;
	margin-bottom: 10px;
}
.user-email-instruction{
	font-size: 13px;
}*/
/*.user-profile-table {
	width: 400px;
}*/
.user-info-buttons a {
  float: left;
  margin-right: 10px;
}
.login-register-box {
  width: 680px;
  margin: 0 auto;
  padding: 10px;
}
.login-register-box .login-form {
  padding: 10px;
  float: left;
  border-right: 1px solid #d2dadd;
  padding-right: 128px;
}
.login-register-box .register-form {
  padding: 10px;
  float: right;
}
.profile-picture {
  width: 300 px;
  height: 300 px;
  margin-right: 14px;
  margin-bottom: 14px;
}
.profile_heading {
  border-bottom-style: solid;
  border-width: 5px;
  padding: 15px;
}
.profile_user_info {
  display: inline-block;
  font-size: 18px;
  color: #B2B2B2;
  height: auto;
}
.profile_user_info .name {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
}
.profile-bio {
  display: inline;
  width: 200px;
  height: 200px
	height: auto;
  float: right;
  text-overflow: ellipsis;
}
.readmore {
  height: 150px;
}
#map-canvas {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 200px;
  float: right;
}
.thumbnail {
  text-align: center;
}
.thumbnail-price {
  font-size: 14px;
  color: #B2B2B2;
}
.thumbnail-title {
  font-size: 14px;
}
#slider-code {
  height: 125px;
  overflow: hidden;
}
#slider-code .viewport {
  float: left;
  width: 240px;
  height: 125px;
  overflow: hidden;
  position: relative;
}
#slider1 .buttons {
  background: url("users/static/images/buttons.png") no-repeat scroll 0 0 transparent;
  display: block;
  margin: 30px 10px 0 0;
  background-position: 0 -38px;
  text-indent: -999em;
  float: left;
  width: 39px;
  height: 37px;
  overflow: hidden;
  position: relative;
}
#slider-code .next {
  margin: 30px 0 0 10px;
}
#slider-code .disable {
  visibility: hidden;
}
#slider-code .overview {
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}
#slider-code .overview li {
  float: left;
  margin: 0 20px 0 0;
  padding: 1px;
  height: 121px;
  border: 1px solid #dcdcdc;
  width: 236px;
}
.form {
  margin: 0;
}
.form li {
  list-style-type: none;
}
.form .errorlist {
  color: red;
}
.form input,
.form textarea,
.form select {
  width: 200px;
}
.centered-td {
  text-align: center !important;
}
.stay-color {
  color: black;
}
.th-sortable {
  background: url("desc.gif") right center no-repeat;
  padding-right: 15px;
}
