<div id="comment-form">
	<div id="modal-header">
		<div id="comment-form-title">Comment Form</div>
		<button class="close" type="button" data-dismiss="modal">x</button>
		<h3>Please let us know what you think.</h3>
		<br>
		<span class="unstyled">
			<h1>Comments</h1>
			<p>Good feedback is what the <strong>best sellers</strong>  have on their profile. Make sure you give your honest opinion:
			</p>
		</span>
	</div>
	<form id="modal-comment-data body" action="POST" >
		Name: <input type = "text" name="name" value="comentor_name"><br>
		Email: <input type="email" name="email" value="comentor_email"><br>
		<textarea name="comments" id="comments">
			Hey... tell us what you think about {{ user.username }}
		</textarea><br>
		<input type="submit" value="Submit Comment"/>
	</form>
</div>
