{% load static from staticfiles %}

<div class="row profile-header">
	<div class="span2 profile-picture">
		{% if user.get_profile.propic %}
			<img class="thumbnail" src="{{ user.get_profile.propic }}" width="150px">
		{% else %}
			<img class="thumbnail" src=" {% static 'users/img/no-photo.png' %}" width="150px">
		{% endif %}
		{% if request.user == user %}
					<a href="{% url 'users.views.info' %}">Edit profile</a>
		{% endif %}
	</div>
	<div class="span5">
		<div class="row">
			{% if user.get_profile.name and not user.get_profile.nameprivate or request.user == user and user.get_profile.name %}
				<div class="span2">
						<h3>{{user.get_profile.name}}</h3>
				</div>
				<div class="span3">
					{% if not user.get_profile.locationprivate %}
						<h5>{{user.get_profile.location}}</h5>
					{% endif %}
				</div>
			{% endif %}
		</div>
		<div class="row">
			<div class="span2">
				<h4 class="muted">{{user.username}}</h4>	
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h4 class="text-success">user rating{{user.rating}}</h4>	
			</div>
		</div>
		<div class="row">
			<div class="span5">
				{% if user.get_profile.bio %}
					<p>{{user.get_profile.bio}}</p>
				{% else %}
					{% if request.user == user %}
						<p>Looks like you don't have a bio! <a href="{% url 'users.views.info' %}">Update</a> your profile and add one.</p>
					{% else %}
						<p>Sorry, but {{user.username}} doesn't have a bio.</p>
					{% endif %}
				{% endif %}
			</div>
		</div>	
	</div>
</div>
		