{% if request.user != user %}
<div class="comment-form-container">

	<div class="errors alert alert-error hide"></div>
	<form action="" class="comment-form" method="POST">
		<ul class="inline clearfix">
			<li><label for="title"></label><input placeholder="Title" type="text" name="title"></li>
			<li><label for="email"></label><input placeholder="Email (hidden)" type="text" name="email"></li>	
			
		</ul>
		<ul class="inline clearfix">
			<div class="row">
				<div class="span1">
					<p>Seller Rating: </p>	
				</div>
				<div class="span4">
					<div class="btn-group" data-toggle="buttons-radio" name="rating">
  						<button type="button" class="btn btn-info btn-red" data-toggle="button"><input name="rating" value="1" type="hidden">Scammer</button>
  						<button type="button" class="btn btn-lightred"><input name="rating" value="2" type="hidden">Headache</button>
  						<button type="button" class="btn btn-lightgreen"><input name="rating" value="3" type="hidden">Solid</button>
  						<button type="button" class="btn btn-green"><input name="rating" value="4" type="hidden">Superstar</button>
					</div>
				</div>
		</ul>
		<textarea class="comment-textarea" placeholder="Give {{user.username}} some feedback here" name="comment" rows="3"></textarea><br>
		<input class="btn btn-info comment-submit" type="submit" value="Submit">
		
	</form>
</div>
{% endif %}



