
<h4>Comments from Buyers</h4>
<div class="comment-body">
{% if comments %}
	{% for comment in comments|slice:":5" %}
		<div class="each-comment">
				<h5>{{comment.title}}</h5>
				<h6>By: {{comment.name}} on {{comment.date_posted}}</h6>
				<p>{{comment.comment}}</p>
		</div>
	{% endfor %}
{% elif request.user == user %}
		<h5>No one has commented on your skills as a seller, so next time you sell something make sure you ask the buyer for some feedback.</h5>
{% else %}
		<p class="muted">Sorry, but {{user.username}} doesn't have any feedback from buyers...yet</p>
{% endif %}
</div>