{% load static from staticfiles %}
	<div class="profile-selling">
		<h4>Listings </h4>
			{% if listings %}
			<div class="row">
					{% for listing in listings %}
					<div class="span2">
					<a class="thumbnail" href="{{ listing.get_absolute_url }}">
						{% if photos %}
							{% for photo in photos|slice:":1" %}
							<img src="photo.url">
							{% endfor %}
						{% else %}
							<img src="{% static 'users/img/sail.jpg' %}">
						{% endif %}
						<h5>{{listing.title}} - ${{listing.price}}</h5>
						<p>{{listing.description}}</p>
						
					</a>
				</div>
					{% endfor %}
				
			</div>
			
			{% else %}
				{% if request.user == user  %}
				<p> You haven't created any listings yet, <a href="/listings/create"> click here</a> to get started.</p>
				{% else %}
					<p> Sorry, {{user.username}} hasn't created any listings yet. </p>
				{% endif %}		
			{% endif %}
	</div>

