{% if not request.user.is_authenticated %}
<div class="comment-form-container">

	<div class="errors alert alert-error hide"></div>
	<form action="" class="comment-form form inline" method="POST">
			<label for="title"></label><input placeholder="Title" type="text" name="title">
			<label for="email"></label><input placeholder="Email (hidden)" type="text" name="email">
			<div class="row rating-span">
				<div class="col-lg-1">
					<p>Rating: </p>	
				</div>
				<div class="col-lg-8">
					<div class="btn-group" data-toggle="buttons" name="rating">
  						<button type="button" class="btn btn-danger"><input type="radio" name="rating" value="0" type="hidden">Scammer</button>
  						<button type="button" class="btn btn-warning"><input name="rating" type="radio" value="4" type="hidden">Frustrating</button>
  						<button type="button" class="btn btn-info"><input name="rating" type="radio" value="6" type="hidden">Fine</button>
  						<button type="button" class="btn btn-primary"><input name="rating" type="radio" value="10" type="hidden">Reliable</button>
					</div>
				</div>
			</div>
		<textarea class="comment-textarea" placeholder="Give {{url_user.username}} some feedback here" name="comment" rows="3"></textarea>
		<input class="btn comment-submit" type="submit" value="Submit">
		
	</form>
</div>
<div class="comment-thanks">
	<h4 class="muted"> Thanks for your feedback!</h4>
</div>
{% endif %}





