{% load humanize %}
<div class="seller-stats">
	<h4>Lifetime Stats</h4>
	<table class="table table-striped table-stats">
		<tr>
			<th>Total Listings:</th>
			<td> {{listings|length }}</td>
		</tr>
		<tr>
			<th>Member Since:</th>
			<td>{{user.date_joined|naturaltime}}</td>
		</tr>
		<tr>
			<th>Listing Views:</th>
			<td></td>
		</tr>
		<tr>
			<th>Profile Views:</th>
			<td></td>
		</tr>

		{% if owner %}
			<tr>
				<th>Listing Credits:</th>
				<td>{{credits}}</td>
			</tr>
		{% endif %}

	</table>
</div>
