.user-profile-table-group{
	.user-profile-table {
		tbody {
			tr {
				td {
					a {
						float: right;
					}
					span {
						float: right;
					}
					&:nth-child(1) {
						text-align: right;
						width: 150px;
					}
					&:nth-child(2) {
						width: 300px;
					}
					&.bio {
						max-width: 300px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					&.form-partial {
						input.btn {
							float: right;
						}
						padding: 3px 5px 0 1px;
					}
					code {
						font-size: 10pt;
					}
					span.partial-submit {
						margin: 5px 3px 0 0;
					}
					textarea {
						width: 290px;
						max-width: 290px;
					}
				}
				&.in-edit {
					background-color: #ededed;
				}	
			}
		}
	}
	span.edit-all-wrapper {
		float: right;
		margin: -5px 5px 0 0;
	}
	span.view-profile-wrapper {
		float: right;
		margin: -5px 5px 0 0;
	}
	span.h4 {
		width: 200px;
		font-size: 14pt;
	}
	float: left;
}

.capital {
	text-transform: capitalize;
}

/*.user-email-box{
	float: right;
	text-align: center;
	font-family: "Open sans", "Helvetica", Arial;
	font-size: 25px;
	color: #222F33;
	line-height: 45px;
	font-weight: 700;
	text-shadow: 1px 1px 5px #aebec6;
	margin-bottom: 10px;
}
.user-email-instruction{
	font-size: 13px;
}*/


/*.user-profile-table {
	width: 400px;
}*/

.login-register-box {
	width:680px;
	margin: 0 auto;
	padding: 10px;

	.login-form {
		padding:10px;
		float:left;
		border-right: 1px solid #d2dadd;
		padding-right: 128px;
	}

	.register-form {
		padding:10px;
		float:right;
	}

}

.profile-content {
	.profile-header {
		margin-left: 0px;
		.profile-picture {
		margin-bottom: 0px;
		height: 210px;
			img.thumbnail {
				border-radius: 0px;
			 	-webkit-border-radius: 0px;
			 	-moz-border-radius: 0px;
			 	-o-border-radius: 0px;
			 	height: 200px
			 	width: 200px;
				}
	 	}
	 	span.sub-username {
	 		font-size: 20px;
	 		color: #777;
	 	}
	 	.profile-info {
	 		text-align: left;
	 		border-right: solid 1px #DDD;
	 		padding-right: 30px;
	 		margin-left: 10px;
	 		min-height: 210px;
	 		.name-wrapper {
	 			height: 80px;
	 			ul {
	 				padding: 0;
	 				margin: 0;
	 				li {
	 					padding: 0;
	 					margin: 0;
	 				}
	 			}
	 		}
	 		.profile-bio {
	 			margin: 20px 0 0 0;
	 		}
	 		.edit-profile, .send-message {
	 			margin-top: 15px;
	 		}
	 	}
	 	.profile-stats {
	 		text-align: center;
	 		h3 {
	 			font-size: 20px;
	 		}
	 	}
	}
	div.separator {
		height: 1px;
		background-color: #DDD;
		margin: 20px 0;
	}
}

#dot3 {
	height: 150px;
}

 #map-canvas {
    margin: 0;
    padding: 0;
    height: 200px;
    width: 200px;      
    float: right;
}

.thumbnail {
	text-align: center;
}

.thumbnail-price {
	font-size: 14px;
	color: #B2B2B2;
}

.thumbnail-title {
	font-size: 14px;
}


#slider-code { 
height: 125px; 
overflow:hidden; 
}

#slider-code .viewport { 
	float: left; 
	width: 240px; 
	height: 125px; 
	overflow: hidden; 
	position: relative; 
}
#slider1 .buttons { 
	background:url("users/static/images/buttons.png") no-repeat scroll 0 0 transparent;
	display: block;
	margin: 30px 10px 0 0; 
	background-position: 0 -38px;
	text-indent: -999em; 
	float: left; 
	width: 39px; 
	height: 37px; 
	overflow: hidden; 
	position: relative; 
}


#slider-code .next { 
margin: 30px 0 0 10px;  
}

#slider-code .disable { 
visibility: hidden; 
}

#slider-code .overview { 
list-style: none; 
padding: 0; 
margin: 0; 
left: 0; 
top: 0; 
}

#slider-code .overview li { 
float: left; 
margin: 0 20px 0 0; 
padding: 1px; 
height: 121px; 
border: 1px solid #dcdcdc;
width: 236px;
}




.form {
	margin:0;
	li {
		list-style-type: none;
	}
	.errorlist {
		color: red;
	}

	input, textarea, select {
		width: 200px;
	}
}

.centered-td{
	text-align: center !important;
}

.stay-color{
	color: black;
}

.th-sortable {
    background: url("desc.gif") right center no-repeat;
    padding-right: 15px;
}